Repository hypermodeinc/dgraph, pull requests merged in 2019-10, with the labels that each got.

#4054 GraphQL layer: Integration tests for skip, include and interfaces.
  dgraph/cmd/graphql/dgraph/query.go
  dgraph/cmd/graphql/dgraph/query_test.yaml
  dgraph/cmd/graphql/e2e_mutation_test.go
  dgraph/cmd/graphql/e2e_query_test.go
  dgraph/cmd/graphql/e2e_schema_test.go
  dgraph/cmd/graphql/e2e_test_schema.graphql
  dgraph/cmd/graphql/resolve/resolver.go
  dgraph/cmd/graphql/schema/wrappers.go
Labels: area/graphql

#4116 Fix how we handle errors in GraphQL mutations
  dgraph/cmd/graphql/dgraph/dgo.go
  dgraph/cmd/graphql/e2e_mutation_test.go
  dgraph/cmd/graphql/resolve/mutation.go
  dgraph/cmd/graphql/resolve/resolver.go
  dgraph/cmd/graphql/resolve/resolver_error_test.go
Labels: area/graphql

#4121 GraphQL: Minor improvements to tests.
  dgraph/cmd/graphql/e2e_mutation_test.go
  dgraph/cmd/graphql/e2e_query_test.go
  dgraph/cmd/graphql/e2e_schema_test.go
  dgraph/cmd/graphql/e2e_test.go
  dgraph/cmd/graphql/http.go
  dgraph/cmd/graphql/schema/gqlschema_test.yml
  dgraph/cmd/graphql/schema/rules.go
  dgraph/cmd/graphql/schema/schemagen.go
  dgraph/cmd/graphql/schema/schemagen_test.go
  dgraph/cmd/graphql/schema/schemagen_test.yml
Labels: area/graphql

#4115 GraphQL: Preprocess dgraphPredicate and other information at startup.
  dgraph/cmd/graphql/dgraph/mutation.go
  dgraph/cmd/graphql/dgraph/query.go
  dgraph/cmd/graphql/http.go
  dgraph/cmd/graphql/run.go
  dgraph/cmd/graphql/schema/request.go
  dgraph/cmd/graphql/schema/schemagen.go
  dgraph/cmd/graphql/schema/wrappers.go
Labels: area/graphql

#4123 Remove gqlerror in favour of x.GqlError
  dgraph/cmd/graphql/dgraph/mutation.go
  dgraph/cmd/graphql/dgraph/mutation_test.go
  dgraph/cmd/graphql/dgraph/query.go
  dgraph/cmd/graphql/http.go
  dgraph/cmd/graphql/resolve/mutation.go
  dgraph/cmd/graphql/resolve/resolver.go
  dgraph/cmd/graphql/resolve/resolver_error_test.go
  dgraph/cmd/graphql/resolve/resolver_error_test.yaml
  dgraph/cmd/graphql/schema/errors.go
  dgraph/cmd/graphql/schema/errors_test.go
  dgraph/cmd/graphql/schema/request.go
  dgraph/cmd/graphql/schema/response.go
  dgraph/cmd/graphql/schema/response_test.go
  dgraph/cmd/graphql/schema/wrappers.go
  x/x.go
  x/x_test.go
Labels: area/graphql

#4135 light touches on error messages
  dgraph/cmd/graphql/resolve/mutation.go
  dgraph/cmd/graphql/resolve/query.go
  dgraph/cmd/graphql/resolve/resolver.go
  dgraph/cmd/graphql/resolve/resolver_error_test.go
Labels: area/graphql

#4126 Fix panic handling in GraphQL layer
  dgraph/cmd/graphql/api/panics.go
  dgraph/cmd/graphql/e2e_error_test.go
  dgraph/cmd/graphql/e2e_mutation_test.go
  dgraph/cmd/graphql/e2e_test.go
  dgraph/cmd/graphql/resolve/resolver.go
  dgraph/cmd/graphql/run.go
  dgraph/cmd/graphql/web/http.go
Labels: area/graphql

#4129 fix mutation paths
  dgraph/cmd/graphql/e2e_mutation_test.go
  dgraph/cmd/graphql/resolve/mutation.go
  dgraph/cmd/graphql/resolve/resolver_error_test.go
Labels: area/graphql

#4098 Searchable changed to search
  dgraph/cmd/graphql/dgraph/schema.graphql
  dgraph/cmd/graphql/e2e_test_schema.graphql
  dgraph/cmd/graphql/schema/gqlschema.go
  dgraph/cmd/graphql/schema/gqlschema_test.yml
  dgraph/cmd/graphql/schema/rules.go
  dgraph/cmd/graphql/schema/schemagen.go
  dgraph/cmd/graphql/schema/schemagen_test.go
  dgraph/cmd/graphql/schema/schemagen_test.yml
  dgraph/cmd/graphql/schema/testdata/schemagen/input/interfaces-with-types.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/input/no-id-field-with-searchables.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/input/searchables-references.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/input/searchables.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/input/type-implements-multiple-interfaces.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/enums-generate-nothing.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/hasInverse.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/no-id-field.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/searchables-references.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/searchables.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/single-type.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/type-reference.graphql
Labels: area/graphql

#4103 Added GET Request to Graphql
  dgraph/cmd/graphql/e2e_mutation_test.go
  dgraph/cmd/graphql/e2e_test.go
  dgraph/cmd/graphql/web/http.go
Labels: area/graphql

#4101 Trigram change to Regexp
  dgraph/cmd/graphql/dgraph/schema.graphql
  dgraph/cmd/graphql/schema/gqlschema.go
  dgraph/cmd/graphql/schema/gqlschema_test.yml
  dgraph/cmd/graphql/schema/rules.go
  dgraph/cmd/graphql/schema/schemagen.go
  dgraph/cmd/graphql/schema/schemagen_test.go
  dgraph/cmd/graphql/schema/schemagen_test.yml
  dgraph/cmd/graphql/schema/testdata/schemagen/output/enums-generate-nothing.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/hasInverse.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/no-id-field.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/searchables-references.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/searchables.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/single-type.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/type-reference.graphql
Labels: area/graphql

#4102 Added gzip to graphql layer
  dgraph/cmd/graphql/e2e_query_test.go
  dgraph/cmd/graphql/e2e_test.go
  dgraph/cmd/graphql/web/http.go
Labels: area/graphql

#4119 Breaking change: Remove expand(_forward_) and expand(_reverse_).
  gql/parser.go
  gql/parser_test.go
  query/query.go
  query/query4_test.go
  wiki/content/query-language/index.md
Labels: breaking_change

#4120 Breaking change: Change _all_ functionality to only include the preds in the type.
  query/common_test.go
  query/query.go
  wiki/content/query-language/index.md
Labels: breaking_change

#4130 Add some e2e GraphQL validation tests
  dgraph/cmd/graphql/e2e_error_test.go
  dgraph/cmd/graphql/e2e_error_test.yaml
Labels: area/graphql

#4139 GraphQL API Headers
  dgraph/cmd/graphql/e2e_test.go
  dgraph/cmd/graphql/web/http.go
Labels: area/graphql

#4162 Refactor GraphQL pipeline
  dgraph/cmd/graphql/dgraph/dgo.go
  dgraph/cmd/graphql/dgraph/graphquery.go
  dgraph/cmd/graphql/e2e_error_test.go
  dgraph/cmd/graphql/resolve/delete_mutation_test.yaml
  dgraph/cmd/graphql/resolve/mutation.go
  dgraph/cmd/graphql/resolve/mutationRewriter.go
  dgraph/cmd/graphql/resolve/mutation_query_test.yaml
  dgraph/cmd/graphql/resolve/mutation_test.go
  dgraph/cmd/graphql/resolve/mutation_test.yaml
  dgraph/cmd/graphql/resolve/query.go
  dgraph/cmd/graphql/resolve/queryRewriter.go
  dgraph/cmd/graphql/resolve/query_test.go
  dgraph/cmd/graphql/resolve/query_test.yaml
  dgraph/cmd/graphql/resolve/resolver.go
  dgraph/cmd/graphql/resolve/resolver_error_test.go
  dgraph/cmd/graphql/resolve/schema.graphql
  dgraph/cmd/graphql/run.go
  dgraph/cmd/graphql/schema/introspection.go
  dgraph/cmd/graphql/schema/introspection_test.go
  dgraph/cmd/graphql/schema/wrappers.go
  dgraph/cmd/graphql/web/http.go
Labels: area/graphql

#4161 Using the minimal query to obtain unique nodes
  wiki/content/tips/index.md
Labels: area/documentation

#4164 Adding more description about mutation flag
  wiki/content/deploy/index.md
Labels: area/documentation

#4124 Added support for multiple @searchables
  dgraph/cmd/graphql/e2e_query_test.go
  dgraph/cmd/graphql/e2e_test_schema.graphql
  dgraph/cmd/graphql/resolve/schema.graphql
  dgraph/cmd/graphql/schema/gqlschema.go
  dgraph/cmd/graphql/schema/gqlschema_test.yml
  dgraph/cmd/graphql/schema/rules.go
  dgraph/cmd/graphql/schema/schemagen.go
  dgraph/cmd/graphql/schema/schemagen_test.go
  dgraph/cmd/graphql/schema/schemagen_test.yml
  dgraph/cmd/graphql/schema/testdata/schemagen/input/interfaces-with-types.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/input/searchables-references.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/input/searchables.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/input/type-implements-multiple-interfaces.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/enums-generate-nothing.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/hasInverse.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/no-id-field.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/searchables-references.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/searchables.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/single-type.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/type-reference.graphql
Labels: area/graphql

#4177 Added some schema rules to dgraph layer
  dgraph/cmd/graphql/schema/gqlschema.go
  dgraph/cmd/graphql/schema/gqlschema_test.yml
  dgraph/cmd/graphql/schema/rules.go
Labels: area/graphql

#4137 GraphQL: Allow updates for multiple ids and using filters
  dgraph/cmd/graphql/dgraph/dgo.go
  dgraph/cmd/graphql/e2e_mutation_test.go
  dgraph/cmd/graphql/resolve/mutation_rewriter.go
  dgraph/cmd/graphql/resolve/mutation_test.go
  dgraph/cmd/graphql/resolve/mutation_test.yaml
  dgraph/cmd/graphql/resolve/query_rewriter.go
  dgraph/cmd/graphql/resolve/resolver_error_test.go
  dgraph/cmd/graphql/schema/gqlschema.go
  dgraph/cmd/graphql/schema/testdata/schemagen/output/hasInverse.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/no-id-field.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/searchables-references.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/searchables.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/single-type.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/type-reference.graphql
  dgraph/cmd/graphql/schema/wrappers.go
  go.mod
  go.sum
Labels: area/graphql

#4220 [WIP] Fix interfaces+hasInverse
  dgraph/cmd/graphql/schema/gqlschema.go
  dgraph/cmd/graphql/schema/rules.go
Labels: area/graphql

#4221 Fix interface ref types
  dgraph/cmd/graphql/schema/gqlschema.go
  dgraph/cmd/graphql/schema/schemagen.go
  dgraph/cmd/graphql/schema/schemagen_test.go
  dgraph/cmd/graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
Labels: area/graphql

#4222 Fix field look up for interfaces
  dgraph/cmd/graphql/schema/wrappers.go
Labels: area/graphql

#4208 remove 'dgraph graphql init ...'
  dgraph/cmd/graphql/admin/admin.go
  dgraph/cmd/graphql/admin/health.go
  dgraph/cmd/graphql/admin/schema.go
  dgraph/cmd/graphql/admin_test.go
  dgraph/cmd/graphql/docker-compose.yml
  dgraph/cmd/graphql/e2e_test.go
  dgraph/cmd/graphql/run.go
  dgraph/cmd/graphql/web/http.go
Labels: area/graphql

#4226 Startup with introspection of empty schema
  dgraph/cmd/graphql/admin/admin.go
  dgraph/cmd/graphql/e2e_error_test.go
  dgraph/cmd/graphql/resolve/resolver.go
  dgraph/cmd/graphql/resolve/resolver_error_test.go
  dgraph/cmd/graphql/run.go
Labels: area/graphql
