Repository hypermodeinc/dgraph, pull requests merged in 2019-09, with the labels that each got.

#3870 refactor mutation rewriting
  dgraph/cmd/graphql/dgraph/mutation.go
  dgraph/cmd/graphql/dgraph/mutation_test.go
  dgraph/cmd/graphql/dgraph/mutation_test.yaml
  dgraph/cmd/graphql/dgraph/querybuilder_test.go
  dgraph/cmd/graphql/http.go
  dgraph/cmd/graphql/resolve/mutation.go
  dgraph/cmd/graphql/resolve/resolver.go
  dgraph/cmd/graphql/resolve/resolver_error_test.go
  dgraph/cmd/graphql/resolve/resolver_mutation_test.go
  dgraph/cmd/graphql/resolve/resolver_query_test.go
  dgraph/cmd/graphql/schema/request.go
  dgraph/cmd/graphql/schema/wrappers.go
  dgraph/cmd/graphql/test/test.go
Labels: area/graphql

#3897 Changes to query rewriting
  dgraph/cmd/graphql/dgraph/dgo.go
  dgraph/cmd/graphql/dgraph/graphquery.go
  dgraph/cmd/graphql/dgraph/mutation.go
  dgraph/cmd/graphql/dgraph/mutation_query_test.yaml
  dgraph/cmd/graphql/dgraph/mutation_test.go
  dgraph/cmd/graphql/dgraph/query.go
  dgraph/cmd/graphql/dgraph/query_test.go
  dgraph/cmd/graphql/dgraph/query_test.yaml
  dgraph/cmd/graphql/dgraph/querybuilder_test.go
  dgraph/cmd/graphql/http.go
  dgraph/cmd/graphql/resolve/mutation.go
  dgraph/cmd/graphql/resolve/query.go
  dgraph/cmd/graphql/resolve/resolver.go
  dgraph/cmd/graphql/resolve/resolver_error_test.go
  dgraph/cmd/graphql/resolve/resolver_query_test.go
  dgraph/cmd/graphql/schema/wrappers.go
  dgraph/cmd/graphql/test/test.go
Labels: area/graphql

#3895 Add searchable directive
  dgraph/cmd/graphql/schema/gqlschema.go
  dgraph/cmd/graphql/schema/gqlschema_test.yml
  dgraph/cmd/graphql/schema/rules.go
  dgraph/cmd/graphql/schema/schemagen.go
  dgraph/cmd/graphql/schema/schemagen_test.go
  dgraph/cmd/graphql/schema/schemagen_test.yml
  dgraph/cmd/graphql/schema/testdata/schemagen/output/enums-generate-nothing
  dgraph/cmd/graphql/schema/testdata/schemagen/output/hasInverse
  dgraph/cmd/graphql/schema/testdata/schemagen/output/single-type
  dgraph/cmd/graphql/schema/testdata/schemagen/output/single-type-with-enum
  dgraph/cmd/graphql/schema/testdata/schemagen/output/type-reference
Labels: area/graphql

#3941 fix list bug
  dgraph/cmd/graphql/schema/schemagen.go
  dgraph/cmd/graphql/schema/schemagen_test.yml
Labels: area/graphql

#3955 fix missing ID bug
  dgraph/cmd/graphql/schema/gqlschema.go
  dgraph/cmd/graphql/schema/testdata/schemagen/input/enums-generate-nothing.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/input/hasInverse.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/input/no-id-field.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/input/searchables-references.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/input/searchables.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/input/single-type-with-enum.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/input/single-type.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/input/type-reference.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/enums-generate-nothing.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/hasInverse.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/no-id-field.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/searchables-references.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/searchables.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/single-type.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/type-reference.graphql
Labels: area/graphql

#3953 GraphQL CORS
  dgraph/cmd/graphql/http.go
Labels: area/graphql

#3962 Touchup types docs
  wiki/content/query-language/index.md
Labels: area/documentation

#4002 Don't skip running short tests in test.sh.
  test.sh
Labels: area/testing

#4011 docs: Fix quoting issue in curl command.
  wiki/content/mutations/index.md
Labels: area/documentation

#4013 Vendor in Windows dependencies.
  vendor/github.com/inconshreveable/mousetrap/LICENSE
  vendor/github.com/inconshreveable/mousetrap/README.md
  vendor/github.com/inconshreveable/mousetrap/trap_others.go
  vendor/github.com/inconshreveable/mousetrap/trap_windows.go
  vendor/github.com/inconshreveable/mousetrap/trap_windows_1.4.go
  vendor/vendor.json
Labels: platform/windows

#4003 Support for skip and include directive.
  dgraph/cmd/graphql/dgraph/mutation_query_test.yaml
  dgraph/cmd/graphql/dgraph/mutation_test.go
  dgraph/cmd/graphql/dgraph/mutation_test.yaml
  dgraph/cmd/graphql/dgraph/query.go
  dgraph/cmd/graphql/dgraph/query_test.go
  dgraph/cmd/graphql/dgraph/query_test.yaml
  dgraph/cmd/graphql/resolve/resolver.go
  dgraph/cmd/graphql/schema/wrappers.go
Labels: area/graphql

#3978 End-to-end tests for add mutations (and schema)
  dgraph/cmd/graphql/docker-compose.yml
  dgraph/cmd/graphql/e2e_mutation_test.go
  dgraph/cmd/graphql/e2e_schema_test.go
  dgraph/cmd/graphql/e2e_test.go
  dgraph/cmd/graphql/e2e_test_schema.graphql
  dgraph/cmd/graphql/e2e_test_schema.txt
  vendor/github.com/google/go-cmp/cmp/cmpopts/equate.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/ignore.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/sort.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/struct_filter.go
  vendor/github.com/google/go-cmp/cmp/cmpopts/xform.go
  vendor/vendor.json
Labels: area/graphql

#4022 Add E2E tests for delete and update
  dgraph/cmd/graphql/dgraph/dgo.go
  dgraph/cmd/graphql/dgraph/graphquery.go
  dgraph/cmd/graphql/dgraph/mutation.go
  dgraph/cmd/graphql/e2e_mutation_test.go
  dgraph/cmd/graphql/e2e_query_test.go
  dgraph/cmd/graphql/e2e_test.go
  dgraph/cmd/graphql/resolve/mutation.go
  dgraph/cmd/graphql/resolve/resolver.go
Labels: area/graphql

#4029 Add some query E2E tests
  dgraph/cmd/graphql/e2e_mutation_test.go
  dgraph/cmd/graphql/e2e_query_test.go
  dgraph/cmd/graphql/e2e_schema_test.go
  dgraph/cmd/graphql/e2e_test.go
  dgraph/cmd/graphql/e2e_test_data.json
  dgraph/cmd/graphql/e2e_test_schema.graphql
  dgraph/cmd/graphql/resolve/resolver.go
Labels: area/graphql

#4026 Add support for interfaces to the GraphQL layer.
  dgraph/cmd/graphql/dgraph/mutation.go
  dgraph/cmd/graphql/dgraph/mutation_test.go
  dgraph/cmd/graphql/dgraph/mutation_test.yaml
  dgraph/cmd/graphql/dgraph/query.go
  dgraph/cmd/graphql/dgraph/query_test.yaml
  dgraph/cmd/graphql/dgraph/schema.graphql
  dgraph/cmd/graphql/schema/gqlschema.go
  dgraph/cmd/graphql/schema/gqlschema_test.yml
  dgraph/cmd/graphql/schema/rules.go
  dgraph/cmd/graphql/schema/schemagen.go
  dgraph/cmd/graphql/schema/schemagen_test.go
  dgraph/cmd/graphql/schema/schemagen_test.yml
  dgraph/cmd/graphql/schema/testdata/schemagen/input/interfaces-with-types.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/input/type-implements-multiple-interfaces.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  dgraph/cmd/graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  dgraph/cmd/graphql/schema/wrappers.go
Labels: area/graphql
