Repository hypermodeinc/dgraph, pull requests merged in 2020-11, with the labels that each got.

#6674 release/v20.07 - fix(gqlParser): Handle strings with only whitespace in parseID (#6615)
  gql/parser.go
  gql/parser_test.go
Labels: area/querylang

#6825 docs: Update Slash links
  wiki/config.toml
  wiki/content/_index.md
Labels: area/documentation

#6749 docs: (update) simple redesign of docs home page
  wiki/content/_index.md
  wiki/content/clients/_index.md
  wiki/content/deploy/_index.md
  wiki/content/dql/_index.md
  wiki/content/enterprise-features/_index.md
  wiki/content/graphql/_index.md
Labels: area/documentation

#6813 Docs(GraphQL)Document the `between` function
  wiki/content/graphql/queries/search-filtering.md
  wiki/content/query-language/functions.md
Labels: area/documentation, area/graphql

#6822 fix(GraphQL): fix between filter bugs
  graphql/e2e/schema/generatedSchema.graphql
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/output/auth-on-interfaces.graphql
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-directLink.graphql
  graphql/schema/testdata/schemagen/output/generate-directive.graphql
  graphql/schema/testdata/schemagen/output/geo-type.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/hasInverse_withSubscription.graphql
  graphql/schema/testdata/schemagen/output/hasfilter.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-dgraph-pred.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/lambda-directive.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-arguments-on-field.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/testdata/schemagen/output/type-without-orderables.graphql
  graphql/schema/testdata/schemagen/output/union.graphql
Labels: area/graphql

#6823 Fix(GraphQL): This PR fixes the bug which return error when we input list of integers.
  graphql/e2e/common/common.go
  graphql/e2e/common/error_test.yaml
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/schema/validation_rules.go
Labels: area/graphql

#6810 fix(GraphQL): Fix panic caused when trying to delete a nested object which doesn't have id/xid
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/mutation_test.go
  graphql/resolve/schema.graphql
  graphql/resolve/update_mutation_test.yaml
Labels: area/graphql

#6821 feat(tls): splitting tls_dir + making health point available on HTTP
  conn/pool.go
  contrib/manual_tests/test.sh
  contrib/tlstest/alpha_tls.sh
  contrib/tlstest/alpha_tls_auth.sh
  dgraph/cmd/alpha/run.go
  dgraph/cmd/zero/http.go
  dgraph/cmd/zero/run.go
  dgraph/cmd/zero/zero.go
  tlstest/acl/docker-compose.yml
  tlstest/certrequest/docker-compose.yml
  tlstest/certrequireandverify/docker-compose.yml
  tlstest/certverifyifgiven/docker-compose.yml
  tlstest/mtls_internal/acl/docker-compose.yml
  tlstest/mtls_internal/ha_6_node/docker-compose.yml
  tlstest/mtls_internal/ha_6_node/ha_test.go
  tlstest/mtls_internal/loader/docker-compose.yml
  tlstest/mtls_internal/multi_group/docker-compose.yml
  tlstest/mtls_internal/multi_group/multi_group_test.go
  tlstest/mtls_internal/online-restore/docker-compose.yml
  tlstest/mtls_internal/online-restore/online_restore_test.go
  tlstest/mtls_internal/single_node/docker-compose.yml
  tlstest/mtls_internal/single_node/single_node_test.go
  tlstest/zero_https/all_routes_tls/all_routes_tls_test.go
  tlstest/zero_https/all_routes_tls/docker-compose.yml
  tlstest/zero_https/custom_routes_tls/custom_routes_tls_test.go
  tlstest/zero_https/custom_routes_tls/docker-compose.yml
  tlstest/zero_https/no_tls/no_tls_test.go
  worker/worker.go
  x/config.go
  x/server.go
  x/tls_helper.go
Labels: area/integrations

#6724 fix(GraphQL): fixes flaky test for subscriptions.
  graphql/e2e/subscription/subscription_test.go
Labels: area/graphql

#6725 Fix(GraphQL): This PR add enable schema cleaning in GraphQL and reduce schema update time.
  graphql/admin/schema.go
  graphql/schema/gqlschema.go
  graphql/schema/schemagen.go
  graphql/schema/schemagen_test.go
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-directLink.graphql
  graphql/schema/testdata/schemagen/input/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-directLink.graphql
Labels: area/graphql

#6726 fix(GraphQL): This PR reduces polling duration of subscriptions. (#6661)
  graphql/subscription/poller.go
Labels: area/graphql

#6729 fix(GraphQL): This PR fix panic error when we give null value in filter connectives. (#6707)
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
Labels: area/graphql

#6815 fix(export): don't return an error if there was no GraphQL schema
  graphql/e2e/schema/schema_test.go
  worker/export.go
Labels: area/graphql

#6802 test(dgraph): Adding backup test cases in internal tls enabled
  testutil/zero.go
  tlstest/mtls_internal/backup.env
  tlstest/mtls_internal/backup/encryption/backup_test.go
  tlstest/mtls_internal/backup/encryption/docker-compose.yml
  tlstest/mtls_internal/backup/filesystem/backup_test.go
  tlstest/mtls_internal/backup/filesystem/data/.gitkeep
  tlstest/mtls_internal/backup/filesystem/data/backups/.gitkeep
  tlstest/mtls_internal/backup/filesystem/docker-compose.yml
  tlstest/mtls_internal/backup/minio-large/backup_test.go
  tlstest/mtls_internal/backup/minio-large/docker-compose.yml
  tlstest/mtls_internal/backup/minio/backup_test.go
  tlstest/mtls_internal/backup/minio/docker-compose.yml
Labels: area/bulk-loader, area/commercial, area/live-loader

#6827 docs: New homepage design
  wiki/content/_index.md
  wiki/content/clients/_index.md
  wiki/content/deploy/_index.md
  wiki/content/dql/_index.md
  wiki/content/enterprise-features/_index.md
  wiki/content/graphql/_index.md
  wiki/static/images/hero-deco.png
Labels: area/documentation

#6835 docs (chore): Clean the sidebar's dropdown menu
  wiki/content/clients/_index.md
  wiki/content/deploy/_index.md
  wiki/content/dql/_index.md
  wiki/content/enterprise-features/_index.md
  wiki/content/graphql/_index.md
  wiki/scripts/build.sh
Labels: area/documentation

#6842 Make ACL login error message more generic (#6716)
  edgraph/access_ee.go
  ee/acl/acl_test.go
  x/x.go
Labels: area/commercial

#6829 Docs (GraphQL) Note the addition of Int64 support in 20.11, mention JSON limitations for this type
  wiki/content/graphql/schema/types.md
Labels: area/documentation, area/graphql

#6849 fix(GraphQL): This PR adds support for "application/dql" in content header.
  contrib/scripts/goldendata-queries.sh
  dgraph/cmd/alpha/http.go
  dgraph/cmd/alpha/http_test.go
  dgraph/cmd/alpha/reindex_test.go
  dgraph/cmd/alpha/run_test.go
  dgraph/cmd/alpha/upsert_test.go
  dgraph/cmd/bulk/systest/run.sh
  dgraph/cmd/bulk/systest/test-bulk-schema.sh
  ee/acl/acl_curl_test.go
  graphql/admin/add_group.go
  graphql/admin/update_group.go
  graphql/dgraph/graphquery.go
  graphql/resolve/mutation_rewriter.go
  systest/queries_test.go
Labels: area/bulk-loader, area/commercial, area/documentation, area/graphql, area/integrations, area/testing

#6855 docs: fixed localhost typo
  wiki/content/howto/migrate-dgraph-1-1.md
Labels: area/documentation

#6858 DQL (Docs):GraphQL -> DQL fixes (updating `Content-Type: application/graphql+-` references and noting back-compat, review and fix of add'l `GraphQL+-` references)
  wiki/content/clients/raw-http.md
  wiki/content/get-started/index.md
  wiki/content/graphql/custom/graphqlpm.md
  wiki/content/query-language/debug.md
  wiki/content/query-language/fragments.md
  wiki/content/query-language/graphql-fundamentals.md
Labels: area/documentation

#6859 DQL (Docs):GraphQL -> DQL fixes II, clean-up from #6858 (forgot to push two typo fixes before merging)
  wiki/content/graphql/custom/graphqlpm.md
  wiki/content/query-language/fragments.md
Labels: area/documentation, area/graphql

#6840 chore: Add manual test for increment (DGRAPH-2613)
  contrib/manual_tests/README.md
  contrib/manual_tests/test.sh
Labels: area/integrations

#6854 Update docs for count queries
  wiki/content/graphql/queries/count.md
  wiki/content/graphql/schema/reserved.md
Labels: area/documentation, area/graphql

#6856 docs: fixed localhost typo (#6855)
  wiki/content/howto/migrate-dgraph-1-1.md
Labels: area/documentation

#6857 docs: fix localhost typo
  wiki/content/howto/index.md
Labels: area/documentation

#6844 fix(backup/restore): fixes backup and restore with DROP operations (GRAPHQL-735)
  dgraph/cmd/alpha/run_test.go
  dgraph/cmd/bulk/systest/test-bulk-schema.sh
  edgraph/server.go
  ee/acl/acl_test.go
  graphql/e2e/common/admin.go
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema_response.json
  graphql/e2e/schema/schema_test.go
  protos/pb.proto
  protos/pb/pb.pb.go
  schema/schema.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio/backup_test.go
  systest/export/export_test.go
  systest/mutations_test.go
  systest/online-restore/online_restore_test.go
  systest/queries_test.go
  testutil/client.go
  testutil/graphql.go
  testutil/schema.go
  tlstest/mtls_internal/backup/encryption/backup_test.go
  tlstest/mtls_internal/backup/filesystem/backup_test.go
  tlstest/mtls_internal/backup/minio/backup_test.go
  worker/backup.go
  worker/backup_common.go
  worker/backup_ee.go
  worker/backup_handler.go
  worker/backup_processor.go
  worker/export.go
  worker/file_handler.go
  worker/online_restore_ee.go
  worker/restore.go
  worker/s3_handler.go
  x/keys.go
  x/x.go
Labels: area/schema

#6863 DQL (docs) straggler "graphql+-" references to update
  wiki/content/clients/raw-http.md
  wiki/content/dql/_index.md
Labels: area/documentation

#6872 Docs (chore) fix link to password types from GraphQL Directives page
  wiki/content/graphql/directives/index.md
Labels: area/documentation, area/graphql

#6865 bug(GraphQL): fix IN filter for `enum` types.
  graphql/resolve/query_test.yaml
  graphql/resolve/schema.graphql
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/output/searchables.graphql
Labels: area/graphql

#6871 v20.11: fix(backup/restore): fixes backup and restore with DROP operations (G…
  dgraph/cmd/alpha/run_test.go
  dgraph/cmd/bulk/systest/test-bulk-schema.sh
  edgraph/server.go
  ee/acl/acl_test.go
  graphql/e2e/common/admin.go
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema_response.json
  graphql/e2e/schema/schema_test.go
  protos/pb.proto
  protos/pb/pb.pb.go
  schema/schema.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio/backup_test.go
  systest/export/export_test.go
  systest/mutations_test.go
  systest/online-restore/online_restore_test.go
  systest/queries_test.go
  testutil/client.go
  testutil/graphql.go
  testutil/schema.go
  tlstest/mtls_internal/backup/encryption/backup_test.go
  tlstest/mtls_internal/backup/filesystem/backup_test.go
  tlstest/mtls_internal/backup/minio/backup_test.go
  worker/backup.go
  worker/backup_common.go
  worker/backup_ee.go
  worker/backup_handler.go
  worker/backup_processor.go
  worker/export.go
  worker/file_handler.go
  worker/online_restore_ee.go
  worker/restore.go
  worker/s3_handler.go
  x/keys.go
  x/x.go
Labels: area/bulk-loader, area/commercial, area/graphql, area/schema, area/testing

#6833 chore(bulk): use --tmp directory for temporary buffers
  dgraph/cmd/bulk/count_index.go
  dgraph/cmd/bulk/loader.go
  dgraph/cmd/bulk/mapper.go
  dgraph/cmd/bulk/merge_shards.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/bulk/run.go
  dgraph/cmd/live/run.go
  xidmap/xidmap.go
  xidmap/xidmap_test.go
Labels: area/bulk-loader, area/live-loader

#6852 docs (feat): Create documentation for Persistent Queries
  wiki/content/graphql/queries/persistent-queries.md
Labels: area/documentation, area/graphql

#6866 fix(GraphQL): make `audience` necessary if `JWKUrl` is provided
  graphql/authorization/auth.go
  graphql/resolve/auth_test.go
  testutil/graphql.go
Labels: area/graphql

#6873 docs (feature): Add Union type documentation
  wiki/content/graphql/authorization/authorization-overview.md
  wiki/content/graphql/authorization/directive.md
  wiki/content/graphql/mutations/mutations-overview.md
  wiki/content/graphql/schema/search.md
  wiki/content/graphql/schema/types.md
Labels: area/documentation, area/graphql

#6774 chore: dgraph-backup.sh (SUCCESS-75)
  contrib/config/backups/client/.gitignore
  contrib/config/backups/client/README.md
  contrib/config/backups/client/backup_helper.sh
  contrib/config/backups/client/compose-setup.sh
  contrib/config/backups/client/data/acl/hmac_secret_file
  contrib/config/backups/client/data/backups/.gitkeep
  contrib/config/backups/client/data/enc/enc_key_file
  contrib/config/backups/client/data/tls/.gitkeep
  contrib/config/backups/client/data/token/auth_token_file
  contrib/config/backups/client/dgraph-backup.sh
  contrib/config/backups/client/docker-compose.yml
Labels: area/integrations

#6682 (release/v20.07) docs: Document restoreStatus GraphQL endpoint.
  wiki/content/enterprise-features/binary-backups.md
Labels: area/documentation

#6683 (release/v20.07) docs: Document listBackups GraphQL endpoint.
  wiki/content/enterprise-features/binary-backups.md
Labels: area/documentation

#6868 fix(GraphQL): This PR fixes issue of multiple responses in a subscription for an update.
  graphql/e2e/subscription/subscription_test.go
  graphql/subscription/poller.go
Labels: area/graphql

#6864 Feat(Docs): Add documentation for generate directive
  wiki/content/graphql/directives/index.md
  wiki/content/graphql/queries/queries-overview.md
  wiki/content/graphql/schema/deprecated.md
  wiki/content/graphql/schema/dgraph-schema.md
  wiki/content/graphql/schema/documentation.md
  wiki/content/graphql/schema/generate.md
Labels: area/documentation, area/graphql

#6879 fix(GraphQL): This PR fixes issue of multiple responses in a subscrption for an update. (#6868)
  graphql/e2e/subscription/subscription_test.go
  graphql/subscription/poller.go
Labels: area/graphql

#6878 feat: Liveloader can use Alpha for assigning uids
  dgraph/cmd/alpha/run.go
  dgraph/cmd/live/load-json/load_test.go
  worker/zero_proxy.go
Labels: area/live-loader

#6888 docs (Update): Documentation for Parameterized cascade
  wiki/content/graphql/queries/cascade.md
Labels: area/documentation, area/graphql

#6889 Small Improvements to make Jepsen run better
  contrib/jepsen/Makefile
  contrib/jepsen/main.go
  dgraph/cmd/zero/oracle.go
  dgraph/main.go
  edgraph/server.go
  go.mod
  go.sum
  raftwal/meta.go
  x/x.go
Labels: area/integrations, area/testing/jepsen

#6886 Chore(Docs): Fix documentation for GraphQL count query
  wiki/content/graphql/queries/count.md
Labels: area/documentation, area/graphql

#6826 docs (chore): Update README.md links
  README.md
Labels: area/documentation

#6891 fix(GraphQL): change Default client to Client with timeout for fetching JWKs
  graphql/authorization/auth.go
  graphql/schema/schemagen.go
Labels: area/graphql

#6898 Docs (GraphQL): Document the `in` and `has` keywords for 20.11
  wiki/content/graphql/queries/search-filtering.md
Labels: area/documentation, area/graphql

#6887 fix(GraphQL): handle filters for enum properly
  graphql/e2e/common/query.go
  graphql/resolve/query_test.yaml
  graphql/resolve/schema.graphql
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/input/searchables.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/union.graphql
Labels: area/graphql

#6892 docs (fix): Fix Geolocation feature example
  wiki/content/graphql/schema/search.md
Labels: area/documentation, area/graphql

#6900 docs (chore): Fix typo
  wiki/content/graphql/schema/search.md
Labels: area/documentation, area/graphql

#6890 docs (20.11): add documentation for Cached Results
  wiki/content/graphql/queries/cached-results.md
Labels: area/documentation, area/graphql

#6806 chore: backup nfs automation scripts and instructions (SUCCESS-23)
  contrib/config/backups/README.md
  contrib/config/backups/nfs/.env
  contrib/config/backups/nfs/.gitignore
  contrib/config/backups/nfs/README.md
  contrib/config/backups/nfs/Vagrantfile
  contrib/config/backups/nfs/charts/dgraph_nfs.yaml
  contrib/config/backups/nfs/charts/dgraph_volume.yaml
  contrib/config/backups/nfs/charts/helmfile.yaml
  contrib/config/backups/nfs/charts/rook/env.sh
  contrib/config/backups/nfs/charts/rook/fetch-operator.sh
  contrib/config/backups/nfs/charts/rook/helmfile.yaml
  contrib/config/backups/nfs/charts/rook/helmify.sh
  contrib/config/backups/nfs/charts/rook/rook-nfs-operator-kustomize/base/.gitignore
  contrib/config/backups/nfs/charts/rook/rook-nfs-operator-kustomize/base/kustomization.yaml
  contrib/config/backups/nfs/charts/rook/rook-nfs-operator-kustomize/overlays/default/kustomization.yaml
  contrib/config/backups/nfs/charts/rook/rook-nfs-server-kustomize/base/kustomization.yaml
  contrib/config/backups/nfs/charts/rook/rook-nfs-server-kustomize/base/nfs.yaml
  contrib/config/backups/nfs/charts/rook/rook-nfs-server-kustomize/base/sa.yaml
  contrib/config/backups/nfs/charts/rook/rook-nfs-server-kustomize/overlays/default/kustomization.yaml
  contrib/config/backups/nfs/charts/rook/rook-nfs-storageclass-kustomize/base/kustomization.yaml
  contrib/config/backups/nfs/charts/rook/rook-nfs-storageclass-kustomize/base/sc.yaml
  contrib/config/backups/nfs/charts/rook/rook-nfs-storageclass-kustomize/overlays/default/kustomization.yaml
  contrib/config/backups/nfs/charts/rook/rook-nfs-storageclass-kustomize/overlays/default/pvc.yaml
  contrib/config/backups/nfs/docker-compose.yml
  contrib/config/backups/nfs/efs-terraform/README.md
  contrib/config/backups/nfs/efs-terraform/main.tf
  contrib/config/backups/nfs/efs-terraform/output.tf
  contrib/config/backups/nfs/efs-terraform/provider.tf
  contrib/config/backups/nfs/efs-terraform/templates/env.sh.tmpl
  contrib/config/backups/nfs/efs-terraform/variables.tf
  contrib/config/backups/nfs/gcfs-cli/README.md
  contrib/config/backups/nfs/gcfs-cli/create_gcfs.sh
  contrib/config/backups/nfs/gcfs-terraform/README.md
  contrib/config/backups/nfs/gcfs-terraform/main.tf
  contrib/config/backups/nfs/gcfs-terraform/modules/simple_gcfs/main.tf
  contrib/config/backups/nfs/gcfs-terraform/provider.tf
  contrib/config/backups/nfs/gcfs-terraform/templates/env.sh.tmpl
  contrib/config/backups/nfs/helmfile.yaml
  contrib/config/backups/nfs/vagrant/helper.rb
  contrib/config/backups/nfs/vagrant/hosts
  contrib/config/backups/nfs/vagrant/provision.sh
Labels: area/integrations

#6897 docs (20.11): add documentation for Upserts in Live Loader
  wiki/content/deploy/fast-data-loading.md
Labels: area/documentation

#6894 docs (feature): add documentation for auth on interfaces
  wiki/content/graphql/authorization/directive.md
Labels: area/documentation, area/graphql

#6914 Improve test script
  systest/plugin_test.go
  t/main.go
Labels: area/testing

#6870 fix(GraphQL): fix exclusion of filters in Query generation in case of just Has Filters.
  graphql/resolve/query_test.yaml
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-directLink.graphql
  graphql/schema/testdata/schemagen/output/hasfilter.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/wrappers_test.go
Labels: area/graphql

#6909 fix(GraphQL): fix panic when querying custom field in fragment on interface (GRAPHQL-734)
  graphql/e2e/common/mutation.go
  graphql/e2e/common/query.go
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/resolve/query_rewriter.go
  graphql/schema/wrappers.go
Labels: area/graphql

#6906 bug(GraphQL): fix IN filter for `enum` types. (#6865)
  graphql/resolve/query_test.yaml
  graphql/resolve/schema.graphql
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/output/searchables.graphql
Labels: area/graphql

#6904 fix(GraphQL): change Default client to Client with timeout for fetching JWK
  graphql/authorization/auth.go
  graphql/schema/schemagen.go
Labels: area/graphql

#6907 Fix(GraphQL): Add support for using auth with secret directive
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/common/query.go
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/schema/auth.go
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/input/auth-on-interfaces.graphql
  graphql/schema/testdata/schemagen/input/authorization.graphql
  graphql/schema/testdata/schemagen/output/auth-on-interfaces.graphql
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-directLink.graphql
  graphql/schema/testdata/schemagen/output/generate-directive.graphql
  graphql/schema/testdata/schemagen/output/geo-type.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/hasInverse_withSubscription.graphql
  graphql/schema/testdata/schemagen/output/hasfilter.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-dgraph-pred.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/lambda-directive.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-arguments-on-field.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/testdata/schemagen/output/type-without-orderables.graphql
  graphql/schema/testdata/schemagen/output/union.graphql
Labels: area/graphql

#6911 chore(test):fixing test cases to work with go script
  dgraph/docker-compose.yml
  systest/backup/minio-large/backup_test.go
  systest/backup/minio-large/docker-compose.yml
  systest/backup/minio/backup_test.go
  systest/backup/minio/docker-compose.yml
  systest/export/docker-compose.yml
  systest/export/export_test.go
  systest/online-restore/docker-compose.yml
  t/main.go
  tlstest/acl/acl_over_tls_test.go
  tlstest/mtls_internal/acl/acl_over_tls_test.go
  tlstest/mtls_internal/acl/docker-compose.yml
  tlstest/mtls_internal/backup/encryption/backup_test.go
  tlstest/mtls_internal/backup/encryption/docker-compose.yml
  tlstest/mtls_internal/backup/filesystem/backup_test.go
  tlstest/mtls_internal/backup/filesystem/docker-compose.yml
  tlstest/mtls_internal/backup/minio-large/backup_test.go
  tlstest/mtls_internal/backup/minio-large/docker-compose.yml
  tlstest/mtls_internal/backup/minio/backup_test.go
  tlstest/mtls_internal/backup/minio/docker-compose.yml
  tlstest/mtls_internal/ha_6_node/docker-compose.yml
  tlstest/mtls_internal/ha_6_node/ha_test.go
  tlstest/mtls_internal/loader/docker-compose.yml
  tlstest/mtls_internal/multi_group/docker-compose.yml
  tlstest/mtls_internal/multi_group/multi_group_test.go
  tlstest/mtls_internal/online-restore/docker-compose.yml
  tlstest/mtls_internal/online-restore/online_restore_test.go
  tlstest/mtls_internal/single_node/docker-compose.yml
  tlstest/mtls_internal/single_node/single_node_test.go
Labels: area/testing

#6916 fix(GraphQL): handle filters for enum properly (#6887)
  graphql/e2e/common/query.go
  graphql/resolve/query_test.yaml
  graphql/resolve/schema.graphql
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/input/searchables.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/union.graphql
Labels: area/graphql

#6908 fix(Dgraph): Switch command line options to kebab-case
  compose/compose.go
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/run.go
  dgraph/cmd/live/load-uids/load_test.go
  dgraph/cmd/live/run.go
  dgraph/cmd/migrate/run.go
  dgraph/cmd/root.go
  dgraph/cmd/zero/raft.go
  dgraph/cmd/zero/run.go
  ee/acl/acl.go
  ee/acl/acl_test.go
  ee/acl/run_ee.go
  ee/backup/run.go
  ee/enc/util_ee.go
  ee/enc/vault_ee.go
  graphql/admin/admin.go
  graphql/schema/rules.go
  systest/backup/encryption/backup_test.go
  systest/backup/minio/backup_test.go
  systest/bulk_live_fixture_test.go
  systest/cluster_setup_test.go
  testutil/backup.go
  tlstest/acl/acl_over_tls_test.go
  tlstest/certrequest/certrequest_test.go
  tlstest/certrequireandverify/certrequireandverify_test.go
  tlstest/certverifyifgiven/certverifyifgiven_test.go
  tlstest/mtls_internal/acl/acl_over_tls_test.go
  tlstest/mtls_internal/backup/encryption/backup_test.go
  tlstest/mtls_internal/backup/filesystem/backup_test.go
  tlstest/mtls_internal/backup/minio-large/backup_test.go
  tlstest/mtls_internal/backup/minio/backup_test.go
  tlstest/mtls_internal/loader/loader_test.go
  upgrade/change_v20.07.0.go
  upgrade/upgrade.go
  worker/file_handler.go
  worker/online_restore_ee.go
  worker/worker.go
  x/flags.go
  x/profile.go
  x/sentry_integration.go
  x/tls_helper.go
  x/x.go
Labels: area/commercial, area/integrations, area/testing

#6912 fix ErrIndexingInProgress if schema update fails (#6583)
  schema/schema.go
Labels: area/schema

#6923 Fix(GraphQL): Fix failing auth tests
  graphql/e2e/auth/add_mutation_test.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/delete_mutation_test.go
Labels: area/graphql

#6905 fix(GraphQL): make audience mandatory if JWKUrl is provided
  graphql/authorization/auth.go
  graphql/resolve/auth_test.go
  testutil/graphql.go
Labels: area/graphql

#6917 fix(GraphQL): fix exclusion of filters in Query generation in case of…
  graphql/resolve/query_test.yaml
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-directLink.graphql
  graphql/schema/testdata/schemagen/output/hasfilter.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/wrappers_test.go
Labels: area/graphql

#6913 docs (20.11): Add documentation for JWK URL auth
  wiki/content/graphql/authorization/authorization-overview.md
  wiki/content/graphql/authorization/directive.md
Labels: area/documentation, area/graphql

#6921 fix(GraphQL): This PR fixes subscriptions flakey tests.
  graphql/admin/admin.go
  graphql/e2e/subscription/subscription_test.go
Labels: area/graphql

#6934 fix(GraphQL): This PR cherryPick fix of subscription flakey Tests to 20.11.
  graphql/admin/admin.go
  graphql/e2e/subscription/subscription_test.go
Labels: area/graphql

#6925 docs(graphql): Syntax and use case for `updateSchemaHistory`
  wiki/content/graphql/admin/index.md
Labels: area/documentation, area/graphql

#6927 docs(metrics): Document dgraph_txn_aborts_total metric
  wiki/content/deploy/metrics.md
Labels: area/documentation

#6940 fix(GraphQL): fix multiple alias in query
  graphql/e2e/common/common.go
  graphql/e2e/common/query.go
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/resolve/resolver.go
  graphql/schema/wrappers.go
Labels: area/graphql

#6922 v20.07: fix(backup/restore): fixes backup and restore with DROP operations (G…
  dgraph/cmd/alpha/run_test.go
  dgraph/cmd/bulk/systest/test-bulk-schema.sh
  edgraph/server.go
  ee/acl/acl_test.go
  graphql/e2e/common/admin.go
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema_response.json
  graphql/e2e/schema/schema_test.go
  posting/writer_test.go
  protos/pb.proto
  protos/pb/pb.pb.go
  schema/schema.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio/backup_test.go
  systest/mutations_test.go
  systest/online-restore/online_restore_test.go
  systest/queries_test.go
  testutil/client.go
  testutil/graphql.go
  testutil/schema.go
  worker/backup.go
  worker/backup_common.go
  worker/backup_ee.go
  worker/backup_handler.go
  worker/backup_processor.go
  worker/export.go
  worker/file_handler.go
  worker/online_restore_ee.go
  worker/restore.go
  worker/s3_handler.go
  x/keys.go
  x/x.go
Labels: area/bulk-loader, area/commercial, area/graphql, area/schema

#6942 v20.07-slash: fix(backup/restore): fixes backup and restore with DROP operations (G…
  dgraph/cmd/alpha/run_test.go
  dgraph/cmd/bulk/systest/test-bulk-schema.sh
  dgraph/cmd/live/load-json/load_test.go
  edgraph/server.go
  ee/acl/acl_test.go
  graphql/e2e/common/admin.go
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema_response.json
  graphql/e2e/schema/schema_test.go
  posting/writer_test.go
  protos/pb.proto
  protos/pb/pb.pb.go
  schema/schema.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio/backup_test.go
  systest/export/export_test.go
  systest/mutations_test.go
  systest/online-restore/online_restore_test.go
  systest/queries_test.go
  testutil/client.go
  testutil/graphql.go
  testutil/schema.go
  worker/backup.go
  worker/backup_common.go
  worker/backup_ee.go
  worker/backup_handler.go
  worker/backup_processor.go
  worker/export.go
  worker/file_handler.go
  worker/online_restore_ee.go
  worker/restore.go
  worker/s3_handler.go
  x/keys.go
  x/x.go
Labels: area/bulk-loader, area/commercial, area/graphql, area/schema

#6946 fix(GraphQL): fix e2e test for multiple alias
  graphql/e2e/common/common.go
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#6862 Chore(wiki): Change latest release version in wiki
  wiki/content/releases/index.md
Labels: area/documentation

#6935 fix(GraphQL): This PR fixes issue of multiple responses in a subscription for an update. (#6868)
  graphql/e2e/subscription/subscription_test.go
  graphql/subscription/poller.go
Labels: area/graphql

#6885 Feat(Docs): Add documentation for generate directive (#6864)
  wiki/content/graphql/directives/index.md
  wiki/content/graphql/queries/queries-overview.md
  wiki/content/graphql/schema/deprecated.md
  wiki/content/graphql/schema/dgraph-schema.md
  wiki/content/graphql/schema/documentation.md
  wiki/content/graphql/schema/generate.md
Labels: area/documentation, area/graphql

#6937 chore(tests): fixing flaky tests
  graphql/e2e/common/common.go
  graphql/e2e/custom_logic/custom_logic_test.go
  systest/export/export_test.go
  testutil/client.go
  tlstest/mtls_internal/ha_6_node/ha_test.go
  worker/export_test.go
Labels: area/graphql, area/testing

#6939 Document new concurrency support in Ludicrous mode
  wiki/content/deploy/ludicrous-mode.md
Labels: area/documentation

#6924 docs (20.11): Adds lambda resolvers documentation
  wiki/content/graphql/directives/index.md
  wiki/content/graphql/lambda/_index.md
  wiki/content/graphql/lambda/field.md
  wiki/content/graphql/lambda/mutation.md
  wiki/content/graphql/lambda/overview.md
  wiki/content/graphql/lambda/query.md
  wiki/content/graphql/lambda/server.md
Labels: area/documentation, area/graphql

#6958 Fix a bunch of flaky tests
  dgraph/cmd/alpha/reindex_test.go
  edgraph/server.go
  ee/acl/acl_test.go
  graphql/e2e/common/common.go
  systest/online-restore/docker-compose.yml
  systest/online-restore/online_restore_test.go
  t/main.go
  worker/backup_ee.go
  worker/file_handler.go
Labels: area/commercial, area/graphql, area/testing

#6959 fix(GraphQL): This PR fixes flaky subscriptions tests in 20.07.
  graphql/admin/admin.go
  graphql/e2e/subscription/subscription_test.go
Labels: area/graphql

#6953 build(dockerfile): Set GODEBUG=madvdontneed=1.
  contrib/Dockerfile
Labels: area/integrations

#6954 build(dockerfile): Set GODEBUG=madvdontneed=1.
  contrib/Dockerfile
Labels: area/integrations

#6955 build(dockerfile): Set GODEBUG=madvdontneed=1.
  contrib/Dockerfile
Labels: area/integrations

#6963 test: Refactor tests to be more resilient
  ee/acl/acl_test.go
Labels: area/commercial

#6964 fix(GraphQL):This PR allows to use fragments on interfaces while querying other interface.
  graphql/e2e/common/fragment.go
  graphql/resolve/query_test.yaml
  graphql/schema/request.go
Labels: area/graphql

#6928 chore: add increment to manual_tests
  contrib/manual_tests/test.sh
Labels: area/integrations

#6969 fix(Alpha): Immediately take a snapshot if we don't have one (#6458)
  worker/draft.go
Labels: area/data-loss

#6968 chore(test): fixing failing CI tests
  graphql/e2e/schema/schema_test.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio-large/backup_test.go
  systest/backup/minio-large/docker-compose.yml
  systest/backup/minio/backup_test.go
  systest/online-restore/docker-compose.yml
  testutil/client.go
Labels: area/graphql

#6965 Docs (GraphQL): Disk Compression breaking change in 20.11 ( `--badger.compression` replaces `--badger.compression_level`)
  wiki/content/deploy/data-compression.md
  wiki/content/deploy/fast-data-loading.md
Labels: area/documentation

#6970 fix(Alpha): Immediately take a snapshot if we don't have one (#6458)
  worker/draft.go
Labels: area/data-loss

#6967 test: don't compare counter in successive state calls (GRAPHQL-873)
  graphql/e2e/common/admin.go
Labels: area/graphql

#6957 Docs (chore): typo fix: @casecade -> @cascade
  wiki/content/graphql/queries/cascade.md
Labels: area/documentation, area/graphql

#6893 Docs (Security) Note addition of mTLS, use of TLS v.12 cyper suites, clarify how ports are used by Dgraph Alpha and Dgraph Zero
  wiki/content/deploy/ports-usage.md
  wiki/content/deploy/tls-configuration.md
Labels: area/documentation

#6972 Feat(Docs): Add documentation for auth with secret directive
  wiki/content/graphql/authorization/directive.md
Labels: area/documentation, area/graphql

#6948 [docs]: bulk load an enc export into a non enc cluster
  wiki/content/enterprise-features/encryption-at-rest.md
Labels: area/commercial, area/documentation

#6973 Docs (clarification): Clarify switch from semantic to calendar versioning
  wiki/content/releases/index.md
Labels: area/documentation

#6988 fix(worker): fix eq filter for non-index predicates. (#6986)
  query/query0_test.go
  worker/task.go
Labels: area/indexes

#6974 Chore: Add --tmp flag for the temporary buffers
  dgraph/cmd/alpha/run.go
  dgraph/cmd/live/run.go
  go.mod
  go.sum
  worker/config.go
  worker/server_state.go
  x/config.go
  xidmap/xidmap.go
Labels: area/live-loader

#6990 fix: ExportInput destination doc-string comment
  graphql/admin/admin.go
Labels: area/graphql

#6989 Fix(OOM): Use z.Buffer to stream instead of z.Allocator
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/count_index.go
  dgraph/cmd/bulk/reduce.go
  dgraph/main.go
  go.mod
  go.sum
  posting/index.go
  posting/writer_test.go
  protos/pb.proto
  protos/pb/pb.pb.go
  t/t.go
  tlstest/acl/acl_over_tls_test.go
  worker/backup_processor.go
  worker/draft.go
  worker/export.go
  worker/predicate_move.go
  worker/snapshot.go
Labels: area/bulk-loader

#6966 fix(GraphQL):This PR allows to use fragments on interfaces while querying other interface. (#6964)
  graphql/e2e/common/fragment.go
  graphql/resolve/query_test.yaml
  graphql/schema/request.go
Labels: area/graphql

#6996 fix(DQL): ignore ordering of indexes in schema with eq function (DGRAPH-2601)
  systest/queries_test.go
  wiki/content/query-language/functions.md
  worker/tokens.go
Labels: area/testing

#6999 fix(bulk): Fix reduce phase crash and memory leak in bulk-loader
  dgraph/cmd/bulk/reduce.go
Labels: area/bulk-loader

#6997 chore(test): fixing flaky test cases
  dgraph/docker-compose.yml
  ee/acl/acl_test.go
  graphql/e2e/common/common.go
  graphql/e2e/schema/schema_test.go
  graphql/e2e/subscription/subscription_test.go
  testutil/client.go
  tlstest/mtls_internal/single_node/single_node_test.go
  worker/export_test.go
Labels: area/commercial, area/graphql

#7011 Fix(GraphQL): Fix bug with password query rewriting
  graphql/e2e/common/query.go
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
Labels: area/graphql

#6978 docs (fix): Update lambda resolvers documentation
  wiki/content/graphql/lambda/overview.md
Labels: area/documentation, area/graphql

#7015 chore: Fix gql fuzz tests
  gql/fuzzit.sh
Labels: area/querylang

#6987 feat(Dgraph): Add badger.compression to Dgraph restore
  dgraph/cmd/bulk/run.go
  ee/backup/run.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio-large/backup_test.go
  systest/backup/minio/backup_test.go
  worker/restore.go
Labels: area/bulk-loader, area/commercial, area/testing

#6995 release/v20.07 - fix: change default compression on 20.07 to zstd:3
  dgraph/cmd/bulk/run.go
  worker/restore.go
Labels: area/bulk-loader

#7000 [docs] added example to export to a custom path within the graphql mutation
  wiki/content/deploy/dgraph-administration.md
Labels: area/documentation
