Repository hypermodeinc/dgraph, pull requests merged in 2020-05, with the labels that each got.

#5356 graphql: ensure upserts don't have accidental edge removal
  graphql/e2e/common/mutation.go
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/update_mutation_test.yaml
Labels: area/graphql

#5357 graphql: more testing around additional deletes and auth
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_update_test.yaml
Labels: area/graphql

#5340 Adding 8th getting started tutorial to documentation site
  wiki/config.toml
  wiki/content/get-started/index.md
  wiki/content/tutorial-7/index.md
  wiki/content/tutorial-8/_index.md
  wiki/content/tutorial-8/index.md
  wiki/content/tutorials/index.md
  wiki/static/images/tutorials/8/a-graph.jpg
  wiki/static/images/tutorials/8/b-paris.png
  wiki/static/images/tutorials/8/c-delhi.jpg
  wiki/static/images/tutorials/8/cover.jpg
  wiki/static/images/tutorials/8/d-full-graph.png
  wiki/static/images/tutorials/8/e-schema.png
  wiki/static/images/tutorials/8/f-index.png
  wiki/static/images/tutorials/8/g-near-1.png
  wiki/static/images/tutorials/8/h-near-2.png
  wiki/static/images/tutorials/8/i-near-3.png
  wiki/static/images/tutorials/8/j-near-4.png
  wiki/static/images/tutorials/8/k-near-5.png
  wiki/static/images/tutorials/8/l-float-index.png
  wiki/static/images/tutorials/8/m-final-result.png
Labels: area/documentation

#5354 graphql: remove custom directive from internal schema
  graphql/schema/gqlschema.go
  graphql/schema/rules.go
  graphql/schema/schemagen.go
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#5374 Documentation: connecting multiple Dgraph nodes to Jaeger
  wiki/content/deploy/index.md
  wiki/static/images/jaeger-json.png
  wiki/static/images/jaeger-server-query-2.png
  wiki/static/images/jaeger-server-query.png
  wiki/static/images/jaeger-ui.png
Labels: area/documentation

#5376 Cherry pick and resolve conflict
  wiki/content/deploy/index.md
  wiki/static/images/jaeger-json.png
  wiki/static/images/jaeger-server-query-2.png
  wiki/static/images/jaeger-server-query.png
  wiki/static/images/jaeger-ui.png
Labels: area/documentation

#5372 graphql: custom logic validation improvements
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/resolve/query_test.yaml
  graphql/resolve/resolver.go
  graphql/resolve/schema.graphql
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/remote.go
  graphql/schema/rules.go
Labels: area/graphql

#5365 Adds Github Actions Labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: area/integrations

#4549 Fix typo in Tutorial
  wiki/content/tutorial-3/index.md
Labels: area/documentation

#5395 [Minor] update label.yml
  .github/workflows/label.yml
Labels: area/integrations

#5382 mTLS/TLS documentation fixes
  wiki/content/deploy/index.md
Labels: area/documentation

#5362 graphql: Do graphql query/mutation validation in the mock server.
  go.mod
  go.sum
  graphql/e2e/custom_logic/cmd/Dockerfile
  graphql/e2e/custom_logic/cmd/graphqlresponse.yaml
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/e2e/custom_logic/schemas/batch-mode-graphql.graphql
  graphql/e2e/custom_logic/schemas/mixed-modes.graphql
  graphql/e2e/custom_logic/schemas/single-mode-graphql.graphql
  graphql/resolve/resolver.go
  graphql/schema/custom_http_config_test.yaml
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/remote.go
  graphql/schema/rules.go
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/wrappers.go
  graphql/schema/wrappers_test.go
Labels: area/graphql

#5385 Validates custom rules are not part of auth rules.
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
  graphql/schema/testdata/schemagen/input/authorization.graphql
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
Labels: area/graphql

#5401 Add authorization deletion test cases.
  graphql/authorization/auth.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/e2e/auth/test_data.json
  graphql/e2e/common/common.go
  graphql/e2e/common/error.go
  graphql/e2e/common/mutation.go
  graphql/e2e/common/schema.go
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/auth_test.go
  testutil/graphql.go
Labels: area/graphql

#4551 Improve documentation about design concepts
  wiki/content/design-concepts/index.md
Labels: area/documentation

#5392 graphql: Added RBAC and related tests
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/e2e/auth/test_data.json
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/query_rewriter.go
  graphql/schema/auth.go
Labels: area/graphql

#5388 Add Auth header to Allowed headers list
  graphql/authorization/auth.go
  graphql/schema/schemagen.go
  graphql/schema/wrappers_test.go
Labels: area/graphql

#5369 graphql: move alias to end of graphql pipeline
  graphql/admin/schema.go
  graphql/e2e/common/admin.go
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/common/query.go
  graphql/resolve/mutation.go
  graphql/resolve/mutation_query_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/query.go
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/resolve/resolver.go
  graphql/resolve/resolver_error_test.go
  graphql/resolve/resolver_error_test.yaml
  graphql/resolve/resolver_test.go
Labels: area/graphql

#5425 graphql: report all errors during schema update
  graphql/admin/schema.go
Labels: area/graphql

#5316 graphql: Minor delete mutation msg fix
  ee/acl/acl_test.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/common/mutation.go
  graphql/resolve/mutation.go
Labels: area/graphql

#5413 graphql: E2E Update mutation tests
  graphql/e2e/auth/schema.graphql
  graphql/e2e/auth/test_data.json
  graphql/e2e/auth/update_mutation_test.go
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql

#5421 Pre evaluate auth rule with missing variable.
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/query_rewriter.go
  graphql/schema/auth.go
Labels: area/graphql

#5415 graphql: refactor custom directive http operation -> mode
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/e2e/custom_logic/schemas/batch-mode-graphql.graphql
  graphql/e2e/custom_logic/schemas/batch-mode-rest.graphql
  graphql/e2e/custom_logic/schemas/mixed-modes.graphql
  graphql/e2e/custom_logic/schemas/single-mode-graphql.graphql
  graphql/e2e/custom_logic/schemas/single-mode-rest.graphql
  graphql/resolve/resolver.go
  graphql/schema/custom_http_config_test.yaml
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/remote.go
  graphql/schema/rules.go
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#5431 graphql: E2E tests for Auth GraphQL
  graphql/e2e/auth/add_mutation_test.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/e2e/auth/test_data.json
  graphql/e2e/auth/update_mutation_test.go
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql

#5434 graphql: Changes evaluateRBAC to evaluateStatic
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql

#5419 Adds ludicrous mode to live loader
  dgraph/cmd/live/batch.go
  dgraph/cmd/live/run.go
Labels: area/live-loader

#5441 Change auth tag in schema to Dgraph.Authorization.
  graphql/authorization/auth.go
  graphql/schema/wrappers_test.go
  testutil/graphql.go
Labels: area/graphql

#5438 Changing the default code owner
  .github/CODEOWNERS
Labels: area/integrations

#5433 Add E2E test cases for missing JWT in auth.
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/e2e/auth/test_data.json
  graphql/e2e/auth/update_mutation_test.go
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/query_rewriter.go
  graphql/schema/auth.go
Labels: area/graphql

#5444 Stream the full set of predicates and types during a snapshot.
  go.mod
  go.sum
  protos/pb.proto
  protos/pb/pb.pb.go
  schema/schema.go
  testutil/client.go
  worker/snapshot.go
  worker/snapshot_test.go
Labels: area/schema

#5448 disable subscription
  graphql/admin/admin.go
  graphql/admin/schema.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/e2e/subscription/subscription_test.go
  graphql/resolve/resolver.go
  graphql/schema/gqlschema.go
  graphql/schema/schemagen.go
Labels: area/graphql

#5457 graphql: support existing gqlschema nodes without xid
  graphql/admin/admin.go
  graphql/e2e/common/admin.go
Labels: area/graphql

#5399 Added docs for Cloudwatch monitoring
  wiki/content/deploy/index.md
Labels: area/documentation

#5162 Add authn for graphql and http admin endpoints
  dgraph/cmd/alpha/admin.go
  dgraph/cmd/alpha/admin_backup.go
  dgraph/cmd/alpha/http.go
  dgraph/cmd/alpha/http_test.go
  dgraph/cmd/alpha/run.go
  edgraph/access.go
  edgraph/access_ee.go
  edgraph/server.go
  ee/acl/acl_test.go
  graphql/admin/admin.go
  graphql/admin/backup.go
  graphql/admin/config.go
  graphql/admin/export.go
  graphql/admin/health.go
  graphql/admin/list_backups.go
  graphql/admin/login.go
  graphql/admin/restore.go
  graphql/admin/state.go
  graphql/resolve/middlewares.go
  graphql/resolve/middlewares_test.go
  graphql/resolve/resolver.go
  graphql/web/http.go
  testutil/graphql.go
  x/x.go
Labels: area/commercial/acl, area/graphql

#5489 Update names of graphql variables to match correct capitalization.
  wiki/content/enterprise-features/index.md
Labels: area/documentation

#5474 graphql: Fixed delete RBAC and adds delete auth E2E test cases.
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/delete_mutation_test.go
  graphql/e2e/auth/schema.graphql
  graphql/e2e/auth/test_data.json
  graphql/e2e/auth/update_mutation_test.go
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#5492 Fix warnings about unkeyed literals.
  graphql/e2e/custom_logic/custom_logic_test.go
Labels: area/graphql

#5499 graphql: fix some TODOs in ACL tests
  ee/acl/acl_test.go
  graphql/admin/endpoints_ee.go
Labels: area/commercial, area/graphql

#5473 Fix memory leak in live loader
  dgraph/cmd/live/run.go
Labels: area/live-loader

#5509 Support passing GraphQL schema to bulk loader.
  dgraph/cmd/bulk/loader.go
  dgraph/cmd/bulk/run.go
  systest/bulk_live_cases_test.go
  systest/bulk_live_fixture_test.go
Labels: area/bulk-loader

#5416 resolve custom fields at deep nested level
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/resolve/resolver.go
Labels: area/graphql

#5511 graphql: Introduce `@cascade` in GraphQL
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/common/query.go
  graphql/resolve/mutation_query_test.yaml
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#5440 graphql: Support reading secret headers from schema file and forwarding them for client requests.
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/resolve/resolver.go
  graphql/schema/gqlschema.go
  graphql/schema/remote.go
  graphql/schema/rules.go
  graphql/schema/schemagen.go
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/wrappers.go
  graphql/schema/wrappers_test.go
Labels: area/graphql

#5437 graphql: Disable auth directive on interfaces.
  graphql/resolve/delete_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/resolve/schema.graphql
  graphql/resolve/update_mutation_test.yaml
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
  graphql/schema/wrappers.go
Labels: area/graphql

#5510 Fix Legacy links like...
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/issue--question.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  contrib/config/kubernetes/dgraph-ha/dgraph-ha.yaml
  contrib/config/terraform/kubernetes/README.md
  graphql/admin/admin.go
  graphql/admin/endpoints_ee.go
  paper/dgraph.bib
  systest/bulk_live_cases_test.go
  wiki/README.md
  wiki/content/_index.md
  wiki/content/deploy/index.md
  wiki/content/design-concepts/index.md
  wiki/content/enterprise-features/index.md
  wiki/content/get-started/index.md
  wiki/content/howto/index.md
  wiki/content/query-language/index.md
  wiki/content/tutorial-1/index.md
  wiki/content/tutorial-2/index.md
  wiki/content/tutorial-6/index.md
  wiki/content/tutorial-7/index.md
  wiki/content/tutorial-8/index.md
  wiki/content/tutorials/index.md
  wiki/nginx/docs.conf
  worker/config.go
  x/init.go
Labels: area/documentation

#5487 graphql: Coerce value for scalar types correctly.
  graphql/admin/admin.go
  graphql/e2e/auth/auth_test.go
  graphql/resolve/mutation.go
  graphql/resolve/resolver.go
  graphql/resolve/resolver_test.go
  graphql/resolve/schema.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#5524 graphql: Queries or mutations shouldn't be part of generated Dgraph schema
  graphql/schema/dgraph_schemagen_test.yml
  graphql/schema/schemagen.go
Labels: area/graphql

#5533 Added details of K-shortest path queries in documentation
  wiki/content/query-language/index.md
Labels: area/documentation

#5526 graphql: Fix mutation on predicate with special characters having dgraph directive.
  graphql/e2e/common/query.go
  graphql/e2e/directives/dgraph_directives_test.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/test_data.json
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/schema.graphql
  graphql/schema/dgraph_schemagen_test.yml
  graphql/schema/gqlschema_test.yml
Labels: area/graphql

#5540 graphql: make updateGQLSchema always return the new schema
  graphql/admin/schema.go
  graphql/e2e/common/common.go
Labels: area/graphql

#5549 Use -d instead of --detach when invoking docker-compose.
  contrib/scripts/functions.sh
  dgraph/cmd/bulk/systest/test-bulk-schema.sh
Labels: area/bulk-loader, area/integrations
