Repository hypermodeinc/dgraph, pull requests merged in 2020-09, with the labels that each got.

#6347 cherry-pick v20.07: chore(GraphQL): remove skipped tests (#6078)
  graphql/e2e/custom_logic/cmd/graphqlresponse.yaml
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
Labels: area/graphql

#6348 test: add --build option for docker-compose up in test script
  contrib/scripts/functions.sh
Labels: area/integrations

#6330 fix(GraphQl): fix errors from authorization examples given in docs.
  wiki/content/graphql/authorization/directive.md
  wiki/content/graphql/authorization/mutations.md
Labels: area/documentation

#6250 feat(GraphQL): Add GraphQL schema validation Endpoint.
  dgraph/cmd/alpha/run.go
  graphql/admin/admin.go
  graphql/admin/schema.go
  graphql/authorization/auth.go
  graphql/bench/auth_test.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/common/fragment.go
  graphql/e2e/schema/schema_test.go
  graphql/resolve/auth_test.go
  graphql/schema/schemagen.go
  graphql/schema/schemagen_test.go
  graphql/schema/wrappers_test.go
  graphql/test/test.go
  testutil/graphql.go
  x/x.go
Labels: area/graphql

#6352 cherry-pick v20.07: test: add --build option for docker-compose up in test script (#6348)
  contrib/scripts/functions.sh
Labels: area/integrations

#6349 fix(GraphQL): incorrect generatedSchema in updateGQLSchema
  graphql/admin/schema.go
  graphql/e2e/schema/generatedSchema.graphql
  graphql/e2e/schema/schema_test.go
Labels: area/graphql

#6354 cherry-pick v20.07: fix(GraphQL): incorrect generatedSchema in updateGQLSchema (#6349)
  graphql/admin/schema.go
  graphql/e2e/schema/generatedSchema.graphql
  graphql/e2e/schema/schema_test.go
Labels: area/graphql

#6368 cherry-pick v20.07-slash: fix(GraphQL): incorrect generatedSchema in updateGQLSchema (#6349)
  graphql/admin/schema.go
  graphql/e2e/schema/generatedSchema.graphql
  graphql/e2e/schema/schema_test.go
Labels: area/graphql

#6326 docs: Add details of configuring/enabling TLS support
  wiki/content/deploy/tls-configuration.md
Labels: area/documentation

#6350 fix(GraphQL): Fix query rewriting for auth delete when deleting types with inverse field.
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/delete_mutation_test.go
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql

#6377 fix(GraphQL): Fix GraphQL E2E test
  graphql/e2e/auth/delete_mutation_test.go
Labels: area/graphql

#6373 fix(GraphQL): This PR adds documentation for Scalar DateTime type.
  graphql/e2e/schema/generatedSchema.graphql
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/hasInverse_withSubscription.graphql
  graphql/schema/testdata/schemagen/output/hasfilter.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-dgraph-pred.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-arguments-on-field.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
Labels: area/graphql

#6275 fix(GraphQL): This PR extend int64 range to 64-bit numeric values and adds input coercing and validation for integers.
  graphql/e2e/common/common.go
  graphql/e2e/common/error_test.yaml
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/e2e/schema/generatedSchema.graphql
  graphql/resolve/resolver.go
  graphql/resolve/resolver_test.go
  graphql/schema/gqlschema.go
  graphql/schema/rules.go
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/hasInverse_withSubscription.graphql
  graphql/schema/testdata/schemagen/output/hasfilter.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-dgraph-pred.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-arguments-on-field.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/validation_rules.go
Labels: area/graphql

#6381 doc: Add one-click doc page
  wiki/content/slash-graphql/introduction.md
  wiki/content/slash-graphql/one-click-deploy.md
Labels: area/documentation

#6380 docs: Update tutorial with no requirement of indexing for filtering nodes
  wiki/content/tutorial-3/index.md
  wiki/static/images/tutorials/3/j-dislike-index-2.png
Labels: area/documentation

#6383 doc: Fix allignment for list items in Slash introduction page
  wiki/content/slash-graphql/introduction.md
Labels: area/documentation

#6385 fix(GraphQL): fix introspection completion bug
  graphql/e2e/schema/schema_test.go
  graphql/schema/introspection_test.go
  graphql/schema/testdata/introspection/input/full_query.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#6384 doc: One-Click Documentation for Slash (#6381 #6383)
  wiki/content/slash-graphql/introduction.md
  wiki/content/slash-graphql/one-click-deploy.md
Labels: area/documentation

#6390 docs: add missing predicates in alter schema
  wiki/content/get-started/index.md
Labels: area/documentation

#6394 Use z.Closer instead of y.Closer
  conn/node.go
  conn/pool.go
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/zero/license.go
  dgraph/cmd/zero/license_ee.go
  dgraph/cmd/zero/raft.go
  dgraph/cmd/zero/run.go
  dgraph/cmd/zero/zero.go
  edgraph/access.go
  edgraph/access_ee.go
  edgraph/server.go
  go.mod
  go.sum
  graphql/admin/admin.go
  graphql/admin/shutdown.go
  posting/lists.go
  posting/mvcc.go
  raftwal/storage.go
  worker/draft.go
  worker/executor.go
  worker/groups.go
  worker/mutation.go
  worker/server_state.go
  x/x.go
Labels: area/bulk-loader, area/graphql

#6392 fix(GraphQL): don't generate orderable enum value for list fields
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/output/searchables.graphql
Labels: area/graphql

#6399 release/v20.07 - Use z.Closer instead of y.Closer (#6394)
  conn/node.go
  conn/pool.go
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/zero/license.go
  dgraph/cmd/zero/license_ee.go
  dgraph/cmd/zero/raft.go
  dgraph/cmd/zero/run.go
  dgraph/cmd/zero/zero.go
  edgraph/access.go
  edgraph/access_ee.go
  go.mod
  go.sum
  graphql/admin/admin.go
  graphql/admin/shutdown.go
  posting/lists.go
  posting/mvcc.go
  raftwal/storage.go
  worker/draft.go
  worker/executor.go
  worker/groups.go
  worker/mutation.go
  worker/server_state.go
  x/x.go
Labels: area/bulk-loader, area/graphql

#6345 docs: Add section on automating backups.
  wiki/content/enterprise-features/binary-backups.md
Labels: area/documentation

#6405 (release/v20.07) docs: Add section on automating backups.
  wiki/content/enterprise-features/binary-backups.md
Labels: area/documentation

#6412 perf: Various optimizations to the bulk loader
  algo/uidlist_test.go
  codec/benchmark/benchmark.go
  codec/codec.go
  codec/codec_test.go
  dgraph/cmd/bulk/count_index.go
  dgraph/cmd/bulk/key.go
  dgraph/cmd/bulk/loader.go
  dgraph/cmd/bulk/mapper.go
  dgraph/cmd/bulk/progress.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/bulk/run.go
  go.mod
  go.sum
  posting/list.go
  protos/pb.proto
  protos/pb/pb.pb.go
  worker/restore.go
Labels: area/bulk-loader

#6387 fix(GraphQL): fix for deletion on interfaces with no non Id field
  graphql/resolve/delete_mutation_test.yaml
  graphql/resolve/schema.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#6414 fix(GraphQL): fix restoreStatus query with query variables
  graphql/admin/restore_status.go
  graphql/admin/restore_status_test.go
Labels: area/graphql

#6336 fix(Query) Fix Star_All delete query when used with ACL enabled (#6331)
  edgraph/access_ee.go
  ee/acl/acl_test.go
  gql/mutation.go
  protos/pb/pb.pb.go
  query/mutation.go
Labels: area/commercial, area/querylang

#6425 docs: Add deploy docs to slash docs
  wiki/content/slash-graphql/one-click-deploy.md
  wiki/static/images/advanced-SettingsNetlify.png
  wiki/static/images/importSite.png
Labels: area/documentation

#6418 chore(docs): Add a reference for Badger on the homepage for docs.
  wiki/content/_index.md
Labels: area/documentation

#6428 docs: Add netlify deploy docs to slash docs (#6425)
  wiki/content/slash-graphql/one-click-deploy.md
  wiki/static/images/advanced-SettingsNetlify.png
  wiki/static/images/importSite.png
Labels: area/documentation

#6422 docs: add whitelisting issue error in troubleshoot page to help the community
  wiki/content/deploy/troubleshooting.md
Labels: area/documentation

#6430 chore(docs): Add badger to docs
  wiki/content/_index.md
Labels: area/documentation

#6429 chore(docs): Make the link for badger on docs an absolute link
  wiki/content/_index.md
Labels: area/documentation

#6379 docs: Fix indentation in TLS docs
  wiki/content/deploy/tls-configuration.md
Labels: area/documentation

#6435 added documentation for types of role in API keys
  wiki/content/graphql/todo-app-tutorial/deploy.md
  wiki/content/slash-graphql/admin/authentication.md
  wiki/static/images/graphql/tutorial/todo/slash-graphql-1.png
  wiki/static/images/graphql/tutorial/todo/slash-graphql-2.png
  wiki/static/images/graphql/tutorial/todo/slash-graphql-3.png
  wiki/static/images/graphql/tutorial/todo/slash-graphql-4.png
  wiki/static/images/graphql/tutorial/todo/slash-graphql-5.png
Labels: area/documentation

#6416 fix(GraphQL): Fix squashIntoObject so that results are correctly merged
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/schema.graphql
Labels: area/graphql

#6439 Fix(docs): Fix subsection references in docs
  wiki/content/clients/raw-http.md
  wiki/content/deploy/cluster-checklist.md
  wiki/content/deploy/dgraph-administration.md
  wiki/content/deploy/dgraph-alpha.md
  wiki/content/deploy/fast-data-loading.md
  wiki/content/deploy/kubernetes.md
  wiki/content/deploy/multi-host-setup.md
  wiki/content/deploy/ports-usage.md
  wiki/content/deploy/production-checklist.md
  wiki/content/deploy/single-host-setup.md
  wiki/content/design-concepts/concepts.md
  wiki/content/dgraph-compared-to-other-databases/index.md
  wiki/content/mutations/batch-mutations.md
  wiki/content/mutations/json-mutation-format.md
  wiki/content/mutations/language-rdf-types.md
  wiki/content/mutations/upsert-block.md
  wiki/content/query-language/aggregation.md
  wiki/content/query-language/count.md
  wiki/content/query-language/expand-predicates.md
  wiki/content/query-language/facets.md
  wiki/content/query-language/functions.md
  wiki/content/query-language/graphql-fundamentals.md
  wiki/content/query-language/kshortest-path-quries.md
  wiki/content/query-language/pagination.md
  wiki/content/query-language/schema.md
  wiki/content/query-language/sorting.md
  wiki/content/query-language/type-system.md
  wiki/content/query-language/value-variables.md
Labels: area/documentation

#6393 Add value variable tests
  ee/acl/acl_test.go
Labels: area/commercial

#6433 fix(GraphQL): correct GraphQL variable propagation to custom-dql
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/resolve/query.go
Labels: area/graphql

#6391 fix(GraphQL): Hide info when performing mutation on id field with auth rule.
  graphql/e2e/auth/add_mutation_test.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/debug_off/debugoff_test.go
  graphql/e2e/auth/delete_mutation_test.go
  graphql/e2e/auth/schema.graphql
  graphql/e2e/common/common.go
  graphql/e2e/debug/docker-compose.yml
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/schema/response.go
Labels: area/graphql

#6411 feat(Dgraph): Online restores allows to restore a specific backup.
  graphql/admin/endpoints_ee.go
  graphql/admin/restore.go
  protos/pb.proto
  protos/pb/pb.pb.go
  systest/online-restore/online_restore_test.go
  testutil/json.go
  worker/backup_handler.go
  worker/file_handler.go
  worker/online_restore_ee.go
  worker/restore.go
  worker/s3_handler.go
Labels: area/graphql

#6415 doc: update /admin endpoint documentation.
  wiki/content/enterprise-features/binary-backups.md
  wiki/content/graphql/admin/index.md
Labels: area/documentation

#6427 Fix(GraphQL): This PR add schema cleaning in GraphQL.
  graphql/admin/schema.go
  graphql/schema/gqlschema.go
  graphql/schema/schemagen.go
  graphql/schema/schemagen_test.go
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-directLink.graphql
  graphql/schema/testdata/schemagen/input/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-directLink.graphql
Labels: area/graphql

#6432 fix(Dgraph): Optimize how split lists are written to main DB in bulk loader.
  dgraph/cmd/bulk/loader.go
  dgraph/cmd/bulk/reduce.go
  go.mod
  go.sum
Labels: area/bulk-loader

#6446 fix(bulk): Batch list in bulk loader to avoid panic
  dgraph/cmd/bulk/reduce.go
Labels: area/bulk-loader

#6443 fix(docs): This PR adds docs for parameterized cascade.
  wiki/content/graphql/queries/cascade.md
Labels: area/documentation

#6455 docs: Update list documentation
  wiki/content/graphql/schema/types.md
  wiki/content/query-language/schema.md
Labels: area/documentation

#6456 fix(GraphQL): Generate correct schema when no orderable field in a type
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/input/type-without-orderables.graphql
  graphql/schema/testdata/schemagen/output/type-without-orderables.graphql
Labels: area/graphql

#6444 fix(GraphQL): Fix cascade with auth query when RBAC is false
  graphql/e2e/auth/auth_test.go
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#6322 fix(bulkLoader): Use flags for cache
  dgraph/cmd/bulk/loader.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/bulk/run.go
Labels: area/bulk-loader

#6154 chore: systemd unit six node cluster configuration
  contrib/systemd/ha_cluster/README.md
  contrib/systemd/ha_cluster/dgraph-alpha.service
  contrib/systemd/ha_cluster/dgraph-zero-0.service
  contrib/systemd/ha_cluster/dgraph-zero-1.service
  contrib/systemd/ha_cluster/dgraph-zero-2.service
  contrib/systemd/ha_cluster/tests/.gitignore
  contrib/systemd/ha_cluster/tests/README.md
  contrib/systemd/ha_cluster/tests/centos8/Vagrantfile
  contrib/systemd/ha_cluster/tests/centos8/hosts
  contrib/systemd/ha_cluster/tests/centos8/provision.sh
  contrib/systemd/ha_cluster/tests/ubuntu1804/Vagrantfile
  contrib/systemd/ha_cluster/tests/ubuntu1804/hosts
  contrib/systemd/ha_cluster/tests/ubuntu1804/provision.sh
Labels: area/integrations

#6472 chore: Add more paths to track labels
  .github/labeler.yml
Labels: area/integrations

#6389 cherry-pick v20.07: fix(GraphQL): fix introspection completion bug (#6385)
  graphql/e2e/schema/schema_test.go
  graphql/schema/introspection_test.go
  graphql/schema/testdata/introspection/input/full_query.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#6413 cherry-pick v20.07: fix(GraphQL): don't generate orderable enum value for list fields (#6…
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/output/searchables.graphql
Labels: area/graphql

#6461 cherry-pick v20.07: docs: Update list documentation (#6455)
  wiki/content/graphql/schema/types.md
  wiki/content/query-language/schema.md
Labels: area/documentation

#6460 cherry-pick v20.07: fix(GraphQL): Generate correct schema when no orderable field in a ty…
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/input/type-without-orderables.graphql
  graphql/schema/testdata/schemagen/output/type-without-orderables.graphql
Labels: area/graphql

#6516 release/v20.07 - Fix(docs): Fix subsection references in docs (#6439)
  wiki/content/clients/raw-http.md
  wiki/content/deploy/cluster-checklist.md
  wiki/content/deploy/dgraph-administration.md
  wiki/content/deploy/dgraph-alpha.md
  wiki/content/deploy/fast-data-loading.md
  wiki/content/deploy/kubernetes.md
  wiki/content/deploy/multi-host-setup.md
  wiki/content/deploy/ports-usage.md
  wiki/content/deploy/production-checklist.md
  wiki/content/deploy/single-host-setup.md
  wiki/content/design-concepts/concepts.md
  wiki/content/dgraph-compared-to-other-databases/index.md
  wiki/content/mutations/batch-mutations.md
  wiki/content/mutations/json-mutation-format.md
  wiki/content/mutations/language-rdf-types.md
  wiki/content/mutations/upsert-block.md
  wiki/content/query-language/aggregation.md
  wiki/content/query-language/count.md
  wiki/content/query-language/expand-predicates.md
  wiki/content/query-language/facets.md
  wiki/content/query-language/functions.md
  wiki/content/query-language/graphql-fundamentals.md
  wiki/content/query-language/kshortest-path-quries.md
  wiki/content/query-language/pagination.md
  wiki/content/query-language/schema.md
  wiki/content/query-language/sorting.md
  wiki/content/query-language/type-system.md
  wiki/content/query-language/value-variables.md
Labels: area/documentation

#6366 fix(GraphQL): Fix order and offset in auth queries. (#6221)
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#6524 fix(GraphQL): Fix query rewriting for auth delete when deleting types with inverse field. (#6350)
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/delete_mutation_test.go
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql

#6521 cherry-pick v20.07: fix(GraphQL): Link xids properly if there are duplicate xids within t…
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/dgraph_directives_test.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/normal_test.go
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql

#6417 fix(GraphQL): fix for deletion on interfaces with no non Id field (#6…
  graphql/resolve/delete_mutation_test.yaml
  graphql/resolve/schema.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#6424 release/v20.07: fix(GRAPHQL): fix restoreStatusQuery
  graphql/admin/restore_status.go
  graphql/admin/restore_status_test.go
Labels: area/graphql

#6492 docs for RDF response.
  wiki/content/clients/go.md
Labels: area/documentation

#6523 fix(GraphQL): This PR add schema cleaning in GraphQL.
  graphql/admin/schema.go
  graphql/schema/gqlschema.go
  graphql/schema/schemagen.go
  graphql/schema/schemagen_test.go
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-directLink.graphql
  graphql/schema/testdata/schemagen/input/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-directLink.graphql
Labels: area/graphql

#6530 cherry-pick v20.07: fix(GraphQL): Fix squashIntoObject so that results are correctly merg…
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/schema.graphql
Labels: area/graphql

#6535 fix(GraphQL): Fix cascade with auth query when RBAC is false (#6444)
  graphql/e2e/auth/auth_test.go
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#6534 fix(GraphQL): Hide info when performing mutation on id field with auth rule. (#6391)
  graphql/e2e/auth/add_mutation_test.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/debug_off/debug_off_test.go
  graphql/e2e/auth/delete_mutation_test.go
  graphql/e2e/auth/schema.graphql
  graphql/e2e/common/common.go
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/query_rewriter.go
  graphql/schema/response.go
Labels: area/graphql

#6548 docs: clarify how to turn off encryption with live loader
  wiki/content/enterprise-features/encryption-at-rest.md
Labels: area/commercial, area/documentation

#6552 chore(contrib): Example configs for backups to AWS S3
  contrib/config/backups/s3/.env
  contrib/config/backups/s3/.gitignore
  contrib/config/backups/s3/README.md
  contrib/config/backups/s3/charts/.gitignore
  contrib/config/backups/s3/charts/dgraph_config.yaml
  contrib/config/backups/s3/charts/helmfile.yaml
  contrib/config/backups/s3/docker-compose.yml
  contrib/config/backups/s3/helmfile.yaml
  contrib/config/backups/s3/terraform/.gitignore
  contrib/config/backups/s3/terraform/README.md
  contrib/config/backups/s3/terraform/main.tf
  contrib/config/backups/s3/terraform/provider.tf
  contrib/config/backups/s3/terraform/templates/dgraph_secrets.yaml.tmpl
  contrib/config/backups/s3/terraform/templates/env.sh.tmpl
  contrib/config/backups/s3/terraform/templates/s3.env.tmpl
Labels: area/integrations

#6520 Doc: binary backup update for gcs, azure, aws
  wiki/content/enterprise-features/binary-backups.md
Labels: area/commercial, area/documentation

#6554 fix(GraphQL): This PR adds documentation for Scalar DateTime type.
  graphql/e2e/schema/generatedSchema.graphql
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-directLink.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/hasInverse_withSubscription.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-dgraph-pred.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-arguments-on-field.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/testdata/schemagen/output/type-without-orderables.graphql
Labels: area/graphql

#6470 docs: This PR adds docs for Auth+Subscriptions.
  wiki/content/graphql/subscriptions/index.md
  wiki/static/images/graphql/Auth-Action.gif
  wiki/static/images/graphql/Generating-JWT.png
  wiki/static/images/graphql/Subscription-Timeout.gif
Labels: area/documentation

#6559 Revert "fix(GraphQL): This PR add schema cleaning in GraphQL. (#6523)"
  graphql/admin/schema.go
  graphql/schema/gqlschema.go
  graphql/schema/schemagen.go
  graphql/schema/schemagen_test.go
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-directLink.graphql
  graphql/schema/testdata/schemagen/input/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-directLink.graphql
Labels: area/graphql

#6566 Update index.md
  wiki/content/releases/index.md
Labels: area/documentation

#6567 CP(v20.07): Update index.md (#6566)
  wiki/content/releases/index.md
Labels: area/documentation

#6453 feat(query): Support for between func at root
  gql/parser.go
  query/common_test.go
  query/query.go
  query/query0_test.go
  query/query_facets_test.go
  worker/stringfilter.go
  worker/task.go
  worker/tokens.go
Labels: area/querylang

#6541 feat(bulk): Allow encrypted input with unencrypted output in bulk.
  dgraph/cmd/bulk/loader.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/bulk/run.go
Labels: area/bulk-loader

#6476 chore: jaeger configuration
  contrib/config/monitoring/jaeger/README.md
  contrib/config/monitoring/jaeger/operator/.gitignore
  contrib/config/monitoring/jaeger/operator/README.md
  contrib/config/monitoring/jaeger/operator/dgraph_jaeger.yaml
  contrib/config/monitoring/jaeger/operator/helmfile.yaml
  contrib/config/monitoring/jaeger/operator/helmify.sh
  contrib/config/monitoring/jaeger/operator/jaeger-kustomize/base/jaeger.yaml
  contrib/config/monitoring/jaeger/operator/jaeger-kustomize/base/kustomization.yaml
  contrib/config/monitoring/jaeger/operator/jaeger-kustomize/overlays/badger/kustomization.yaml
  contrib/config/monitoring/jaeger/operator/jaeger-kustomize/overlays/badger/storage.yaml
Labels: area/integrations

#6490 Chore: jaeger automation for prod envs
  contrib/config/monitoring/jaeger/README.md
  contrib/config/monitoring/jaeger/chart/README.md
  contrib/config/monitoring/jaeger/chart/dgraph_jaeger.yaml
  contrib/config/monitoring/jaeger/chart/helmfile.yaml
  contrib/config/monitoring/jaeger/chart/jaeger_cassandra.yaml
  contrib/config/monitoring/jaeger/chart/jaeger_elasticsearch.yaml
Labels: area/integrations

#6558 perf: Use Trie for XidMap and use Mmap based buffer
  compose/compose.go
  dgraph/cmd/bulk/count_index.go
  dgraph/cmd/bulk/mapper.go
  dgraph/cmd/bulk/progress.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/bulk/run.go
  go.mod
  go.sum
  x/error.go
  xidmap/trie.go
  xidmap/trie_test.go
  xidmap/xidmap.go
  xidmap/xidmap_test.go
Labels: area/bulk-loader

#6519 Chore(contrib): Example configs and automation for backups to Azure Blob
  contrib/config/backups/README.md
  contrib/config/backups/azure/.env
  contrib/config/backups/azure/.gitignore
  contrib/config/backups/azure/README.md
  contrib/config/backups/azure/azure_cli/.gitignore
  contrib/config/backups/azure/azure_cli/README.md
  contrib/config/backups/azure/azure_cli/create_blob.sh
  contrib/config/backups/azure/azure_cli/create_secrets.sh
  contrib/config/backups/azure/charts/.gitignore
  contrib/config/backups/azure/charts/dgraph_config.yaml
  contrib/config/backups/azure/charts/helmfile.yaml
  contrib/config/backups/azure/charts/minio_config.yaml
  contrib/config/backups/azure/docker-compose.yml
  contrib/config/backups/azure/helmfile.yaml
  contrib/config/backups/azure/terraform/.gitignore
  contrib/config/backups/azure/terraform/README.md
  contrib/config/backups/azure/terraform/main.tf
  contrib/config/backups/azure/terraform/provider.tf
  contrib/config/backups/azure/terraform/templates/dgraph_secrets.yaml.tmpl
  contrib/config/backups/azure/terraform/templates/minio.env.tmpl
  contrib/config/backups/azure/terraform/templates/minio_secrets.yaml.tmpl
Labels: area/integrations

#6438 docs: How-to article on concurrent modifications and txn aborts.
  wiki/content/howto/concurrent-modification-java-multithreaded.md
Labels: area/documentation

#6533 chore(contrib): Example configs and automation for backups to GCS
  contrib/config/backups/gcp/.env
  contrib/config/backups/gcp/.gitignore
  contrib/config/backups/gcp/README.md
  contrib/config/backups/gcp/charts/.gitignore
  contrib/config/backups/gcp/charts/dgraph_config.yaml
  contrib/config/backups/gcp/charts/helmfile.yaml
  contrib/config/backups/gcp/charts/minio_config.yaml
  contrib/config/backups/gcp/docker-compose.yml
  contrib/config/backups/gcp/helmfile.yaml
  contrib/config/backups/gcp/terraform/.gitignore
  contrib/config/backups/gcp/terraform/README.md
  contrib/config/backups/gcp/terraform/main.tf
  contrib/config/backups/gcp/terraform/modules/gsa/main.tf
  contrib/config/backups/gcp/terraform/provider.tf
  contrib/config/backups/gcp/terraform/templates/dgraph_secrets.yaml.tmpl
  contrib/config/backups/gcp/terraform/templates/env.sh.tmpl
  contrib/config/backups/gcp/terraform/templates/minio.env.tmpl
  contrib/config/backups/gcp/terraform/templates/minio_secrets.yaml.tmpl
Labels: area/integrations

#6544 Chore: systemd/vagrant update for v20.07.1 and Hyper/V
  contrib/systemd/ha_cluster/tests/README.md
  contrib/systemd/ha_cluster/tests/centos8/Vagrantfile
  contrib/systemd/ha_cluster/tests/centos8/hosts
  contrib/systemd/ha_cluster/tests/centos8/vagrant_helper.rb
  contrib/systemd/ha_cluster/tests/ubuntu1804/Vagrantfile
  contrib/systemd/ha_cluster/tests/ubuntu1804/hosts
  contrib/systemd/ha_cluster/tests/ubuntu1804/vagrant_helper.rb
Labels: area/integrations

#6557 Fix(GraphQL): fix object Linking with `hasInverse`
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql

#6583 fix ErrIndexingInProgress if schema update fails
  schema/schema.go
Labels: area/schema

#6562 feat(graphql): GQL Logging MW for admin query/mutation
  graphql/admin/admin.go
  graphql/resolve/middlewares.go
Labels: area/graphql

#6467 release/v20.07 - fix(bulkLoader): Use flags for cache (#6322)
  dgraph/cmd/bulk/loader.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/bulk/run.go
Labels: area/bulk-loader

#6586 test: Update docker-compose file for group delete test.
  systest/group-delete/docker-compose.yml
Labels: area/testing

#6471 docs: Document backupNum field in restore endpoint.
  graphql/admin/endpoints_ee.go
  wiki/content/enterprise-features/binary-backups.md
Labels: area/documentation, area/graphql

#6563 chore(contrib): Expose pprof in bank test.
  contrib/integration/bank/main.go
Labels: area/integrations

#6369 docs: GraphQL password type.
  wiki/content/graphql/directives/index.md
  wiki/content/graphql/schema/types.md
Labels: area/documentation

#6301 docs: promethus command typo fix
  wiki/content/deploy/monitoring.md
Labels: area/documentation

#6140 docs: added alpha ts metric
  wiki/content/deploy/metrics.md
Labels: area/documentation

#5631 docs: checkpwd using val()
  wiki/content/tips/index.md
Labels: area/documentation

#5496 docs: fix typo in term index description
  wiki/content/tutorial-5/index.md
Labels: area/documentation

#6550 feat(Dgraph): add utility to export backup data.
  dgraph/cmd/root_ee.go
  ee/backup/run.go
  worker/export.go
  worker/file_handler.go
Labels: area/commercial

#6587 Revert "Feat(GraphQL): This PR add schema cleaning in GraphQL."
  graphql/admin/schema.go
  graphql/schema/gqlschema.go
  graphql/schema/schemagen.go
  graphql/schema/schemagen_test.go
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-directLink.graphql
  graphql/schema/testdata/schemagen/input/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-directLink.graphql
Labels: area/graphql

#6579 fix (graphql): disallowing field names with as
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
  wiki/content/graphql/schema/reserved.md
Labels: area/documentation, area/graphql

#6593 Revert "Fix(GraphQL): This PR add schema cleaning in GraphQL. (#6427)
  graphql/admin/schema.go
  graphql/schema/gqlschema.go
  graphql/schema/schemagen.go
  graphql/schema/schemagen_test.go
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/input/filter-cleanSchema-directLink.graphql
  graphql/schema/testdata/schemagen/input/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-directLink.graphql
Labels: area/graphql

#6423 build: Makefile to build Dgraph inside docker container.
  contrib/docker-build/Makefile
  contrib/docker-build/README.md
  contrib/docker-build/build.sh
  contrib/docker-build/docker-compose.yml
  dgraph/Makefile
Labels: area/integrations

#6596 fix(GraphQL Query): Remove extra fields when querying interfaces
  graphql/e2e/common/fragment.go
  graphql/resolve/resolver.go
Labels: area/graphql

#6595 fix(GraphQL): fix dangling containers in Custom Cluster tests related to GraphQL
  graphql/e2e/custom_logic/docker-compose.yml
Labels: area/graphql
