Repository hypermodeinc/dgraph, pull requests merged in 2020-07, with the labels that each got.

#5739 fix(GraphQL): Update GraphQL schema only on Group-1 leader
  edgraph/server.go
  graphql/admin/admin.go
  graphql/admin/schema.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/e2e/schema/docker-compose.yml
  graphql/e2e/schema/schema_test.go
  graphql/e2e/schema_subscribe/schema_subscribe_test.go
  protos/pb.proto
  protos/pb/pb.pb.go
  query/query.go
  systest/21million/queries/query-052
  systest/loader/loader_test.go
  worker/graphql_schema.go
Labels: area/graphql, area/schema

#5706 feat(GraphQL): Allow query of deleted nodes.
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/delete_mutation_test.go
  graphql/e2e/auth/test_data.json
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/delete_mutation_test.yaml
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/query_rewriter.go
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/hasInverse_withSubscription.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-arguments-on-field.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#5553 docs: Add dynamic versioning for Dgraph docker tag.
  wiki/content/deploy/index.md
  wiki/content/get-started/index.md
  wiki/content/tutorial-1/index.md
Labels: area/documentation

#5758 Cherry-pick v20.07: fix(vault): vault_format support for online restore and gql (#5745)
  graphql/admin/endpoints_ee.go
  graphql/admin/restore.go
  protos/pb.proto
  protos/pb/pb.pb.go
  worker/online_restore_ee.go
Labels: area/graphql

#5710 fix(GraphQL): Remote schema introspection for single remote endpoint
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/schema/remote.go
Labels: area/graphql

#5738 fix(GraphQL): Fix case where Dgraph type was not generated for GraphQL interface
  graphql/schema/dgraph_schemagen_test.yml
  graphql/schema/schemagen.go
Labels: area/graphql

#5775 feat(GraphQL): Add introspection headers to custom logic
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/schema/gqlschema.go
  graphql/schema/rules.go
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/hasInverse_withSubscription.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-arguments-on-field.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/wrappers.go
  graphql/schema/wrappers_test.go
Labels: area/graphql

#5786 feat(Enterprise): GraphQL schema get/update, Dgraph schema query/alter and /login are now admin operations
  dgraph/cmd/alpha/http.go
  dgraph/cmd/alpha/login_ee.go
  dgraph/cmd/alpha/mutations_mode/docker-compose.yml
  dgraph/cmd/bulk/systest/docker-compose.yml
  edgraph/access.go
  edgraph/access_ee.go
  edgraph/server.go
  ee/acl/acl_test.go
  graphql/admin/admin.go
  graphql/resolve/middlewares.go
  systest/bgindex/docker-compose.yml
  systest/group-delete/docker-compose.yml
  tlstest/acl/docker-compose.yml
  tlstest/certrequest/docker-compose.yml
  tlstest/certverifyifgiven/docker-compose.yml
  x/x.go
Labels: area/commercial, area/graphql

#5785 docs: remove slack link
  wiki/content/_index.md
  wiki/content/get-started/index.md
  wiki/content/tutorial-2/index.md
  wiki/content/tutorial-4/index.md
  wiki/content/tutorial-5/index.md
  wiki/content/tutorial-6/index.md
  wiki/content/tutorials/index.md
Labels: area/documentation

#5790 fix(GraphQL): GraphQL schema is preserved after drop_data
  edgraph/server.go
  graphql/admin/admin.go
  graphql/e2e/schema/schema_test.go
  graphql/resolve/resolver.go
  worker/graphql_schema.go
Labels: area/graphql

#5809 feat(GraphQL): Allow more control over custom logic header names (#5600)
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/schema/rules.go
  graphql/schema/schemagen.go
  graphql/schema/wrappers.go
Labels: area/graphql

#5771 docs: deploy wiki update for Kubernetes
  wiki/content/deploy/index.md
Labels: area/documentation

#5824 fix(GraphQL): Remote schema introspection for single remote endpoint (#5710)
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/schema/remote.go
Labels: area/graphql

#5802 feat(GraphQL): GraphQL health now reported by /probe/graphql
  dgraph/cmd/alpha/run.go
  graphql/admin/admin.go
  graphql/web/http.go
Labels: area/graphql

#5829 fix(GraphQL): Update GraphQL schema only on Group-1 leader (#5739)
  edgraph/server.go
  graphql/admin/admin.go
  graphql/admin/schema.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/e2e/schema/docker-compose.yml
  graphql/e2e/schema/schema_test.go
  graphql/e2e/schema_subscribe/schema_subscribe_test.go
  protos/pb.proto
  protos/pb/pb.pb.go
  query/query.go
  systest/21million/queries/query-052
  systest/loader/loader_test.go
  worker/graphql_schema.go
Labels: area/graphql

#5806 fix(Documentation): fixes sampling rate in tracing documentation
  wiki/content/deploy/index.md
Labels: area/documentation

#5854 fix(GraphQL): Fixes OOM issue in graphql mutation rewriting (#5667)
  graphql/admin/add_group.go
  graphql/admin/update_group.go
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/normal/schema.graphql
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/mutation_test.go
  graphql/resolve/schema.graphql
  graphql/resolve/update_mutation_test.yaml
Labels: area/graphql

#5855 feat(GraphQL): Adds Apollo tracing to GraphQL extensions. (#5692)
  dgraph/cmd/alpha/run.go
  graphql/resolve/extensions_test.go
  graphql/resolve/mutation.go
  graphql/resolve/query.go
  graphql/resolve/resolver.go
  graphql/resolve/resolver_error_test.go
  graphql/schema/response.go
  systest/loader/loader_test.go
  x/config.go
Labels: area/graphql

#5828 fix(GraphQL): Fix case where Dgraph type was not generated for GraphQL interface (#5738)
  graphql/schema/dgraph_schemagen_test.yml
  graphql/schema/schemagen.go
Labels: area/graphql

#5823 fix(GraphQL): Requesting only __typename now returns results (#5659)
  graphql/e2e/common/common.go
  graphql/e2e/common/query.go
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#5821 fix(dgraph): ignore minTs warning in bank upsert test.
  contrib/integration/acctupsert/main.go
Labels: area/integrations

#5858 feat(GraphQL): Add introspection headers to custom logic (#5775)
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/schema/gqlschema.go
  graphql/schema/rules.go
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/hasInverse_withSubscription.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-arguments-on-field.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/wrappers.go
  graphql/schema/wrappers_test.go
Labels: area/graphql

#5859 docs(Clients): Add community Apache Spark Connector.
  wiki/content/clients/index.md
Labels: area/documentation

#5833 feat(Enterprise): GraphQL schema get/update, Dgraph schema query/alter and /login are now admin operations (#5786)
  dgraph/cmd/alpha/http.go
  dgraph/cmd/alpha/login_ee.go
  dgraph/cmd/alpha/mutations_mode/docker-compose.yml
  dgraph/cmd/bulk/systest/docker-compose.yml
  edgraph/access.go
  edgraph/access_ee.go
  edgraph/server.go
  ee/acl/acl_test.go
  graphql/admin/admin.go
  graphql/resolve/middlewares.go
  systest/bgindex/docker-compose.yml
  systest/group-delete/docker-compose.yml
  tlstest/acl/docker-compose.yml
  tlstest/certrequest/docker-compose.yml
  tlstest/certverifyifgiven/docker-compose.yml
  x/x.go
Labels: area/bulk-loader, area/commercial, area/graphql

#5840 fix(GraphQL): GraphQL schema is preserved after drop_data (#5790)
  edgraph/server.go
  graphql/admin/admin.go
  graphql/e2e/schema/schema_test.go
  graphql/resolve/resolver.go
  worker/graphql_schema.go
Labels: area/graphql

#5862 fix(GraphQL): Custom Claim will be parsed as JSON if it is encoded as a string
  graphql/authorization/auth.go
  graphql/resolve/auth_test.go
Labels: area/graphql

#5827 fix(GraphQL): Typename for types should be filled in query for schema introspection queries
  graphql/e2e/common/schema.go
  graphql/resolve/resolver.go
  graphql/schema/introspection.go
  graphql/schema/introspection_test.go
  graphql/schema/testdata/introspection/output/full_query.json
  graphql/schema/wrappers.go
Labels: area/graphql

#5797 chore: run "go fmt" on master.
  graphql/admin/restore.go
  graphql/schema/rules.go
  graphql/schema/schemagen.go
  worker/backup_common.go
Labels: area/graphql

#5851 docs: Documentation for online restores.
  wiki/content/enterprise-features/index.md
Labels: area/documentation

#5863 fix(GraphQL): Apply auth rules on type having @dgraph directive (#5702)
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_query_test.yaml
  graphql/schema/wrappers.go
Labels: area/graphql

#5842 docs: add docs for admin endpoint auth
  wiki/content/deploy/index.md
  wiki/content/query-language/index.md
Labels: area/documentation

#5875 feat(GraphQL): GraphQL health now reported by /probe/graphql (#5802)
  dgraph/cmd/alpha/run.go
  graphql/admin/admin.go
  graphql/web/http.go
Labels: area/graphql

#5904 docs: add docs for admin endpoint auth (#5842)
  wiki/content/deploy/index.md
  wiki/content/query-language/index.md
Labels: area/documentation

#5903 fix(Flaky): TestLiveLoadExportedSchema
  dgraph/cmd/live/load-uids/load_test.go
Labels: area/live-loader

#5901 (release/v20.07) docs: Documentation for online restores.
  wiki/content/enterprise-features/index.md
Labels: area/documentation

#5804 test: Deal with incomplete tests in Jepsen tool
  contrib/jepsen/main.go
Labels: area/integrations, area/testing/jepsen

#5874 fix(GraphQL): fix panic error when there is no @withSubscription directive on any type.
  graphql/e2e/common/error_test.yaml
  graphql/e2e/normal/normal_test.go
  graphql/e2e/normal/schema.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#5921 fix(GraphQL): fix panic error when there is no @withSubscription directive on any type. (#5874)
  graphql/e2e/common/error_test.yaml
  graphql/e2e/normal/normal_test.go
  graphql/e2e/normal/schema.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#5905 fix(Flaky): TestLiveLoadExportedSchema (#5903)
  dgraph/cmd/live/load-uids/load_test.go
Labels: area/live-loader

#5926 fix(GraphQL): Validate subscriptions in Operation function
  graphql/e2e/directives/schema.graphql
  graphql/resolve/resolver_error_test.go
  graphql/schema/request.go
  graphql/schema/wrappers.go
Labels: area/graphql

#5666 perf(GraphQL): Nested auth queries no longer search through all possible records
  graphql/admin/update_group.go
  graphql/e2e/auth/add_mutation_test.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/auth_update_test.yaml
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#5733 fix(Query): Fix expand(_all_) queries in ACL
  edgraph/access_ee.go
  edgraph/acl_cache.go
  ee/acl/acl_test.go
  gql/parser.go
  query/query.go
Labels: area/querylang

#5929 chore: Add deferred cancel in TestExpandQueryWithACLPermissions
  ee/acl/acl_test.go
Labels: area/commercial, area/testing

#5932 fix(bulk-schema flaky test): Add sleep time to wait for clusters before querying for schema in the test (#5826)
  dgraph/cmd/bulk/systest/test-bulk-schema.sh
Labels: area/bulk-loader

#5944 chore: Labeler on PR releases
  .github/workflows/label.yml
Labels: area/integrations

#5938 chore: Change first sentence in docs to be more GraphQL focused.
  README.md
  wiki/content/_index.md
  wiki/content/get-started/index.md
Labels: area/documentation

#5949 feat(GraphQL): Allow query of deleted nodes. (#5706)
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/delete_mutation_test.go
  graphql/e2e/auth/test_data.json
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/delete_mutation_test.yaml
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/query_rewriter.go
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/hasInverse_withSubscription.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-arguments-on-field.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#5911 fix(GraphQL): Dgraph directive with reverse edge should work smoothly with interfaces
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/introspection_test.go
  graphql/schema/rules.go
  graphql/schema/testdata/schemagen/input/interface-with-dgraph-pred.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-dgraph-pred.graphql
Labels: area/graphql

#5953 fix(GraphQL): multiple queries in a single request should not share the same variables
  graphql/schema/wrappers.go
  x/x.go
Labels: area/graphql

#5927 feat(GraphQL): Validate audience in authorization JWT and change `Dgraph.Authorization` format.
  edgraph/access_ee.go
  go.mod
  go.sum
  graphql/authorization/auth.go
  graphql/e2e/auth/auth_test.go
  graphql/resolve/auth_test.go
  graphql/schema/wrappers_test.go
  testutil/graphql.go
Labels: area/graphql

#5928 perf(GraphQL): Fix filter order with UID
  graphql/resolve/auth_update_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/query_rewriter.go
  graphql/resolve/update_mutation_test.yaml
Labels: area/graphql

#5980 feat(GraphQL): Validate audience in authorization JWT and change `Dgraph.Authorization` format.
  edgraph/access_ee.go
  go.mod
  go.sum
  graphql/authorization/auth.go
  graphql/e2e/auth/auth_test.go
  graphql/resolve/auth_test.go
  graphql/schema/wrappers_test.go
  testutil/graphql.go
Labels: area/graphql

#5880 docs: remove slack link and replace forum to community
  wiki/content/_index.md
  wiki/content/enterprise-features/index.md
  wiki/content/tutorial-1/index.md
  wiki/content/tutorial-3/index.md
  wiki/content/tutorial-7/index.md
  wiki/content/tutorial-8/index.md
Labels: area/documentation

#5891 fix(GraphQL): Typename for types should be filled in query for schema introspection queries (#5827)
  graphql/e2e/common/schema.go
  graphql/resolve/resolver.go
  graphql/schema/introspection.go
  graphql/schema/introspection_test.go
  graphql/schema/testdata/introspection/output/full_query.json
  graphql/schema/wrappers.go
Labels: area/graphql

#5982 fix(GraphQL): Dgraph directive with reverse edge should work smoothly with interfaces (#5911)
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
  graphql/schema/testdata/schemagen/input/interface-with-dgraph-pred.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-dgraph-pred.graphql
Labels: area/graphql

#5983 fix(graphQL): Validate subscriptions in Operation function (#5926)
  graphql/e2e/directives/schema.graphql
  graphql/resolve/resolver_error_test.go
  graphql/schema/request.go
  graphql/schema/wrappers.go
Labels: area/graphql

#5985 docs(Enterprise): fix typo for EE license application to Zero leader
  wiki/content/enterprise-features/index.md
Labels: area/documentation

#5973 chore: contrib k8s ha support dgraph alpha multiple zero support
  contrib/config/kubernetes/dgraph-ha/dgraph-ha.yaml
Labels: area/integrations

#5993 fix(Query): Fix expand(_all_) queries in ACL (#5733)
  edgraph/access_ee.go
  edgraph/acl_cache.go
  ee/acl/acl_test.go
  gql/parser.go
  query/query.go
Labels: area/commercial, area/querylang

#5995 fix(Query): Fix val queries when ACL is enabled #5945
  edgraph/access_ee.go
  ee/acl/acl_test.go
Labels: area/commercial

#5978 test: fix flakiness in TestValQueryWithACLPermissions
  ee/acl/acl_test.go
Labels: area/commercial

#5986 fix: Set dgraph cert default duration to 1 year.
  dgraph/cmd/cert/create.go
  wiki/content/deploy/index.md
Labels: area/documentation

#6013 chore: refresh aws marketplace cfn template with updated AMIs and docs
  contrib/config/marketplace/aws/README.md
  contrib/config/marketplace/aws/dgraph.json
Labels: area/integrations

#5972 chore: rename port names for consistency with helm chart
  contrib/config/kubernetes/dgraph-ha/dgraph-ha.yaml
  contrib/config/kubernetes/dgraph-single/dgraph-single.yaml
Labels: area/integrations

#5998 fix(GraphQL): Maintain backward compatibility for `Dgraph.Authorization` in schema.
  graphql/authorization/auth.go
  graphql/schema/wrappers_test.go
Labels: area/graphql

#5981 fix(dgraph): remove orphan containers in the docker compose
  dgraph/cmd/bulk/systest/test-bulk-schema.sh
Labels: area/bulk-loader

#6014 fix(GraphQL): Maintain backward compatibility for `Dgraph.Authorization` in schema.
  graphql/authorization/auth.go
  graphql/schema/wrappers_test.go
Labels: area/graphql

#5788 fix(LiveLoader): correct the file name for syntactically wrong file in live loader logs
  dgraph/cmd/live/load-json/load_test.go
  dgraph/cmd/live/load-uids/correct1.rdf
  dgraph/cmd/live/load-uids/correct2.rdf
  dgraph/cmd/live/load-uids/errored1.rdf
  dgraph/cmd/live/load-uids/errored2.rdf
  dgraph/cmd/live/load-uids/load_test.go
  dgraph/cmd/live/run.go
  testutil/exec.go
Labels: area/live-loader

#5984 feat(GraphQL): Adds auth for subscriptions
  go.mod
  go.sum
  graphql/authorization/auth.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/common/query.go
  graphql/e2e/common/subscription.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/e2e/subscription/subscription_test.go
  graphql/resolve/auth_test.go
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/query_rewriter.go
  graphql/subscription/poller.go
  graphql/web/http.go
  testutil/graphql.go
Labels: area/graphql

#6048 fix(GraphQL): Validate JWT Claims and test JWT expiry.
  graphql/authorization/auth.go
  graphql/resolve/auth_test.go
Labels: area/graphql

#6050 fix(GraphQL): Validate JWT Claims and test JWT expiry.
  graphql/authorization/auth.go
  graphql/resolve/auth_test.go
Labels: area/graphql

#6049 docs: wiki/deploy helm chart update
  wiki/content/deploy/index.md
Labels: area/documentation

#6069 fix(GraphQl): skiping the flaky subscription tests.
  graphql/e2e/subscription/subscription_test.go
Labels: area/graphql

#6053 fix(GraphQL): Fix auth rewriting for nested queries when RBAC rule is true.
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/auth_tests.yaml
  graphql/resolve/auth_update_test.yaml
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#6036 fix(GraphQL): Remove github issues link from the error messages.
  graphql/admin/admin.go
  graphql/api/panics.go
  graphql/e2e/common/error.go
  graphql/resolve/resolver.go
  graphql/schema/introspection.go
  systest/export/docker-compose.yml
  worker/graphql_schema.go
Labels: area/graphql

#6073 fix(GraphQL): fixes panic in update mutation without set & remove
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/resolve/mutation.go
Labels: area/graphql

#6074 fix(GraphQL): fixes wrong query parameter value for custom field URL
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/resolve/resolver.go
Labels: area/graphql

#6078 chore(GraphQL): remove skipped tests
  graphql/e2e/custom_logic/cmd/graphqlresponse.yaml
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
Labels: area/graphql

#6077 fix(GraphQL): Disallow Subscription typename.
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
Labels: area/graphql

#6082 build(standalone): Add DGRAPH_VERSION to build different Dgraph versions for standalone image.
  contrib/standalone/Dockerfile
  contrib/standalone/Dockerfile.master
  contrib/standalone/Makefile
  contrib/standalone/hooks/build
Labels: area/integrations

#6054 fix(GraphQL): fix bug in custom resolver, now body need not have all the fields.
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/resolve/resolver.go
  graphql/schema/wrappers.go
  graphql/schema/wrappers_test.go
Labels: area/graphql

#6029 chore: Benchmark Auth queries and compare it with non Auth queries.
  graphql/bench/README.md
  graphql/bench/auth_test.go
  graphql/bench/schema.graphql
  graphql/bench/schema_auth.graphql
  graphql/e2e/common/common.go
Labels: area/graphql

#6088 chore: Add remove-orphans flag to docker compose and update tests to use python3 (#6059)
  contrib/scripts/functions.sh
  contrib/scripts/goldendata-queries.sh
  dgraph/cmd/bulk/systest/test-bulk-schema.sh
  systest/1million/test-reindex.sh
  systest/21million/test-21million.sh
  systest/bgindex/test-bgindex.sh
Labels: area/bulk-loader, area/integrations

#6115 feat(GraphQL): Custom logic now supports DQL queries
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/resolve/query.go
  graphql/resolve/resolver.go
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/hasInverse_withSubscription.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-dgraph-pred.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-arguments-on-field.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#6120 fix(GraphQL): fixes flaky TestCustomDQL
  graphql/e2e/custom_logic/custom_logic_test.go
Labels: area/graphql

#6117 feat: Live Loader Now Supports Slash GraphQL
  dgraph/cmd/live/run.go
  x/tls_helper.go
  x/x.go
Labels: area/live-loader
