Repository hypermodeinc/dgraph, pull requests merged in 2020-06, with the labels that each got.

#5497 graphql: Apply type filter for get query at root level.
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#5515 graphql: Added test cases for RBAC auth rule mutation rewriting
  graphql/e2e/auth/delete_mutation_test.go
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/auth_update_test.yaml
Labels: area/graphql

#5545 embargo requirements and virtualenv
  contrib/embargo/.python-version
  contrib/embargo/requirements.txt
Labels: area/integrations

#5534 graphql: Add more validations for coercion of object/scalar and vice versa
  graphql/resolve/resolver.go
  graphql/resolve/resolver_test.go
Labels: area/graphql

#5500 [Breaking]: Vault Integration with Bulk, Live, Offline/Online restore and Debug sub-commands.
  chunker/chunk.go
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/run.go
  dgraph/cmd/debug/run.go
  dgraph/cmd/live/run.go
  ee/acl/acl_test.go
  ee/backup/run.go
  ee/enc/util.go
  ee/enc/util_ee.go
  ee/enc/util_ee_test.go
  ee/enc/vault_ee.go
  graphql/admin/endpoints_ee.go
  graphql/admin/restore.go
  protos/pb.proto
  protos/pb/pb.pb.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio-large/backup_test.go
  systest/backup/minio/backup_test.go
  systest/online-restore/online_restore_test.go
  testutil/backup.go
  worker/online_restore_ee.go
  worker/restore.go
Labels: area/bulk-loader, area/commercial, area/live-loader

#5420 Fixes DGRAPH-1157 adding helm upgrade content
  wiki/content/deploy/index.md
Labels: area/documentation

#5449 Add script to auto-update badger
  contrib/update-badger.sh
Labels: area/integrations

#5572 graphql: add Graphql-TouchedUids header in HTTP response
  graphql/e2e/common/common.go
  graphql/e2e/common/query.go
  graphql/schema/response.go
  graphql/web/http.go
Labels: area/graphql

#5547 [Breaking] graphql: Add camelCase for add/update mutation.
  graphql/e2e/auth/add_mutation_test.go
  graphql/e2e/common/mutation.go
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_update_test.yaml
  graphql/resolve/update_mutation_test.yaml
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
Labels: area/graphql

#5586 graphql: fixes flaky test in authorization
  graphql/e2e/auth/auth_test.go
Labels: area/graphql

#5417 docs: Add Production Checklist to Deploy section.
  wiki/content/deploy/index.md
  wiki/static/images/deploy-guide-1.png
  wiki/static/images/deploy-guide-2.png
Labels: area/documentation

#5618 fixes for update-badger
  contrib/update-badger.sh
Labels: area/integrations

#5575 graphql: Fix interaction between interface and other remote types.
  graphql/schema/dgraph_schemagen_test.yml
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
Labels: area/graphql

#5576 Return error list while validating schema.
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/remote.go
  graphql/schema/rules.go
Labels: area/graphql

#5638 Document --encryption_key_file option in dgraph restore command.
  wiki/content/enterprise-features/index.md
Labels: area/documentation

#5654 chore: Adding PRLint
  .github/PULL_REQUEST_TEMPLATE.md
  .github/prlint.json
Labels: area/integrations

#5536 graphql: Updated mutation rewriting to fix OOM issue
  graphql/admin/add_group.go
  graphql/admin/schema.go
  graphql/admin/update_group.go
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/normal/schema.graphql
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/mutation_test.go
  graphql/resolve/schema.graphql
  graphql/resolve/update_mutation_test.yaml
Labels: area/graphql

#5653 Adds multiple zero addresses to docker-compose files
  .dockerignore
  contrib/Dockerfile
  contrib/config/docker/docker-compose-ha.yml
  contrib/embargo/embargo.yml
  dgraph/cmd/alpha/mutations_mode/docker-compose.yml
  dgraph/docker-compose.yml
  systest/bgindex/docker-compose.yml
  worker/docker-compose.yml
Labels: area/integrations

#5600 feat(GraphQL): Allow more control over custom logic header names
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/schema/rules.go
  graphql/schema/schemagen.go
  graphql/schema/wrappers.go
Labels: area/graphql

#5541 feat(GraphQL): Extensions now have Apollo tracing
  graphql/resolve/extensions_test.go
  graphql/resolve/mutation.go
  graphql/resolve/query.go
  graphql/resolve/resolver.go
  graphql/resolve/resolver_error_test.go
  graphql/schema/response.go
  systest/loader/loader_test.go
Labels: area/graphql

#5580 update zero health check for dgraph-ha.yaml
  contrib/config/kubernetes/dgraph-ha/dgraph-ha.yaml
Labels: area/integrations

#5667 fix(GraphQL): Fixes OOM issue in graphql mutation rewriting
  graphql/admin/add_group.go
  graphql/admin/schema.go
  graphql/admin/update_group.go
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/normal/schema.graphql
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/mutation_test.go
  graphql/resolve/schema.graphql
  graphql/resolve/update_mutation_test.yaml
Labels: area/graphql

#5668 fix(GraphQL): Custom Claim will be parsed as JSON if it is encoded as a string
  graphql/authorization/auth.go
  graphql/resolve/auth_test.go
Labels: area/graphql

#5675 fix(Restore): Make backupId optional in restore GraphQL interface.
  graphql/admin/endpoints_ee.go
Labels: area/graphql

#5677 feat(GraphQl): Alpha now has flag for graphql extensions
  dgraph/cmd/alpha/run.go
  graphql/schema/response.go
  x/config.go
Labels: area/graphql

#5663 fix(Export/Import): Live load exported schema
  dgraph/cmd/live/load-uids/load_test.go
  dgraph/cmd/live/run.go
  edgraph/server.go
  ee/acl/acl_test.go
  schema/schema.go
  x/keys.go
Labels: area/commercial, area/live-loader, area/schema

#5696 fix(Export/Import): Live load exported schema
  dgraph/cmd/live/load-uids/load_test.go
  dgraph/cmd/live/run.go
  edgraph/server.go
  ee/acl/acl_test.go
  schema/schema.go
  x/keys.go
Labels: area/commercial, area/live-loader, area/schema

#5676 docs(Enterprise): How to reset forgotten groot password.
  wiki/content/enterprise-features/index.md
Labels: area/documentation

#5560 Replace shutdownCh and wait groups to a y.Closer for shutting down Alpha
  dgraph/cmd/alpha/run.go
  graphql/admin/shutdown.go
  worker/server_state.go
  worker/worker.go
Labels: area/graphql

#5692 feat(GraphQL): Adds Apollo tracing to GraphQL extensions.
  dgraph/cmd/alpha/run.go
  graphql/resolve/extensions_test.go
  graphql/resolve/mutation.go
  graphql/resolve/query.go
  graphql/resolve/resolver.go
  graphql/resolve/resolver_error_test.go
  graphql/schema/response.go
  systest/loader/loader_test.go
  x/config.go
Labels: area/graphql

#5705 fix(formatting): Apply "go fmt" to master.
  graphql/e2e/custom_logic/cmd/main.go
  systest/loader/loader_test.go
  systest/online-restore/online_restore_test.go
Labels: area/graphql

#5702 fix(GraphQL): Apply auth rules on type having @dgraph directive
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_query_test.yaml
  graphql/schema/wrappers.go
Labels: area/graphql

#5660 docs: Added example on how to deal with reverse edges when ACL is turned on
  wiki/content/enterprise-features/index.md
Labels: area/documentation

#5708 feat(vault): support kv v1 and decode base64 key
  ee/enc/util_ee_test.go
  ee/enc/vault_ee.go
Labels: area/commercial

#4582 Update docs and add Facets in List-type with JSON and RDF
  wiki/content/mutations/index.md
Labels: area/documentation

#5685 release/v20.07: Make backupId optional in restore GraphQL interface.
  graphql/admin/endpoints_ee.go
Labels: area/graphql

#5725 Cherry-pick v20.07: feat(vault): support kv v1 and decode base64 key (#5708)
  ee/enc/util_ee_test.go
  ee/enc/vault_ee.go
Labels: area/commercial

#5659 fix(GraphQL): Requesting only __typename now returns results
  graphql/e2e/common/common.go
  graphql/e2e/common/query.go
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#5745 fix(vault): vault_format support for online restore and gql
  graphql/admin/endpoints_ee.go
  graphql/admin/restore.go
  protos/pb.proto
  protos/pb/pb.pb.go
  worker/online_restore_ee.go
Labels: area/graphql

#5607 feat(graphql+-): Allow parameterized @cascade directive.
  gql/parser.go
  gql/parser_test.go
  graphql/dgraph/graphquery.go
  graphql/resolve/query_rewriter.go
  graphql/schema/wrappers.go
  query/query.go
  systest/queries_test.go
Labels: area/graphql, area/querylang

#5749 chore: Apply "go fmt" in master.
  graphql/e2e/common/query.go
Labels: area/graphql

#5772 update dgraph-single.yaml for security
  contrib/config/kubernetes/dgraph-single/dgraph-single.yaml
Labels: area/integrations
