Repository hypermodeinc/dgraph, pull requests merged in 2020-08, with the labels that each got.

#6083 fix(dgraph): Fix out of order issues with split keys in bulk loader.
  dgraph/cmd/bulk/count_index.go
  dgraph/cmd/bulk/loader.go
  dgraph/cmd/bulk/reduce.go
Labels: area/bulk-loader

#6124 (release/v20.07) fix(dgraph): Fix out of order issues with split keys in bulk loader.
  dgraph/cmd/bulk/count_index.go
  dgraph/cmd/bulk/loader.go
  dgraph/cmd/bulk/reduce.go
Labels: area/bulk-loader

#6004 (release/v20.07) test: fix flakiness in TestValQueryWithACLPermissions
  ee/acl/acl_test.go
Labels: area/commercial

#6130 fix(GraphQL): Fix getType queries when id was used as a name for types other than ID
  graphql/resolve/query_test.yaml
  graphql/resolve/schema.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#6119 fix(bulk loader): Remove redundant compressionLevel option set
  dgraph/cmd/bulk/reduce.go
Labels: area/bulk-loader

#6129 fix(GraphQl): Panic fix when subscription expiry is not present in jwt.
  graphql/e2e/subscription/subscription_test.go
  graphql/web/http.go
  testutil/graphql.go
Labels: area/graphql

#6102 fix v20.07 fix(dgraph): ignore minTs warning in bank upsert test. (#5821)
  contrib/integration/acctupsert/main.go
Labels: area/integrations

#6158 fix(GraphQL): multiple queries in a single request should not share the same variables (#5953)
  graphql/schema/wrappers.go
  x/x.go
Labels: area/graphql

#6160 fix(GraphQL): fixes panic in update mutation without set & remove (#6073)
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/resolve/mutation.go
Labels: area/graphql

#6161 fix(GraphQL): fixes wrong query parameter value for custom field URL (#6074)
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/resolve/resolver.go
Labels: area/graphql

#6149 docs: document upgrade and internal type/predicate namespace
  wiki/content/deploy/dgraph-administration.md
  wiki/content/query-language/schema.md
  wiki/content/query-language/type-system.md
Labels: area/documentation

#6141 fix(GraphQl): Allow case insensitive auth header for graphql subscriptions.
  graphql/e2e/subscription/subscription_test.go
  graphql/web/http.go
Labels: area/graphql

#6157 feat(GraphQL): @custom HTTP body now supports hardcoded scalars
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/resolve/resolver.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
  graphql/schema/wrappers.go
  graphql/schema/wrappers_test.go
Labels: area/graphql

#6164 Cherry pick v20.07: docs: document upgrade and internal type/predicate namespace (#6149)
  wiki/content/deploy/dgraph-administration.md
  wiki/content/query-language/schema.md
  wiki/content/query-language/type-system.md
Labels: area/documentation

#6167 fix(GraphQL): Fix auth rewriting for nested queries when RBAC rule is true.
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/auth_tests.yaml
  graphql/resolve/auth_update_test.yaml
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#6166 fix(GraphQL): fix bug in custom resolver, now body need not have all …
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/resolve/resolver.go
  graphql/schema/wrappers.go
  graphql/schema/wrappers_test.go
Labels: area/graphql

#6165 feat(GraphQL): Adds auth for subscriptions (#5984)
  go.mod
  go.sum
  graphql/authorization/auth.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/common/query.go
  graphql/e2e/common/subscription.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/e2e/subscription/subscription_test.go
  graphql/resolve/auth_test.go
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/query_rewriter.go
  graphql/subscription/poller.go
  graphql/web/http.go
  testutil/graphql.go
Labels: area/graphql

#6173 fix(GraphQL): Disallow Subscription typename. (#6077)
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
Labels: area/graphql

#6175 fix(GraphQl): Panic fix when subscription expiry is not present in jwt.
  graphql/e2e/subscription/subscription_test.go
  graphql/web/http.go
  testutil/graphql.go
Labels: area/graphql

#6163 docs(vault): Vault docs
  wiki/content/deploy/fast-data-loading.md
  wiki/content/enterprise-features/binary-backups.md
  wiki/content/enterprise-features/encryption-at-rest.md
Labels: area/documentation

#6182 docs(vault): Vault docs (#6163)
  wiki/content/deploy/fast-data-loading.md
  wiki/content/enterprise-features/binary-backups.md
  wiki/content/enterprise-features/encryption-at-rest.md
Labels: area/documentation

#6183 fix(GraphQL): Remove github issues link from the error messages. (#6036)
  graphql/admin/admin.go
  graphql/api/panics.go
  graphql/e2e/common/error.go
  graphql/resolve/resolver.go
  graphql/schema/introspection.go
  systest/export/docker-compose.yml
  worker/graphql_schema.go
Labels: area/graphql

#6180 fix(GraphQL): Fix getType queries when id was used as a name for types other than ID (#6130)
  graphql/resolve/query_test.yaml
  graphql/resolve/schema.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#6179 fix(GraphQl): Allow case insensitive auth header for graphql subscriptions. (#6141)
  graphql/e2e/subscription/subscription_test.go
  graphql/web/http.go
Labels: area/graphql

#6177 fix(GraphQL): Prevent empty values in fields having `id` directive.
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/update_mutation_test.yaml
  graphql/schema/wrappers.go
Labels: area/graphql

#6188 fix(docs): make deploy page to not show blank page
  wiki/content/deploy/index.md
Labels: area/documentation

#6189 fix(docs: Fix URL paths
  wiki/content/deploy/download.md
  wiki/content/enterprise-features/encryption-at-rest.md
  wiki/content/faq/index.md
  wiki/content/howto/loading-csv-data.md
Labels: area/documentation

#6187 chore: Suport running bank test against slash
  contrib/integration/bank/main.go
Labels: area/integrations

#6190 fix(docs): Change URL path to absolute
  wiki/content/graphql/api/multiples.md
  wiki/content/graphql/custom/custom-overview.md
  wiki/content/graphql/custom/mutation.md
  wiki/content/graphql/quick-start/index.md
  wiki/content/graphql/schema/schema-overview.md
  wiki/content/graphql/todo-app-tutorial/todo-overview.md
  wiki/content/slash-graphql/admin/drop-data.md
  wiki/content/slash-graphql/admin/import-export.md
  wiki/content/slash-graphql/admin/overview.md
  wiki/content/slash-graphql/admin/schema.md
  wiki/content/slash-graphql/introduction.md
Labels: area/documentation

#6133 docs: kubernetes prometheus update
  wiki/content/deploy/kubernetes.md
Labels: area/documentation

#6128 chore: Prometheus helm chart values
  contrib/config/monitoring/grafana/dgraph-kubernetes-grafana-dashboard.json
  contrib/config/monitoring/prometheus/README.md
  contrib/config/monitoring/prometheus/chart-values/README.md
  contrib/config/monitoring/prometheus/chart-values/dgraph-prometheus-operator.yaml
Labels: area/integrations

#6171 feature: dgraph_txn_aborts metric for prometheus
  dgraph/cmd/alpha/metrics_test.go
  worker/mutation.go
  x/metrics.go
Labels: area/integrations

#6055 fix(GraphQL): Don't reserve certain queries/mutations/inputs when a type is remote.
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
Labels: area/graphql

#6172 fix(GraphQL): Linking of xids for deep mutations
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/schema.graphql
Labels: area/graphql

#6201 Cherrypick: Don't reserve certain queries/mutations/inputs when a type is remote.
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
Labels: area/graphql

#6196 Prevent empty values in fields having `id` directive. (#6177)
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/update_mutation_test.yaml
  graphql/schema/wrappers.go
Labels: area/graphql

#6057 feat(live): added upsert in live loader
  dgraph/cmd/live/batch.go
  dgraph/cmd/live/load-uids/load_test.go
  dgraph/cmd/live/load-uids/xid.schema
  dgraph/cmd/live/load-uids/xid_a.rdf
  dgraph/cmd/live/load-uids/xid_b.rdf
  dgraph/cmd/live/run.go
  xidmap/xidmap.go
Labels: area/live-loader

#6203 fix(GraphQL): Linking of xids for deep mutations (#6172)
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/schema.graphql
Labels: area/graphql

#6200 feat(GraphQL): GraphQL now has Int64 as scalar type
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/common/query.go
  graphql/e2e/directives/dgraph_directives_test.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/test_data.json
  graphql/e2e/normal/normal_test.go
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/test_data.json
  graphql/resolve/resolver.go
  graphql/schema/dgraph_schemagen_test.yml
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
  graphql/schema/schemagen.go
  graphql/schema/testdata/schemagen/input/searchables.graphql
  graphql/schema/testdata/schemagen/input/single-type.graphql
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/hasInverse_withSubscription.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-dgraph-pred.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-arguments-on-field.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
Labels: area/graphql

#6224 feat(docs): Add docs for GraphQL fragments.
  wiki/content/graphql/api/fragments.md
Labels: area/documentation

#6223 feat(docs): Add docs for GraphQL variables.
  wiki/content/graphql/api/variables.md
Labels: area/documentation

#6221 fix(GraphQL): Fix order and offset in auth queries.
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#6237 build(standalone): Add DGRAPH_VERSION to build different Dgraph versions for standalone image.
  contrib/standalone/Dockerfile
  contrib/standalone/Dockerfile.master
  contrib/standalone/Makefile
  contrib/standalone/hooks/build
Labels: area/integrations

#6205 feat(GraphQL): Add has filter in Query Rewriter
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
Labels: area/graphql

#6241 doc: Adding docs about ratel and Slash
  wiki/content/slash-graphql/admin/_index.md
  wiki/content/slash-graphql/advanced-queries.md
Labels: area/documentation

#6239 fix(docs): fix URL paths and make deploy page to not show blank page
  wiki/content/deploy/download.md
  wiki/content/deploy/index.md
  wiki/content/enterprise-features/encryption-at-rest.md
  wiki/content/faq/index.md
  wiki/content/howto/loading-csv-data.md
Labels: area/documentation

#6249 doc: Setting the canonical path to each docs without version
  wiki/content/_index.md
  wiki/scripts/build.sh
Labels: area/documentation

#6257 docs: Improve the docs of delete mutation
  wiki/content/mutations/delete.md
Labels: area/documentation

#6254 docs: update kubernetes section
  wiki/content/deploy/kubernetes.md
Labels: area/documentation

#6174 feat: add dynamic cors support
  dgraph/cmd/alpha/run.go
  dgraph/cmd/alpha/run_test.go
  dgraph/cmd/bulk/systest/test-bulk-schema.sh
  dgraph/cmd/live/load-uids/load_test.go
  edgraph/server.go
  ee/acl/acl_test.go
  graphql/admin/admin.go
  graphql/admin/cors.go
  graphql/e2e/common/admin.go
  graphql/e2e/common/common.go
  graphql/e2e/common/error.go
  graphql/e2e/directives/dgraph_directives_test.go
  graphql/e2e/normal/normal_test.go
  graphql/e2e/schema/schema_test.go
  graphql/e2e/subscription/subscription_test.go
  graphql/resolve/resolver.go
  graphql/web/http.go
  query/mutation.go
  schema/schema.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio/backup_test.go
  systest/export/export_test.go
  systest/mutations_test.go
  systest/queries_test.go
  worker/export.go
  x/keys.go
  x/x.go
Labels: area/graphql, area/schema

#6270 feat: add dynamic cors support (#6174) slash cheery pick
  dgraph/cmd/alpha/run.go
  dgraph/cmd/alpha/run_test.go
  dgraph/cmd/bulk/systest/test-bulk-schema.sh
  dgraph/cmd/live/load-uids/load_test.go
  edgraph/server.go
  ee/acl/acl_test.go
  graphql/admin/admin.go
  graphql/admin/cors.go
  graphql/e2e/common/admin.go
  graphql/e2e/common/common.go
  graphql/e2e/common/error.go
  graphql/e2e/directives/dgraph_directives_test.go
  graphql/e2e/normal/normal_test.go
  graphql/e2e/schema/schema_test.go
  graphql/e2e/subscription/subscription_test.go
  graphql/resolve/resolver.go
  graphql/web/http.go
  query/mutation.go
  schema/schema.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio/backup_test.go
  systest/export/export_test.go
  systest/mutations_test.go
  systest/queries_test.go
  worker/export.go
  x/keys.go
  x/x.go
Labels: area/bulk-loader, area/commercial, area/graphql, area/live-loader, area/schema

#6251 Feat(GraphQL): This PR adds parameterised cascade in graphql.
  graphql/dgraph/graphquery.go
  graphql/e2e/common/common.go
  graphql/e2e/common/error_test.yaml
  graphql/e2e/common/mutation.go
  graphql/e2e/common/query.go
  graphql/resolve/mutation_query_test.yaml
  graphql/resolve/query_test.yaml
  graphql/schema/gqlschema.go
  graphql/schema/rules.go
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-nested-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-not-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/hasInverse_withSubscription.graphql
  graphql/schema/testdata/schemagen/output/hasfilter.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-dgraph-pred.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-arguments-on-field.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/validation_rules.go
  graphql/schema/wrappers.go
Labels: area/graphql

#6268 fix(GraphQL): fix internal error when doing GraphQL schema introspection after drop all
  graphql/admin/admin.go
  graphql/e2e/schema/schema_test.go
Labels: area/graphql

#6265 fix(GraphQL): Link xids properly if there are duplicate xids within the same add request.
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/dgraph_directives_test.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/normal_test.go
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql

#6289 fix(docs): Fix Schema Documentation Section
  wiki/content/graphql/schema/documentation.md
  wiki/static/images/graphql/CustomDirectiveDocumentation.png
  wiki/static/images/graphql/authors1.png
Labels: area/documentation

#6284 fix(GraphQL): fixes unexpected fragment behaviour (#6228)
  go.mod
  go.sum
  graphql/e2e/common/fragment.go
  graphql/e2e/common/mutation.go
  graphql/e2e/common/query.go
  graphql/e2e/directives/dgraph_directives_test.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/normal/normal_test.go
  graphql/e2e/normal/schema.graphql
  graphql/resolve/mutation.go
  graphql/resolve/query.go
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/resolve/resolver.go
  graphql/resolve/schema.graphql
  graphql/schema/request.go
  graphql/schema/wrappers.go
Labels: area/graphql

#6297 fix(GraphQL): Link xids properly if there are duplicate xids within the same add request. (#6265)
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/dgraph_directives_test.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/normal_test.go
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql

#6290 fix(ACL Query): Fixes queries which use variable at the top level
  edgraph/access_ee.go
  ee/acl/acl_test.go
Labels: area/commercial

#6286 release/v20.07 - add --cache_mb and --cache_percentage flag
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/zero/run.go
  go.mod
  go.sum
  worker/config.go
  worker/server_state.go
  x/x.go
Labels: area/bulk-loader

#6298 fix(ACL Query): Fixes queries which use variable at the top level (#6…
  edgraph/access_ee.go
  ee/acl/acl_test.go
Labels: area/commercial

#6246 chore(contrib/bank): Add flag to change how frequent checks are run.
  contrib/integration/bank/Dockerfile
  contrib/integration/bank/Makefile
  contrib/integration/bank/main.go
Labels: area/integrations

#6318 chore(contrib/bank): Fix logging.
  contrib/integration/bank/main.go
Labels: area/integrations

#6273 cherry-pick v20.07: docs: add info about __typename in custom DQL (#6248)
  wiki/content/graphql/custom/graphqlpm.md
Labels: area/documentation

#6274 cherry-pick v20.07: fix(GraphQL): fixes unexpected fragment behaviour (#6228)
  go.mod
  go.sum
  graphql/e2e/common/fragment.go
  graphql/e2e/common/mutation.go
  graphql/e2e/common/query.go
  graphql/e2e/directives/dgraph_directives_test.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/normal/normal_test.go
  graphql/e2e/normal/schema.graphql
  graphql/resolve/mutation.go
  graphql/resolve/query.go
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/resolve/resolver.go
  graphql/resolve/schema.graphql
  graphql/schema/request.go
  graphql/schema/wrappers.go
Labels: area/graphql

#6331 fix(Query) Fix Star_All delete query when used with ACL enabled
  edgraph/access_ee.go
  ee/acl/acl_test.go
  gql/mutation.go
  protos/pb/pb.pb.go
  query/mutation.go
Labels: area/querylang
