Repository hypermodeinc/dgraph, pull requests merged in 2021-01, with the labels that each got.

#7220 fix(test): fixing bulk load tests to run on 1 alpha 1 zero setup
  systest/1million/1million_test.go
  systest/1million/alpha.yml
  systest/1million/docker-compose.yml
  systest/21million/bulk/alpha.yml
  systest/21million/bulk/docker-compose.yml
  systest/21million/bulk/run_test.go
  systest/21million/live/docker-compose.yml
  systest/21million/ludicrous/docker-compose.yml
Labels: area/testing

#7245 fix(GraphQL): Fix auth-token propagation for HTTP endpoints resolved through GraphQL (GRAPHQL-946)
  dgraph/cmd/alpha/http.go
  graphql/e2e/admin_auth/poorman_auth/admin_auth_test.go
Labels: area/graphql

#7240 perf(GraphQL): JSON Part-4: Aggregate queries at root and child levels (GRAPHQL-936)
  dgraph/cmd/alpha/http.go
  edgraph/server.go
  graphql/e2e/admin_auth/poorman_auth/admin_auth_test.go
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/schema/wrappers.go
  query/outputnode.go
  query/outputnode_graphql.go
  systest/1million/1million_test.go
  systest/1million/alpha.yml
  systest/1million/docker-compose.yml
  systest/21million/bulk/alpha.yml
  systest/21million/bulk/docker-compose.yml
  systest/21million/bulk/run_test.go
  systest/21million/live/docker-compose.yml
  systest/21million/ludicrous/docker-compose.yml
  wiki/content/clients/_index.md
  wiki/content/clients/c-sharp.md
  wiki/content/clients/csharp.md
  wiki/content/deploy/fast-data-loading/bulk-loader.md
  wiki/content/mutations/json-mutation-format.md
Labels: area/graphql

#7202 fix(restore): reset acl accounts once restore is done if necessary
  graphql/admin/restore.go
  worker/online_restore.go
  worker/online_restore_ee.go
Labels: area/graphql

#7188 fix(bulk): save schemaMap after map phase
  dgraph/cmd/bulk/merge_shards.go
  dgraph/cmd/bulk/run.go
  protos/pb.proto
  protos/pb/pb.pb.go
Labels: area/bulk-loader

#7251 v20.11: fix(GraphQL): Fix auth-token propagation for HTTP endpoints resolved …
  dgraph/cmd/alpha/http.go
  graphql/e2e/admin_auth/poorman_auth/admin_auth_test.go
Labels: area/graphql

#7252 v20.07: fix(GraphQL): Fix auth-token propagation for HTTP endpoints resolved …
  dgraph/cmd/alpha/http.go
  graphql/e2e/admin_auth/admin_auth_test.go
Labels: area/graphql

#7258 fix(restore): Handle MaxUid=0 appropriately
  ee/backup/run.go
Labels: area/commercial

#7255 feat(tool/decrypt): Add dgraph decrypt tool (#7248)
  dgraph/cmd/root.go
  dgraph/cmd/tool/decrypt/decrypt.go
  dgraph/cmd/tool/run.go
  ee/enc/util_ee.go
Labels: area/commercial

#7243 Docs (update to v20.07) - Port encryption and use of mTLS for all internal gRPC communications
  wiki/content/deploy/ports-usage.md
  wiki/content/deploy/tls-configuration.md
Labels: area/documentation

#7265 release/20.11 - fix(restore): Handle MaxUid=0 appropriately (#7258)
  ee/backup/run.go
Labels: area/commercial

#7262 Docs (Chore) Change example query for between function to run more quickly
  wiki/content/query-language/functions.md
Labels: area/documentation

#7260 feat(ApolloFederation): Add "_service" resolver
  graphql/admin/admin.go
  graphql/e2e/schema/apolloServiceResponse.graphql
  graphql/e2e/schema/schema_test.go
  graphql/schema/schemagen.go
  graphql/schema/wrappers.go
Labels: area/graphql

#7273 feat(tool/decrypt): Add dgraph decrypt tool (#7248)
  dgraph/cmd/root.go
  dgraph/cmd/tool/decrypt/decrypt.go
  dgraph/cmd/tool/run.go
  ee/enc/util_ee.go
Labels: area/commercial

#7280 release/v20.11: fix(restore): reset acl accounts once restore is done if necessary
  graphql/admin/restore.go
  worker/online_restore.go
  worker/online_restore_ee.go
Labels: area/graphql

#7278 release/v20.11: fix(dgraph): Fixing multiple race conditions
  dgraph/cmd/alpha/run.go
  dgraph/cmd/zero/assign.go
  graphql/admin/shutdown.go
  posting/list.go
  posting/lists.go
  query/query.go
  raftwal/storage.go
  systest/bgindex/docker-compose.yml
Labels: area/graphql, area/testing

#7284 docs (chore): SEO optimization for Ludicrous mode
  wiki/content/deploy/ludicrous-mode.md
Labels: area/documentation

#7274 chore: contrib monitoring/prometheus refresh
  contrib/config/backups/s3/charts/helmfile.yaml
  contrib/config/monitoring/prometheus/README.md
  contrib/config/monitoring/prometheus/alert-rules.yaml
  contrib/config/monitoring/prometheus/chart-values/README.md
  contrib/config/monitoring/prometheus/chart-values/alertmanager-pagerduty.yaml.gotmpl
  contrib/config/monitoring/prometheus/chart-values/dgraph-app-alert-rules.yaml.gotmpl
  contrib/config/monitoring/prometheus/chart-values/dgraph-backup-alert-rules.yaml
  contrib/config/monitoring/prometheus/chart-values/dgraph-prometheus-operator.yaml
  contrib/config/monitoring/prometheus/chart-values/helmfile.yaml
Labels: area/integrations

#7285 fix(GraphQL): This PR allow to use __typename in mutation.
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/resolve/resolver.go
Labels: area/graphql

#7270 Fix(GraphQL): This PR fix multi cors and multi schema nodes issue by selecting one of the latest added nodes, and add dgraph type to cors.
  dgraph/cmd/alpha/run.go
  edgraph/graphql.go
  edgraph/server.go
  ee/acl/acl_test.go
  graphql/admin/cors.go
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema_response.json
  schema/schema.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio/backup_test.go
  systest/export/export_test.go
  testutil/schema.go
  worker/graphql_schema.go
  x/keys.go
Labels: area/graphql, area/schema

#7290 docs (20.11.1): Add docs about how errors are returned from custom endpoints
  wiki/content/graphql/custom/directive.md
Labels: area/documentation, area/graphql

#7294 docs: remove "--shufflers" flag reference in bulk loader docs
  wiki/content/deploy/fast-data-loading/bulk-loader.md
Labels: area/documentation

#7296 docs: Document export_backup command
  wiki/content/enterprise-features/binary-backups.md
Labels: area/commercial, area/documentation

#7299 release/v20.11 - fix(dgraph): Fix dgraph crash on windows (#7261)
  contrib/jepsen/main.go
  dgraph/cmd/cert/create.go
  dgraph/cmd/live/load-json/load_test.go
  dgraph/cmd/live/load-uids/load_test.go
  go.mod
  go.sum
  graphql/testdata/datagen/cmd/root.go
  graphql/testdata/datagen/cmd/run.go
  raftwal/log.go
  systest/1million/1million_test.go
  systest/21million/bulk/run_test.go
  systest/21million/common/run_queries.go
  systest/21million/live/run_test.go
  systest/21million/ludicrous/run_test.go
  systest/ludicrous/run_test.go
  systest/online-restore/online_restore_test.go
  t/t.go
  testutil/client.go
  testutil/json.go
  testutil/plugin.go
  worker/export.go
Labels: area/graphql, area/integrations, area/live-loader, area/testing, area/testing/jepsen

#7303 fix(GraphQL): This PR allow to use __typename in mutation. (#7285)
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/resolve/resolver.go
Labels: area/graphql

#7302 Fix(GraphQL): This PR fix multi cors and multi schema nodes issue by selecting one of the latest added nodes, and add dgraph type to cors. (#7270)
  dgraph/cmd/alpha/run.go
  edgraph/graphql.go
  edgraph/server.go
  ee/acl/acl_test.go
  graphql/admin/cors.go
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema_response.json
  schema/schema.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio/backup_test.go
  systest/export/export_test.go
  testutil/schema.go
  worker/graphql_schema.go
  x/keys.go
Labels: area/commercial, area/graphql, area/schema, area/testing

#7306 fix(GraphQL): This PR addd input coercion from single object to list and fix panic when we pass single ID in filter as a string. #7133
  go.mod
  go.sum
  graphql/e2e/common/common.go
  graphql/e2e/common/query.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/schema/rules.go
  graphql/schema/validation_rules.go
Labels: area/graphql

#7217 docs: Fix Netlify previews and typos.
  netlify.toml
  wiki/content/deploy/download.md
  wiki/content/deploy/kubernetes.md
  wiki/content/enterprise-features/access-control-lists.md
  wiki/content/graphql/custom/directive.md
  wiki/content/graphql/lambda/overview.md
  wiki/content/tutorial-2/index.md
  wiki/content/tutorial-6/index.md
  wiki/content/tutorials/index.md
  wiki/scripts/local.sh
Labels: area/commercial, area/documentation, area/graphql

#7291 docs: nginx lb for Dgraph Cluster that are not started with docker-compose
  wiki/content/howto/load-balancing-nginx.md
Labels: area/documentation

#7320 docs (20.11.1): Add docs about how errors are returned from custom
  wiki/content/graphql/custom/directive.md
Labels: area/documentation, area/graphql

#7314 docs (chore): Add @include and @skip to the Directives article
  wiki/content/graphql/directives/index.md
Labels: area/documentation, area/graphql

#7321 chore: Remove persistent types from admin.go
  graphql/admin/admin.go
Labels: area/graphql

#7322 docs: Update latest release info.
  README.md
  wiki/content/releases/index.md
Labels: area/documentation

#7233 docs: how to properly bulk load
  wiki/content/deploy/index.md
Labels: area/documentation

#7297 Docs (Admin): Documentation for the "dgraph decrypt" command
  wiki/content/deploy/decrypt.md
  wiki/content/deploy/dgraph-administration.md
  wiki/content/deploy/production-checklist.md
  wiki/content/deploy/troubleshooting.md
Labels: area/documentation

#7331 feat(bulk): Add /jemalloc HTTP endpoint. (#7165)
  dgraph/cmd/bulk/run.go
Labels: area/bulk-loader

#7329 fix(GraphQL):This PR will fix the graphl tests that were failing because of recent change in dgraph.
  graphql/admin/admin.go
Labels: area/graphql

#7346 fix(GraphQL): fix infilterOnFloat e2e test
  graphql/e2e/common/query.go
Labels: area/graphql

#7348 fix(GraphQL): Fix graphql flaky tests which were caused by receiving extra schema updates (#7329)
  graphql/admin/admin.go
Labels: area/graphql

#7325 fix(GraphQl):This PR fix a panic when we pass a single ID as a integer and expected type is [ID].We now coerce that to type array of string.
  graphql/e2e/common/common.go
  graphql/e2e/common/query.go
  graphql/schema/validation_rules.go
Labels: area/graphql

#7334 feat(Apollo): Add "_entities" resolver.
  graphql/dgraph/graphquery.go
  graphql/e2e/auth/schema.graphql
  graphql/e2e/common/common.go
  graphql/e2e/common/query.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/normal/schema.graphql
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/resolve/resolver.go
  graphql/resolve/schema.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#7353 fix(GraphQl):This PR fix a panic when we pass a single ID as a integer and expected type is [ID].We now coerce that to type array of string. (#7325)
  graphql/e2e/common/common.go
  graphql/e2e/common/query.go
  graphql/schema/validation_rules.go
Labels: area/graphql

#7349 fix(subscriptions): fix subscription to use the kv with the max version
  dgraph/cmd/alpha/run.go
  edgraph/access_ee.go
  graphql/admin/admin.go
  x/x.go
Labels: area/graphql

#7351 release/20.11 - fix(bulk): save schemaMap after map phase
  dgraph/cmd/bulk/merge_shards.go
  dgraph/cmd/bulk/run.go
  protos/pb.proto
  protos/pb/pb.pb.go
Labels: area/bulk-loader

#7355 release/v20.11: fix(subscriptions): fix subscription to use the kv with the max version
  dgraph/cmd/alpha/run.go
  edgraph/access_ee.go
  graphql/admin/admin.go
  x/x.go
Labels: area/graphql

#7360 Opt(bulk): Reuse z.Allocator
  codec/codec.go
  dgraph/cmd/bulk/count_index.go
  dgraph/cmd/bulk/reduce.go
  t/t.go
Labels: area/bulk-loader

#7359 feat(Bulk Loader + Live Loader): Supporting Loading files via s3/minio
  .gitignore
  chunker/chunk.go
  compose/compose.go
  dgraph/cmd/bulk/loader.go
  dgraph/cmd/bulk/run.go
  dgraph/cmd/live/run.go
  filestore/filestore.go
  filestore/local_files.go
  filestore/remote_files.go
  graphql/admin/list_backups.go
  systest/bulk_live/bulk/docker-compose.yml
  systest/bulk_live/common/bulk_live_cases.go
  systest/bulk_live/common/bulk_live_fixture.go
  systest/bulk_live/live/docker-compose.yml
  testutil/bulk.go
  testutil/docker.go
  testutil/exec.go
  worker/backup.go
  worker/backup_common.go
  worker/backup_ee.go
  worker/backup_handler.go
  worker/export.go
  worker/online_restore_ee.go
  worker/s3_handler.go
  x/minioclient.go
Labels: area/bulk-loader, area/graphql

#7366 fix(Apollo federation): code refractor
  graphql/e2e/common/mutation.go
  graphql/e2e/common/query.go
  graphql/resolve/query_rewriter.go
  graphql/schema/testdata/apolloservice/output/auth-directive.graphql
  graphql/schema/testdata/apolloservice/output/custom-directive.graphql
  graphql/schema/testdata/apolloservice/output/extended-types.graphql
  graphql/schema/testdata/apolloservice/output/generate-directive.graphql
Labels: area/graphql

#7257 Feat(GraphQL): Refactor Mutation Rewriting for AddRewriter
  ee/acl/acl_test.go
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/extensions_test.go
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/mutation_test.go
  graphql/resolve/resolver_error_test.go
  graphql/resolve/resolver_test.go
  graphql/schema/wrappers.go
Labels: area/graphql

#7316 perf: simple simdjson solution with 30% speed increase
  chunker/json_parser.go
  chunker/json_parser_test.go
  go.mod
  go.sum
Labels: area/parsing, area/performance, optimization

#7379 chore(test): fixing 1million test import error
  systest/1million/1million_test.go
Labels: area/testing
