Repository hypermodeinc/dgraph, pull requests merged in 2021-10, with the labels that each got.

#8067 Make backup-restore open source
  backup/run.go
  dgraph/cmd/root.go
  dgraph/cmd/root_ee.go
  graphql/admin/admin.go
  graphql/admin/backup.go
  graphql/admin/endpoints_ee.go
  updatemanifest/run.go
  worker/backup.go
  worker/backup_ee.go
  worker/backup_manifest.go
  worker/backup_oss.go
  worker/groups.go
  worker/online_restore.go
  worker/online_restore_oss.go
  worker/restore_map.go
  worker/restore_reduce.go
Labels: area/graphql

#8070 fix(magic): fix the magic version in bulk loader etc
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/debug/run.go
  testutil/backup.go
  worker/backup.go
  worker/config.go
  worker/online_restore.go
  worker/server_state.go
  x/x.go
Labels: area/bulk-loader

#8072 contrib(sbs): add support for mutations replay in sbs
  contrib/sbs/go.mod
  contrib/sbs/sbs.go
Labels: area/integrations

#8091 fix(state): fix hex to uint64 response of list of namespaces
  graphql/admin/state.go
  x/keys.go
Labels: area/graphql
