Repository hypermodeinc/dgraph, pull requests merged in 2021-02, with the labels that each got.

#7354 Reorganize the output of lsbackup command
  ee/backup/run.go
  x/minioclient.go
Labels: area/commercial

#7384 fix(GraphQL): Added error for case when multiple filter functions are used in filter. (#7368)
  graphql/e2e/common/error_test.yaml
  graphql/schema/rules.go
  graphql/schema/validation_rules.go
Labels: area/graphql

#7381 feat(GraphQL): Allow standard claims into auth variables
  graphql/authorization/auth.go
  graphql/e2e/auth/auth_test.go
  graphql/resolve/auth_test.go
Labels: area/graphql

#7394 chore: update prometheus operator to work across namespaces
  contrib/config/monitoring/prometheus/chart-values/dgraph-prometheus-operator.yaml
Labels: area/integrations

#7363 feat(GraphQL): Add support for has filter on list of fields.
  graphql/e2e/common/common.go
  graphql/e2e/common/query.go
  graphql/e2e/schema/apollo_service_response.graphql
  graphql/e2e/schema/generatedSchema.graphql
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/schema/gqlschema.go
  graphql/schema/testdata/apolloservice/output/auth-directive.graphql
  graphql/schema/testdata/apolloservice/output/custom-directive.graphql
  graphql/schema/testdata/apolloservice/output/extended-types.graphql
  graphql/schema/testdata/apolloservice/output/generate-directive.graphql
  graphql/schema/testdata/schemagen/output/apollo-federation.graphql
  graphql/schema/testdata/schemagen/output/auth-on-interfaces.graphql
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-directLink.graphql
  graphql/schema/testdata/schemagen/output/generate-directive.graphql
  graphql/schema/testdata/schemagen/output/geo-type.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/hasInverse_withSubscription.graphql
  graphql/schema/testdata/schemagen/output/hasfilter.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-dgraph-pred.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive-and-ID-field.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/lambda-directive.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-arguments-on-field.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/testdata/schemagen/output/type-without-orderables.graphql
  graphql/schema/testdata/schemagen/output/union.graphql
Labels: area/graphql

#7393 fix(Flags): move SuperFlag to Ristretto
  dgraph/cmd/alpha/run.go
  dgraph/cmd/zero/run.go
  ee/audit/audit_ee.go
  x/config.go
  x/flags.go
  x/flags_test.go
Labels: area/commercial, area/tools

#7401 fix(GraphQL): fix interface query with auth rules.
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/e2e/auth/test_data.json
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#7406 feat(GraphQL): add support for has filter with list of arguments.
  graphql/e2e/common/common.go
  graphql/e2e/common/query.go
  graphql/e2e/schema/apollo_service_response.graphql
  graphql/e2e/schema/generatedSchema.graphql
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/schema/gqlschema.go
  graphql/schema/testdata/apolloservice/output/auth-directive.graphql
  graphql/schema/testdata/apolloservice/output/custom-directive.graphql
  graphql/schema/testdata/apolloservice/output/extended-types.graphql
  graphql/schema/testdata/apolloservice/output/generate-directive.graphql
  graphql/schema/testdata/schemagen/output/apollo-federation.graphql
  graphql/schema/testdata/schemagen/output/auth-on-interfaces.graphql
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/comments-and-descriptions.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-query-mixed-types.graphql
  graphql/schema/testdata/schemagen/output/custom-query-with-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/deprecated.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-on-concrete-type-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/dgraph-reverse-directive-with-interfaces.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-reverse-predicate-in-dgraph-directive.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-all-empty.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-circular.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/filter-cleanSchema-directLink.graphql
  graphql/schema/testdata/schemagen/output/generate-directive.graphql
  graphql/schema/testdata/schemagen/output/geo-type.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-interface.graphql
  graphql/schema/testdata/schemagen/output/hasInverse-with-type-having-directive.graphql
  graphql/schema/testdata/schemagen/output/hasInverse.graphql
  graphql/schema/testdata/schemagen/output/hasInverse_withSubscription.graphql
  graphql/schema/testdata/schemagen/output/hasfilter.graphql
  graphql/schema/testdata/schemagen/output/ignore-unsupported-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-dgraph-pred.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive-and-ID-field.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-no-ids.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types-and-password.graphql
  graphql/schema/testdata/schemagen/output/interfaces-with-types.graphql
  graphql/schema/testdata/schemagen/output/lambda-directive.graphql
  graphql/schema/testdata/schemagen/output/no-id-field-with-searchables.graphql
  graphql/schema/testdata/schemagen/output/no-id-field.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/testdata/schemagen/output/searchables-references.graphql
  graphql/schema/testdata/schemagen/output/searchables.graphql
  graphql/schema/testdata/schemagen/output/single-type-with-enum.graphql
  graphql/schema/testdata/schemagen/output/single-type.graphql
  graphql/schema/testdata/schemagen/output/type-implements-multiple-interfaces.graphql
  graphql/schema/testdata/schemagen/output/type-reference.graphql
  graphql/schema/testdata/schemagen/output/type-with-arguments-on-field.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-field-on-dgraph-type.graphql
  graphql/schema/testdata/schemagen/output/type-with-custom-fields-on-remote-type.graphql
  graphql/schema/testdata/schemagen/output/type-without-orderables.graphql
  graphql/schema/testdata/schemagen/output/union.graphql
Labels: area/graphql

#7380 fix(GraphQL): fix @auth rules evaluation in case of null variables in custom claims.
  graphql/e2e/auth/auth_test.go
  graphql/e2e/common/common.go
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/schema/auth.go
Labels: area/graphql

#7408 cherrypick(GraphQL): fix interface query with auth rules
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/e2e/auth/test_data.json
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#7409 Fix(GraphQL): Refactor Mutation Rewriter for Add and Update Mutations
  ee/acl/acl_test.go
  graphql/admin/add_group.go
  graphql/admin/update_group.go
  graphql/e2e/common/common.go
  graphql/e2e/common/error.go
  graphql/e2e/common/lambda.go
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/auth_update_test.yaml
  graphql/resolve/extensions_test.go
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/mutation_test.go
  graphql/resolve/resolver_error_test.go
  graphql/resolve/resolver_test.go
  graphql/resolve/update_mutation_test.yaml
  graphql/schema/wrappers.go
Labels: area/commercial, area/graphql

#7415 Use Badger's value log threshold of 1MB
  dgraph/cmd/bulk/reduce.go
  go.mod
  go.sum
  protos/pb.proto
  protos/pb/pb.pb.go
  worker/file_handler.go
  worker/restore.go
  worker/server_state.go
  worker/worker.go
Labels: area/bulk-loader

#7411 cherrypick(GraphQL): fix @auth rules evaluation in case of null values.
  graphql/e2e/auth/auth_test.go
  graphql/e2e/common/common.go
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/schema/auth.go
Labels: area/graphql

#7413 Fix(GraphQL): Refactor Mutation Rewriter for Add and Update Mutations…
  ee/acl/acl_test.go
  graphql/admin/add_group.go
  graphql/admin/update_group.go
  graphql/e2e/common/common.go
  graphql/e2e/common/error.go
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/auth_update_test.yaml
  graphql/resolve/extensions_test.go
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/mutation_test.go
  graphql/resolve/resolver_error_test.go
  graphql/resolve/resolver_test.go
  graphql/resolve/update_mutation_test.yaml
  graphql/schema/wrappers.go
Labels: area/commercial, area/graphql

#7405 fix(GraphQL): Fix panic caused by incorrect input coercion of scalar to list
  go.mod
  go.sum
  graphql/e2e/common/common.go
  graphql/e2e/common/error_test.yaml
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/schema/request.go
Labels: area/graphql

#7410 feat(GraphQL): Dgraph.Authorization should with irrespective of number of spaces after #
  graphql/authorization/auth.go
  graphql/schema/schemagen.go
  graphql/schema/wrappers_test.go
  testutil/graphql.go
Labels: area/graphql

#7428 fix(GraphQL): Fix panic caused by incorrect input coercion of scalar to list (#7405)
  go.mod
  go.sum
  graphql/e2e/common/common.go
  graphql/e2e/common/error_test.yaml
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/schema/request.go
Labels: area/graphql

#7431 fix(GraphQL): Make auth work with multi-tenancy and accept CORS in schema (GRAPHQL-1016)
  dgraph/cmd/alpha/admin.go
  dgraph/cmd/alpha/admin_backup.go
  dgraph/cmd/alpha/http.go
  dgraph/cmd/alpha/run.go
  edgraph/graphql.go
  edgraph/server.go
  ee/acl/acl_test.go
  graphql/admin/admin.go
  graphql/admin/cors.go
  graphql/admin/http.go
  graphql/admin/schema.go
  graphql/authorization/auth.go
  graphql/bench/auth_test.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/common/admin.go
  graphql/e2e/common/common.go
  graphql/e2e/common/error.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/e2e/directives/schema_response.json
  graphql/e2e/multi_tenancy/docker-compose.yml
  graphql/e2e/multi_tenancy/schema_test.go
  graphql/e2e/normal/normal_test.go
  graphql/e2e/normal/schema_response.json
  graphql/e2e/schema/schema_test.go
  graphql/e2e/subscription/subscription_test.go
  graphql/resolve/auth_test.go
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/query_rewriter.go
  graphql/resolve/resolver.go
  graphql/schema/custom_http.go
  graphql/schema/request.go
  graphql/schema/response.go
  graphql/schema/schemagen.go
  graphql/schema/schemagen_test.go
  graphql/schema/wrappers.go
  graphql/schema/wrappers_test.go
  graphql/subscription/poller.go
  graphql/test/test.go
  schema/schema.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio/backup_test.go
  systest/export/export_test.go
  systest/queries_test.go
  testutil/graphql.go
  testutil/schema.go
  worker/export.go
  x/keys.go
  x/x.go
Labels: area/commercial, area/graphql, area/schema, area/testing

#5703 build(release): Update release script.
  contrib/release.sh
  go.mod
  go.sum
Labels: area/integrations

#7444 fix(sort): Fix multi-sort with nils (#7432)
  query/common_test.go
  query/query1_test.go
  systest/mutations_test.go
  types/sort.go
  worker/sort.go
Labels: area/testing

#7449 fix(GraphQL): fix custom DQL (GRAPHQL-1020)
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/resolve/query.go
  graphql/resolve/resolver.go
Labels: area/graphql

#7448 Feat(GraphQL): Make XID node referencing invariant of order in which XIDs are referenced in Mutation Rewriting
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/schema.graphql
Labels: area/graphql

#7446 feat(acl): allow setting a password at the time of creation of namespace
  dgraph/cmd/debug/run.go
  edgraph/access_ee.go
  edgraph/multi_tenancy.go
  edgraph/multi_tenancy_ee.go
  ee/acl/run_ee.go
  ee/acl/utils.go
  graphql/admin/admin.go
  graphql/admin/endpoints_ee.go
  graphql/admin/namespace.go
  x/keys.go
Labels: area/commercial, area/graphql

#7445 fix(live): fix live loader to load with force namespace
  dgraph/cmd/live/run.go
  edgraph/server.go
  systest/multi-tenancy/basic_test.go
  x/x.go
Labels: area/live-loader

#7447 chore(enterprise): making cdc and audit to work with multi tenancy + audit flag change with days and size
  dgraph/cmd/alpha/run.go
  dgraph/cmd/zero/run.go
  ee/audit/audit.go
  ee/audit/audit_ee.go
  ee/audit/interceptor_ee.go
  worker/cdc_ee.go
  worker/config.go
  worker/sink_handler.go
  x/log_writer.go
  x/logger.go
Labels: area/commercial

#7437 dgraph audit commad fix help output
  ee/audit/run_ee.go
Labels: area/commercial

#7460 fix(test): remove `dgraph.graphql.p_sha256hash` predicate from backup test
  systest/backup/multi-tenancy/backup_test.go
Labels: area/testing

#7433 Feat(GraphQL): Add support for GraphQL Upsert Mutations
  graphql/admin/update_group.go
  graphql/e2e/auth/add_mutation_test.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/extensions_test.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/resolver_error_test.go
  graphql/schema/gqlschema.go
  graphql/schema/testdata/apolloservice/output/auth-directive.graphql
  graphql/schema/testdata/schemagen/output/apollo-federation.graphql
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#7440 fix(Query): fix cascade with pagination
  query/query.go
  query/query0_test.go
Labels: area/graphql, area/querylang

#7462 Fix(GraphQL): Fix master build
  graphql/resolve/mutation_rewriter.go
  graphql/schema/testdata/schemagen/output/custom-dql-query-with-subscription.graphql
Labels: area/graphql

#7425 added type of backup (full/incremental) for lsbackup
  ee/backup/run.go
Labels: area/commercial

#7426 added type of backup (full/incremental) for lsbackup
  ee/backup/run.go
Labels: area/commercial

#7438 chore(contrib): updated contrib s3 bucket support examples for terraform v0.14
  contrib/config/backups/s3/README.md
  contrib/config/backups/s3/terraform/.gitignore
  contrib/config/backups/s3/terraform/README.md
  contrib/config/backups/s3/terraform/main.tf
Labels: area/integrations

#7235 Feat(GraphQL): This PR allow multiple @id fields in a type.
  ee/acl/acl_test.go
  graphql/e2e/auth/add_mutation_test.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/delete_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/resolve/schema.graphql
  graphql/resolve/update_mutation_test.yaml
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
  graphql/schema/testdata/schemagen/input/field-with-multiple-@id-fields.graphql
  graphql/schema/testdata/schemagen/output/field-with-multiple-@id-fields.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#7464 fix(acl): make create and delete namespace available only if ACL is enabled
  graphql/admin/admin.go
  graphql/resolve/middlewares.go
Labels: area/graphql

#7454 fix(dgraph): Make Read Replica enterprise only feature
  dgraph/cmd/alpha/run.go
  dgraph/cmd/zero/license_ee.go
  dgraph/cmd/zero/zero.go
  graphql/admin/shutdown.go
  worker/groups.go
  x/server.go
  x/x.go
Labels: area/graphql

#7387 [Breaking flag] fix(Backups): new badger SuperFlag, NumGoroutines option solves OOM crashes
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/run.go
  ee/backup/run.go
  go.mod
  go.sum
  worker/backup_processor.go
  worker/server_state.go
  x/config.go
Labels: area/bulk-loader, area/commercial/backup, area/crash, area/tools

#7467 fix(GraphQL): Fix fragment expansion in auth queries (GRAPHQL-1030)
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
  graphql/schema/auth.go
  graphql/schema/wrappers.go
Labels: area/graphql

#7471 fix(GraphQL): Fix race conditions (GRAPHQL-1009)
  graphql/admin/http.go
Labels: area/graphql

#7469 Fix(GraphQL): Ignore redundant references to inverse object in mutation rewriting
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/schema.graphql
Labels: area/graphql

#7472 Fix(GraphQL): Fix Upsert with Multiple IDs
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql

#7466 fix(multi-tenancy): handle graphql schema for bulk loader and export
  chunker/json_parser_test.go
  dgraph/cmd/bulk/loader.go
  worker/export.go
  worker/export_test.go
  x/types.go
Labels: area/bulk-loader

#7463 fix(multi-tenancy): update /state on delete namespace
  dgraph/cmd/zero/raft.go
  dgraph/cmd/zero/zero.go
  posting/index.go
  protos/pb.proto
  protos/pb/pb.pb.go
  schema/schema.go
  systest/multi-tenancy/basic_test.go
  worker/draft.go
  worker/multi_tenancy_ee.go
Labels: area/schema

#7479 fix(GraphQL):fix TestSchemaSubscribe test by always incrementing schema counter value on initialization if there is schema in DB.
  graphql/admin/admin.go
Labels: area/graphql

#7481 chore(test): making create namespace in test more robust
  edgraph/multi_tenancy_ee.go
  systest/backup/multi-tenancy/backup_test.go
  systest/multi-tenancy/basic_test.go
  testutil/multi_tenancy.go
Labels: area/testing

#7483 chore(multi-tenancy): add multi_tenancy to enterprise list in /health
  ee/utils_ee.go
Labels: area/commercial

#7477 fix(GraphQL): Added support for parameterized cascade with variables.
  go.mod
  go.sum
  graphql/e2e/common/error_test.yaml
  graphql/e2e/common/query.go
  graphql/resolve/mutation_query_test.yaml
  graphql/resolve/mutation_test.go
  graphql/resolve/query_test.go
  graphql/resolve/query_test.yaml
  graphql/schema/auth.go
  graphql/schema/request.go
  graphql/schema/validation_rules.go
  graphql/schema/wrappers.go
Labels: area/graphql

#7489 fix(GraphQL): Fix flaky tests caused by multiple increments of schemaUpdateCounter.
  graphql/admin/admin.go
Labels: area/graphql
