Repository hypermodeinc/dgraph, pull requests merged in 2021-03, with the labels that each got.

#7491 fix(Flags): Rename ambiguous TLS flags
  contrib/manual_tests/test.sh
  contrib/tlstest/alpha_tls.sh
  contrib/tlstest/alpha_tls_auth.sh
  contrib/tlstest/server_11.sh
  contrib/tlstest/server_nopass.sh
  contrib/tlstest/server_nopass_client_auth.sh
  contrib/tlstest/server_pass.sh
  systest/backup/encryption/backup_test.go
  systest/backup/encryption/docker-compose.yml
  systest/backup/filesystem/docker-compose.yml
  systest/backup/minio-large/docker-compose.yml
  systest/backup/minio/docker-compose.yml
  systest/loader/docker-compose.yml
  systest/loader/loader_test.go
  systest/online-restore/docker-compose.yml
  tlstest/acl/acl_over_tls_test.go
  tlstest/acl/docker-compose.yml
  tlstest/certrequest/certrequest_test.go
  tlstest/certrequest/docker-compose.yml
  tlstest/certrequireandverify/certrequireandverify_test.go
  tlstest/certrequireandverify/docker-compose.yml
  tlstest/certverifyifgiven/certverifyifgiven_test.go
  tlstest/certverifyifgiven/docker-compose.yml
  tlstest/mtls_internal/ha_6_node/docker-compose.yml
  tlstest/mtls_internal/multi_group/docker-compose.yml
  tlstest/mtls_internal/single_node/docker-compose.yml
  tlstest/zero_https/all_routes_tls/docker-compose.yml
  x/tls_helper.go
  x/x.go
Labels: area/documentation, area/tools

#7499 Introduce Roaring Bitmaps
  algo/heap.go
  algo/heap_test.go
  algo/packed.go
  algo/packed_test.go
  algo/uidlist.go
  algo/uidlist_test.go
  codec/codec.go
  codec/codec_test.go
  dgraph/cmd/bulk/count_index.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/debug/run.go
  edgraph/server.go
  go.mod
  go.sum
  posting/index.go
  posting/index_test.go
  posting/list.go
  posting/list_test.go
  protos/pb.proto
  protos/pb/pb.pb.go
  query/fastjson_test.go
  query/groupby.go
  query/mutation.go
  query/outputnode.go
  query/outputrdf.go
  query/query.go
  query/query2_test.go
  query/recurse.go
  query/shortest.go
  systest/1million/1million_test.go
  worker/match.go
  worker/restore.go
  worker/sort.go
  worker/stringfilter.go
  worker/task.go
  worker/trigram.go
Labels: area/bulk-loader, area/testing

#7500 chore(build): update release script for go-1.16
  contrib/release.sh
  contrib/release/xgo.Dockerfile
Labels: area/integrations

#7490 feat(GraphQL): Add support for passing OAuth Bearer token as authorization JWT
  graphql/authorization/auth.go
  graphql/e2e/auth/auth_test.go
  graphql/resolve/resolver.go
  graphql/subscription/poller.go
Labels: area/graphql

#7502 fix(schema): log error instead of panic if schema not found for predicate
  schema/schema.go
  worker/tokens.go
Labels: area/schema

#7482 chore(audit): masking audit of req having passwords + adding option of stdout for audits
  dgraph/cmd/alpha/run.go
  dgraph/cmd/zero/run.go
  ee/audit/audit_ee.go
  ee/audit/interceptor_ee.go
  systest/audit/audit_test.go
  systest/audit/docker-compose.yml
  worker/config.go
  x/log_writer.go
  x/logger.go
Labels: area/commercial

#7450 chore(export_backup): s3 handler for export backup
  ee/backup/run.go
  worker/backup_common.go
  worker/export.go
  worker/file_handler.go
  worker/restore.go
  worker/s3_handler.go
Labels: area/commercial

#7480 Fix(Dgraph): Throttle number of files to open while schema update
  dgraph/cmd/bulk/run.go
  graphql/e2e/schema/docker-compose.yml
  graphql/e2e/schema/schema_test.go
  worker/mutation.go
  x/ulimit_unix.go
  x/ulimit_windows.go
Labels: area/graphql

#7512 fix(standalone): Set whitelist flag using superflag.
  contrib/standalone/run.sh
Labels: area/integrations

#7515 Fix(GraphQL): Fix Upsert mutations in case of multiple upserts
  graphql/admin/update_group.go
  graphql/e2e/common/mutation.go
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql

#7510 fix(Bulk): Remove stale allocator in bulk reduce
  dgraph/cmd/bulk/reduce.go
Labels: area/bulk-loader

#7506 Chore(backups): Consolidate the backup manifests
  ee/backup/run.go
  systest/backup/common/utils.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio-large/backup_test.go
  systest/backup/minio/backup_test.go
  systest/backup/multi-tenancy/backup_test.go
  worker/backup_common.go
  worker/backup_ee.go
  worker/backup_handler.go
  worker/backup_processor.go
  worker/file_handler.go
  worker/s3_handler.go
Labels: area/commercial, area/testing

#7505 fix(multi-tenancy): fix live loader for case when namespace does not exist for data
  dgraph/cmd/live/batch.go
  dgraph/cmd/live/run.go
  systest/multi-tenancy/basic_test.go
  testutil/bulk.go
Labels: area/live-loader, area/testing

#7517 fix(GraphQL) fix empty `type Query` with single extended type definition in the schema.
  graphql/schema/gqlschema.go
  graphql/schema/testdata/apolloservice/input/single-extended-type.graphql
  graphql/schema/testdata/apolloservice/output/single-extended-type.graphql
Labels: area/graphql

#7503 feat(Apollo): Add support for @provides and @requires directive.
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
  graphql/schema/schemagen.go
  graphql/schema/testdata/apolloservice/input/extended-types.graphql
  graphql/schema/testdata/apolloservice/output/extended-types.graphql
  graphql/schema/testdata/schemagen/input/apollo-federation.graphql
  graphql/schema/testdata/schemagen/output/apollo-federation.graphql
  graphql/schema/wrappers.go
Labels: area/graphql

#7509 release/v20.11: fix(schema): log error instead of panic if schema not found for predicate (#7502)
  schema/schema.go
  worker/tokens.go
Labels: area/schema

#7522 Chore(GraphQL): Fix flaky behaviour of TestLargeSchemaUpdate
  graphql/e2e/common/common.go
  graphql/e2e/schema/schema_test.go
Labels: area/graphql

#7526 fix(live): fix usage of force-namespace parameter in live loader
  dgraph/cmd/live/run.go
  systest/multi-tenancy/basic_test.go
  testutil/bulk.go
Labels: area/live-loader, area/testing

#7524 fix(export): fix namespace parameter in export
  graphql/admin/admin.go
  graphql/admin/export.go
Labels: area/graphql

#7523 fix(GRAPHQL): fix query rewriting for multiple order on nested field.
  graphql/dgraph/graphquery.go
  graphql/resolve/query_test.yaml
Labels: area/graphql

#7521 chores(release) - modularized release.sh
  contrib/release.sh
Labels: area/integrations

#7516 chore(dgraph): changing allocators to work with tags
  codec/codec.go
  dgraph/cmd/bulk/count_index.go
  dgraph/cmd/bulk/mapper.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/debug/run.go
  go.mod
  go.sum
  query/outputnode.go
  worker/backup_processor.go
  worker/predicate_move.go
  x/init.go
  xidmap/trie.go
Labels: area/bulk-loader

#7528 feat(GraphQL): Allow Multiple JWKUrls for auth.
  graphql/authorization/auth.go
  graphql/resolve/auth_test.go
  graphql/schema/schemagen.go
  graphql/schema/wrappers_test.go
  testutil/graphql.go
Labels: area/graphql

#7536 fix(GRAPHQL): fix query rewriting for multiple order on nested field (#7523)
  graphql/dgraph/graphquery.go
  graphql/resolve/query_test.yaml
Labels: area/graphql

#7534 fix(GRAPHQL): Added support for exact index on field having @id directive.
  graphql/schema/dgraph_schemagen_test.yml
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/schemagen.go
  graphql/schema/testdata/schemagen/input/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
Labels: area/graphql

#7543 Fix(dql): Fix error message in case of wrong argument to val()
  gql/parser.go
Labels: area/querylang

#7541 fix(super-flags): Use GetPath for path arguments in superflags
  ee/audit/audit_ee.go
  ee/utils_ee.go
  ee/vault/vault_ee.go
  go.mod
  go.sum
  worker/sink_handler.go
  x/tls_helper.go
Labels: area/commercial

#7550 fix(GRAPHQL): Added support for exact index on field having @id directive.#7534
  graphql/schema/dgraph_schemagen_test.yml
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/schemagen.go
  graphql/schema/testdata/schemagen/input/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
Labels: area/graphql

#7546 fix(GRAPHQL): fix duplicate xid error for multiple xid fields.
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/schema.graphql
Labels: area/graphql

#7551 fix(GRAPHQL): Added support for exact index on field having @id directive. (#7534)
  graphql/schema/dgraph_schemagen_test.yml
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/schemagen.go
  graphql/schema/testdata/schemagen/input/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
Labels: area/graphql

#7553 chore(live): fixing live loader abort errors when using force-namespace
  dgraph/cmd/live/run.go
  systest/multi-tenancy/basic_test.go
Labels: area/live-loader

#7556 Fix(GraphQL): Change variable name generation from Type<Num> to Type_<Num>
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/auth_update_test.yaml
  graphql/resolve/delete_mutation_test.yaml
  graphql/resolve/extensions_test.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/mutation_test.go
  graphql/resolve/query_rewriter.go
  graphql/resolve/resolver_error_test.go
  graphql/resolve/resolver_test.go
  graphql/resolve/schema.graphql
  graphql/resolve/update_mutation_test.yaml
Labels: area/graphql

#7542 fix(GraphQL): fix order of entities query result
  graphql/e2e/common/common.go
  graphql/e2e/common/query.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query.go
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/resolve/resolver.go
Labels: area/graphql

#7544 [Breaking] fix(Flags): consolidation and help text improvements
  dgraph/cmd/alpha/mutations_mode/docker-compose.yml
  dgraph/cmd/alpha/mutations_mode/mutations_mode_test.go
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/run.go
  dgraph/cmd/zero/run.go
  ee/audit/audit_ee.go
  ee/enc/flags.go
  ee/vault/flags.go
  go.mod
  go.sum
  worker/cdc_ee.go
  worker/draft.go
  worker/server_state.go
  x/config.go
  x/flags.go
  x/sentry_integration.go
  x/tls_helper.go
Labels: area/commercial

#7560 cherry-pick: [Breaking] fix(Flags): consolidation and help text improvements (#7544)
  dgraph/cmd/alpha/mutations_mode/docker-compose.yml
  dgraph/cmd/alpha/mutations_mode/mutations_mode_test.go
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/run.go
  dgraph/cmd/zero/run.go
  ee/audit/audit_ee.go
  ee/enc/flags.go
  ee/vault/flags.go
  worker/cdc_ee.go
  worker/draft.go
  worker/server_state.go
  x/config.go
  x/flags.go
  x/sentry_integration.go
  x/tls_helper.go
Labels: area/bulk-loader, area/commercial

#7548 chore(audit): fix audits to verify encryption file + check for empty files
  ee/audit/interceptor_ee.go
  ee/audit/run_ee.go
  go.sum
  t/t.go
  x/log_writer.go
Labels: area/commercial

#7563 fix(GRAPHQL): fix empty remove in update mutation patch, that remove all the data for nodes in filter.
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/update_mutation_test.yaml
Labels: area/graphql

#7558 fix(GraphQL): Apollo federation now works with lambda (GRAPHQL-1084)
  graphql/e2e/common/common.go
  graphql/e2e/common/lambda.go
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/directives/script.js
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/e2e/normal/script.js
  graphql/e2e/schema/apollo_service_response.graphql
  graphql/resolve/query_rewriter.go
  graphql/resolve/resolver.go
  graphql/schema/dgraph_schemagen_test.yml
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/schemagen.go
  graphql/schema/testdata/apolloservice/output/auth-directive.graphql
  graphql/schema/testdata/apolloservice/output/custom-directive.graphql
  graphql/schema/testdata/apolloservice/output/extended-types.graphql
  graphql/schema/testdata/apolloservice/output/generate-directive.graphql
  graphql/schema/testdata/apolloservice/output/single-extended-type.graphql
  graphql/schema/wrappers.go
  query/outputnode_graphql.go
Labels: area/graphql

#7559 Fix(GraphQL): Change variable name generation for interface auth rules
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/auth_update_test.yaml
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#7569 fix(GraphQL): Fix custom(dql: ...) with __typename (GRAPHQL-1098)
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/schema/completion.go
Labels: area/graphql

#7567 fix(audit): logs not getting deleted after N days
  ee/audit/audit_ee.go
  x/keys.go
  x/log_writer.go
  x/logger.go
Labels: area/commercial

#7584 [Breaking] fix(GRAPHQL): fix input coercing for integers and make them GraphQL spec complaint.
  go.mod
  go.sum
  graphql/e2e/common/error_test.yaml
  graphql/schema/validation_rules.go
Labels: area/graphql

#7581 feat(GraphQL): Allow Multiple JWKUrls for auth. (#7528)
  graphql/authorization/auth.go
  graphql/resolve/auth_test.go
  graphql/schema/schemagen.go
  graphql/schema/wrappers_test.go
  testutil/graphql.go
Labels: area/graphql

#7588 fix(GraphQL): Fix mutation with Int Xid variables. (#7565)
  graphql/e2e/common/mutation.go
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql

#7583 fix(GraphQL): remove support of @id directive on Float
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/common/query.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/directives/test_data.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/e2e/normal/test_data.json
  graphql/resolve/mutation_rewriter.go
  graphql/schema/dgraph_schemagen_test.yml
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
  graphql/schema/schemagen.go
  graphql/schema/wrappers.go
Labels: area/graphql

#7591 fix(Flags): remove unused badger.max-retries option from bulk command
  dgraph/cmd/bulk/run.go
Labels: area/bulk-loader

#7592 fix(Flags): remove unused badger.max-retries option from bulk command
  dgraph/cmd/bulk/run.go
Labels: area/bulk-loader

#7577 chore(test): fixing flaky tests
  systest/bgindex/count_test.go
  systest/bgindex/parallel_test.go
  systest/bgindex/reverse_test.go
  systest/bgindex/string_test.go
  systest/multi-tenancy/basic_test.go
  t/t.go
  testutil/multi_tenancy.go
Labels: area/testing

#7593 chore(Enterprise) - vault contrib scripts to demonstrate vault integration
  contrib/config/vault/README.md
  contrib/config/vault/docker/.env
  contrib/config/vault/docker/.gitignore
  contrib/config/vault/docker/README.md
  contrib/config/vault/docker/dgraph_alpha_config.yaml
  contrib/config/vault/docker/docker-compose.yaml
  contrib/config/vault/docker/vault/.gitkeep
  contrib/config/vault/docker/vault/config.hcl
  contrib/config/vault/docker/vault/payload_enc_key.json
  contrib/config/vault/docker/vault/policy_admin.hcl
  contrib/config/vault/docker/vault/policy_dgraph.hcl
Labels: area/integrations

#7596 chore(test): fixing flaky tests (#7577)
  systest/bgindex/count_test.go
  systest/bgindex/parallel_test.go
  systest/bgindex/reverse_test.go
  systest/bgindex/string_test.go
  systest/multi-tenancy/basic_test.go
  t/t.go
  testutil/multi_tenancy.go
Labels: area/testing

#7598 fix(flags): add empty defaults to Vault SuperFlag
  ee/vault/flags.go
Labels: area/commercial

#7595 Fix(GraphQL): Add extra checks for deleting UpdateTypeInput
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/input/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
Labels: area/graphql

#7600 Fix(GraphQL): Add extra checks for deleting UpdateTypeInput (20.11 cherry-pick)
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/input/custom-mutation.graphql
  graphql/schema/testdata/schemagen/output/custom-mutation.graphql
Labels: area/graphql

#7538 fix(Dgraph): backup API should not keep the client waiting
  dgraph/cmd/alpha/admin_backup.go
  edgraph/server.go
  graphql/admin/backup.go
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  protos/pb.proto
  protos/pb/pb.pb.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio-large/backup_test.go
  systest/backup/minio/backup_test.go
  systest/backup/multi-tenancy/backup_test.go
  testutil/backup.go
  testutil/client.go
  worker/backup_common.go
  worker/backup_ee.go
  worker/export.go
Labels: area/graphql

#7597 chore(Enterprise) - vault contrib scripts to demonstrate vault integration (#7593)
  contrib/config/vault/README.md
  contrib/config/vault/docker/.env
  contrib/config/vault/docker/.gitignore
  contrib/config/vault/docker/README.md
  contrib/config/vault/docker/dgraph_alpha_config.yaml
  contrib/config/vault/docker/docker-compose.yaml
  contrib/config/vault/docker/vault/.gitkeep
  contrib/config/vault/docker/vault/config.hcl
  contrib/config/vault/docker/vault/payload_enc_key.json
  contrib/config/vault/docker/vault/policy_admin.hcl
  contrib/config/vault/docker/vault/policy_dgraph.hcl
Labels: area/integrations

#7605 fix(flags): use GetString for vault path
  ee/vault/vault_ee.go
Labels: area/commercial

#7606 chore(upgrade): update the upgrade tool for deprecated predicates change (#7486)
  ee/backup/run.go
  upgrade/change_list.go
  upgrade/change_v20.03.0.go
  upgrade/change_v20.07.0.go
  upgrade/change_v21.03.0.go
  upgrade/upgrade.go
  upgrade/utils.go
  worker/online_restore_ee.go
  worker/restore.go
  worker/s3_handler.go
Labels: area/commercial

#7602 fix(GRAPHQL): Undo the breaking change and tag it as deprecated.
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/input/interface-with-id-directive-and-ID-field.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive-and-ID-field.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
Labels: area/graphql

#7607 fix(GRAPHQL): Undo the breaking change and tag it as deprecated.
  graphql/schema/gqlschema.go
  graphql/schema/testdata/schemagen/input/interface-with-id-directive-and-ID-field.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive-and-ID-field.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
Labels: area/graphql

#7474 Use Badger's value log threshold of 1MB (#7415)
  dgraph/cmd/bulk/reduce.go
  go.mod
  go.sum
  worker/file_handler.go
  worker/restore.go
  worker/server_state.go
Labels: area/bulk-loader

#7345 ci: Add GitHub Actions for golangci-lint.
  .github/workflows/golangci-lint.yml
Labels: area/integrations

#7610 fix(GraphQL): fix lambda querying a lambda field in case of no data.
  graphql/e2e/common/common.go
  graphql/e2e/common/lambda.go
  query/outputnode_graphql.go
Labels: area/graphql

#7619 Use Badger's value log threshold of 1MB (#7415). (#7474)
  dgraph/cmd/bulk/reduce.go
  go.mod
  go.sum
  worker/file_handler.go
  worker/restore.go
  worker/server_state.go
Labels: area/bulk-loader

#7620 Chore(release): fix for xgo version to use
  contrib/release.sh
Labels: area/integrations

#7621 chore(release) - update release.sh with GOVERSION=1.15.5
  contrib/release.sh
  contrib/release/xgo.Dockerfile
  go.mod
  go.sum
  tools.go
Labels: area/integrations

#7623 release script update to dynamically change Dockerfile
  contrib/release.sh
  contrib/release/xgo.Dockerfile
Labels: area/integrations

#7622 build(dockerfile): Use Ubuntu 20.04 and add tools.
  contrib/Dockerfile
Labels: area/integrations

#7624 chore(release) - release script update to support GOVERSION for xgo
  contrib/release.sh
  contrib/release/xgo.Dockerfile
  tools.go
Labels: area/integrations

#7604 Chore(vault) - vault superflags contrib
  contrib/config/vault/docker/README.md
  contrib/config/vault/docker/dgraph_alpha_config.yaml
  contrib/config/vault/docker/docker-compose.yaml
  contrib/config/vault/docker/vault/payload_alpha_secrets.json
  contrib/config/vault/docker/vault/payload_enc_key.json
Labels: area/integrations

#7630 fix(GraphQL): Fix panic when no schema exists for a new namespace
  graphql/admin/admin.go
  graphql/e2e/multi_tenancy/schema_test.go
  graphql/e2e/schema/schema_test.go
Labels: area/graphql

#7634 build(dockerfile): Use Ubuntu 20.04 and add tools.
  contrib/Dockerfile
Labels: area/integrations

#7635 build(dockerfile): Use Ubuntu 20.04 and add tools.
  contrib/Dockerfile
Labels: area/integrations

#7612 fix(GRAPHQL): Add error handling for unrecognized args to generate directive.
  go.mod
  go.sum
  graphql/resolve/mutation_rewriter.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
Labels: area/graphql

#7547 chore(perf): Improve perf of bulk loader with Reuse allocator and assinging tags to allocator (#7360)
  codec/codec.go
  dgraph/cmd/bulk/count_index.go
  dgraph/cmd/bulk/mapper.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/debug/run.go
  go.mod
  go.sum
  query/outputnode.go
  t/t.go
  worker/predicate_move.go
  x/init.go
  xidmap/trie.go
Labels: area/bulk-loader

#7641 fix(endpoints): Move z and jemalloc endpoints to /debug
  dgraph/cmd/alpha/run.go
  dgraph/cmd/debuginfo/run.go
  dgraph/cmd/zero/run.go
  ee/audit/interceptor_ee.go
Labels: area/commercial

#7638 Fix(GraphQL): Log query along with the panic
  graphql/admin/http.go
  graphql/api/panics.go
  graphql/resolve/resolver.go
Labels: area/graphql

#7644 chore(test): fix flaky tests for online restore
  systest/online-restore/online_restore_test.go
Labels: area/testing

#7646 Chore(GraphQL): Fix query logging for mutations in case of panic
  graphql/resolve/resolver.go
Labels: area/graphql

#7645 Fix(GraphQL): Log query along with the panic (#7638)
  graphql/api/panics.go
  graphql/resolve/resolver.go
  graphql/web/http.go
Labels: area/graphql

#7653 Chore(GraphQL): Minor refactoring of mutation_rewriter.go
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql

#7656 Fix(GraphQL): Fix Execution Trace for Add and Update Mutations
  graphql/resolve/extensions_test.go
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql

#7658 Fix(GraphQL): Fix Execution Trace for Add and Update Mutations
  graphql/resolve/extensions_test.go
  graphql/resolve/mutation.go
Labels: area/graphql

#7642 fix(flags): use Vault without secret ID
  ee/vault/vault_ee.go
Labels: area/commercial

#7661 Chore(vault) - Update with instructions for cidr_bound_list
  contrib/config/vault/docker/.env
  contrib/config/vault/docker/README.md
  contrib/config/vault/docker/docker-compose.yaml
Labels: area/integrations

#7664 Perf(restore): Implement map-reduce based restore
  chunker/chunk.go
  dgraph/cmd/bulk/loader.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/debug/run.go
  dgraph/cmd/decrypt/decrypt.go
  dgraph/cmd/live/run.go
  dgraph/cmd/root_ee.go
  ee/backup/run.go
  ee/enc/util_ee.go
  ee/utils.go
  ee/utils_ee.go
  ee/vault/vault.go
  ee/vault/vault_ee.go
  filestore/filestore.go
  filestore/local_files.go
  filestore/remote_files.go
  graphql/schema/gqlschema.go
  graphql/schema/rules.go
  graphql/schema/schemagen.go
  raftwal/log.go
  raftwal/storage.go
  systest/backup/common/utils.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio-large/backup_test.go
  systest/backup/minio/backup_test.go
  systest/backup/multi-tenancy/backup_test.go
  worker/backup.go
  worker/backup_ee.go
  worker/backup_handler.go
  worker/backup_handler_test.go
  worker/backup_manifest.go
  worker/config.go
  worker/export.go
  worker/online_restore_ee.go
  worker/restore.go
  x/config.go
  x/logger.go
  x/types.go
  x/x_test.go
Labels: area/bulk-loader, area/commercial, area/graphql, area/live-loader, area/testing

#7666 [BREAKING] Opt(Restore): Optimize Restore's new map-reduce based design
  ee/backup/run.go
  systest/backup/common/utils.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio-large/backup_test.go
  systest/backup/minio/backup_test.go
  worker/online_restore.go
  worker/online_restore_ee.go
  worker/online_restore_oss.go
  worker/restore.go
  worker/restore_map.go
  worker/restore_reduce.go
Labels: area/commercial, area/testing

#6649 feat(GraphQL): Zero HTTP endpoints are now available at GraphQL admin (GRAPHQL-1118)
  dgraph/cmd/zero/http.go
  dgraph/cmd/zero/license_ee.go
  dgraph/cmd/zero/run.go
  dgraph/cmd/zero/tablet.go
  dgraph/cmd/zero/zero.go
  dgraph/cmd/zero/zero_test.go
  ee/acl/acl_test.go
  graphql/admin/admin.go
  graphql/admin/assign.go
  graphql/admin/endpoints_ee.go
  graphql/admin/enterpriseLicense.go
  graphql/admin/moveTablet.go
  graphql/admin/removeNode.go
  graphql/schema/completion.go
  graphql/schema/validation_rules.go
  protos/pb.proto
  protos/pb/pb.pb.go
  systest/group-delete/docker-compose.yml
  systest/group-delete/group_delete_test.go
  systest/license/license_test.go
  testutil/graphql.go
  worker/mutation.go
  worker/zero.go
Labels: area/graphql

#7670 cherry-pick v21.03: feat(GraphQL): Zero HTTP endpoints are now available at GraphQL admin…
  dgraph/cmd/zero/http.go
  dgraph/cmd/zero/license_ee.go
  dgraph/cmd/zero/run.go
  dgraph/cmd/zero/tablet.go
  dgraph/cmd/zero/zero.go
  dgraph/cmd/zero/zero_test.go
  ee/acl/acl_test.go
  go.sum
  graphql/admin/admin.go
  graphql/admin/assign.go
  graphql/admin/endpoints_ee.go
  graphql/admin/enterpriseLicense.go
  graphql/admin/moveTablet.go
  graphql/admin/removeNode.go
  graphql/schema/completion.go
  graphql/schema/validation_rules.go
  protos/pb.proto
  protos/pb/pb.pb.go
  systest/group-delete/docker-compose.yml
  systest/group-delete/group_delete_test.go
  systest/license/license_test.go
  testutil/graphql.go
  worker/mutation.go
  worker/zero.go
Labels: area/commercial, area/graphql, area/testing
