Repository hypermodeinc/dgraph, pull requests merged in 2021-06, with the labels that each got.

#7873 2103: feat(schema): do schema versioning and make backup non-blocking…
  posting/index.go
  protos/pb.proto
  protos/pb/pb.pb.go
  schema/schema.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio-large/backup_test.go
  systest/backup/minio/backup_test.go
  testutil/backup.go
  worker/backup_ee.go
  worker/backup_processor.go
  worker/draft.go
  worker/groups.go
  worker/mutation.go
  worker/predicate_move.go
  worker/snapshot.go
Labels: area/schema, area/testing

#7877 release/21.03: make exports synchronous again
  dgraph/cmd/alpha/admin.go
  dgraph/cmd/alpha/admin_backup.go
  graphql/admin/admin.go
  graphql/admin/export.go
  graphql/e2e/schema/schema_test.go
  systest/export/export_test.go
  worker/export_test.go
Labels: area/graphql, area/testing

#7894 [cherry-pick] Fix returning of error in case of transaction conflict (#7763)
  graphql/resolve/mutation.go
Labels: area/graphql

#7895 fix(GraphQL): optimize eq filter queries
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
Labels: area/graphql

#7897 fix(GraphQL): optimize eq filter queries #7897
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
Labels: area/graphql

#7916 fix(GraphQL): handle extend keyword for Queries and Mutations
  graphql/schema/schemagen.go
Labels: area/graphql

#7917 fix(groot): do not upsert groot for all namespaces on restart
  dgraph/cmd/bulk/mapper.go
  dgraph/cmd/bulk/run.go
  edgraph/access_ee.go
  ee/acl/run.go
Labels: area/bulk-loader

#7924 cloud: fix(groot): do not upsert groot for all namespaces on restart (#7917)
  dgraph/cmd/bulk/mapper.go
  dgraph/cmd/bulk/run.go
  edgraph/access_ee.go
  ee/acl/run.go
Labels: area/bulk-loader, area/commercial

#7915 fix(GraphQL): Nested Auth Rules not working properly.
  graphql/e2e/auth/auth_test.go
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#7925 fix: fixing graphql schema update when the data is restored + skipping /probe/graphql from audit
  ee/audit/interceptor_ee.go
  graphql/admin/admin.go
  graphql/admin/schema.go
  worker/graphql_schema.go
  worker/online_restore.go
Labels: area/graphql

#7932 fix(backup): Fix full backup request
  graphql/admin/backup.go
Labels: area/graphql

#7933 cloud: fix(backup): Fix full backup request (#7932)
  graphql/admin/backup.go
Labels: area/graphql

#7934 release/v21.03: fix(backup): Fix full backup request (#7932)
  graphql/admin/backup.go
Labels: area/graphql

#7923 cherrypick(GraphQL): handle extend keyword for Queries and Mutations (#7916)
  graphql/schema/schemagen.go
Labels: area/graphql

#7936 [cherry-pick] Add namespaces field to state
  graphql/admin/admin.go
  graphql/admin/state.go
  graphql/e2e/multi_tenancy/multi_tenancy_test.go
  x/keys.go
Labels: area/graphql

#7937 [cherry-pick] CLOUD: Add namespaces field to state
  graphql/admin/admin.go
  graphql/admin/state.go
  graphql/e2e/multi_tenancy/multi_tenancy_test.go
  x/keys.go
Labels: area/graphql
