Repository hypermodeinc/dgraph, pull requests merged in 2021-05, with the labels that each got.

#7763 Fix(GraphQL): Fix returning of error in case of transaction conflict
  graphql/resolve/mutation.go
Labels: area/graphql

#7774 fix(Dgraph): Forward task status requests to correct Alpha
  graphql/admin/backup.go
  graphql/admin/export.go
  graphql/admin/task.go
  protos/pb.proto
  protos/pb/pb.pb.go
  testutil/utils.go
  worker/backup.go
  worker/backup_manifest.go
  worker/queue.go
  worker/worker.go
Labels: area/graphql

#7777 opt(txn commits): Optimize txns by passing Skiplists to Badger
  dgraph/cmd/alpha/http_test.go
  dgraph/cmd/alpha/reindex_test.go
  dgraph/cmd/live/batch.go
  dgraph/cmd/live/run.go
  dgraph/main.go
  edgraph/server.go
  ee/acl/acl_curl_test.go
  ee/acl/acl_test.go
  go.mod
  go.sum
  graphql/e2e/common/common.go
  posting/index.go
  posting/index_test.go
  posting/list_test.go
  posting/mvcc.go
  posting/oracle.go
  query/common_test.go
  systest/queries_test.go
  t/t.go
  testutil/client.go
  worker/draft.go
  worker/worker_test.go
Labels: area/commercial, area/graphql, area/live-loader, area/testing

#7780 fix(export-backup): Fix double free in export backup
  ee/backup/run.go
Labels: area/commercial

#7783 release/v21.03-slash: fix(export-backup): Fix double free in export backup (#7780)
  ee/backup/run.go
Labels: area/commercial

#7782 fix(txn): ensure that txn hash is set
  edgraph/server.go
  worker/server_state.go
Labels: area/graphql

#7781 release/v21.03-slash: asynchronous tasks
  dgraph/cmd/alpha/admin.go
  dgraph/cmd/alpha/admin_backup.go
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/mapper.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/zero/oracle.go
  dgraph/cmd/zero/run.go
  go.mod
  go.sum
  graphql/admin/admin.go
  graphql/admin/backup.go
  graphql/admin/endpoints_ee.go
  graphql/admin/export.go
  graphql/admin/task.go
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  protos/pb.proto
  protos/pb/pb.pb.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio-large/backup_test.go
  systest/backup/minio/backup_test.go
  systest/backup/multi-tenancy/backup_test.go
  systest/export/export_test.go
  systest/mutations_test.go
  systest/online-restore/online_restore_test.go
  testutil/backup.go
  testutil/client.go
  testutil/utils.go
  worker/backup.go
  worker/backup_ee.go
  worker/backup_oss.go
  worker/export.go
  worker/predicate_move.go
  worker/queue.go
  worker/restore_map.go
  worker/restore_reduce.go
  worker/snapshot.go
  worker/worker.go
  worker/worker_test.go
  xidmap/trie.go
  xidmap/xidmap.go
Labels: area/graphql, area/testing

#7778 release-slash: feat(cloud): add shared-instance flag in limit superflag in alpha (#7770)
  dgraph/cmd/alpha/run.go
  edgraph/access_ee.go
  systest/cloud/cloud_test.go
  systest/cloud/docker-compose.yml
  systest/cloud/minio.env
  testutil/client.go
  testutil/multi_tenancy.go
  testutil/utils.go
  worker/server_state.go
  x/config.go
  x/minioclient.go
Labels: area/testing

#7791 chore(GraphQL): Improvise error logging
  dgraph/cmd/alpha/http.go
  dgraph/cmd/alpha/run.go
  edgraph/server.go
  graphql/admin/admin.go
  graphql/admin/http.go
Labels: area/graphql

#7793 cherry-pick v21.03: chore(GraphQL): Improvise error logging (#7791) (GRAPHQL-1208)
  dgraph/cmd/alpha/http.go
  dgraph/cmd/alpha/run.go
  edgraph/server.go
  graphql/admin/admin.go
  graphql/admin/http.go
Labels: area/graphql

#7794 cherry-pick v21.03-slash: chore(GraphQL): Improvise error logging (#7791) (GRAPHQL-1208)
  dgraph/cmd/alpha/http.go
  dgraph/cmd/alpha/run.go
  edgraph/server.go
  graphql/admin/admin.go
  graphql/admin/http.go
Labels: area/graphql

#7797 fix(ee): GetKeys should return an error (#7713)
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/run.go
  dgraph/cmd/debug/run.go
  dgraph/cmd/decrypt/decrypt.go
  dgraph/cmd/live/run.go
  ee/backup/run.go
  ee/flags.go
  ee/keys.go
  ee/keys_ee.go
  ee/utils_ee.go
  testutil/backup.go
  worker/restore_map.go
Labels: area/bulk-loader, area/commercial, area/live-loader

#7798 chore: Replace panic in live loader with errors
  dgraph/cmd/live/run.go
Labels: area/live-loader

#7800 release/v21.03-slash: fix(restore): Bump uid and namespace after restore (#7790)
  dgraph/cmd/zero/assign.go
  dgraph/cmd/zero/zero_test.go
  ee/backup/run.go
  protos/pb.proto
  protos/pb/pb.pb.go
  worker/online_restore.go
  worker/restore_map.go
Labels: area/commercial

#7806 fix(GraphQL): Pass on HTTP request headers for subscriptions
  go.mod
  go.sum
  graphql/admin/http.go
Labels: area/graphql

#7804 bug fix to permit audit streaming to stdout writer(#7803)
  ee/audit/audit_ee.go
Labels: area/commercial

#7807 fix(GraphQL): Pass on HTTP request headers for subscriptions (#7806)
  go.mod
  go.sum
  graphql/admin/http.go
Labels: area/graphql

#7776 Fix(GraphQL): Fix duplicate XID error in case of interface XIDs
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/schema.graphql
  graphql/resolve/update_mutation_test.yaml
Labels: area/graphql

#7810 BREAKING: fix json marshal unmarshal for namespace > 127
  dgraph/cmd/alpha/http_test.go
  dgraph/cmd/alpha/upsert_test.go
  dgraph/cmd/zero/oracle.go
  edgraph/server.go
  posting/index.go
  posting/list_test.go
  t/t.go
  worker/groups.go
  x/keys.go
  x/keys_test.go
Labels: area/commercial, area/graphql, area/live-loader

#7808 Feat(Multi-tenancy): Add namespaces field to state
  graphql/admin/admin.go
  graphql/admin/state.go
  graphql/e2e/multi_tenancy/multi_tenancy_test.go
  x/keys.go
Labels: area/graphql

#7815 add update_manifest tool
  dgraph/cmd/root.go
  dgraph/cmd/root_ee.go
  ee/backup/run.go
  ee/updatemanifest/run.go
  worker/backup_ee.go
  worker/backup_manifest.go
Labels: area/commercial

#7821 feat(lexer): Expose DQL lexer for usage by visual editor
  gql/parser.go
  gql/parser_test.go
Labels: area/querylang

#7819 chore(release) - update release.sh with GOVERSION=1.15.5 (#7621)
  contrib/release.sh
  contrib/release/xgo.Dockerfile
  go.mod
  go.sum
  tools.go
Labels: area/integrations

#7823 refactor: LexQuery unit tests
  gql/parser_test.go
Labels: area/querylang

#7825 handle manifest version logic, update manifest version to 2105
  ee/updatemanifest/run.go
  systest/backup/filesystem/backup_test.go
  systest/backup/filesystem/data/to_restore/1/dgraph.20201125.173944.587/manifest.json
  systest/backup/filesystem/data/to_restore/1/dgraph.20201125.173944.587/r68-g1.backup
  systest/backup/filesystem/data/to_restore/1/dgraph.20201125.173944.587/r68-g2.backup
  systest/backup/filesystem/data/to_restore/1/dgraph.20201125.173944.587/r68-g3.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094442.220/manifest.json
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094442.220/r38-g1.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094442.220/r38-g2.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094442.220/r38-g3.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094634.533/manifest.json
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094634.533/r54-g1.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094634.533/r54-g2.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094634.533/r54-g3.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094648.003/manifest.json
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094648.003/r58-g1.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094648.003/r58-g2.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094648.003/r58-g3.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095641.969/r9-g1.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095641.969/r9-g2.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095641.969/r9-g3.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095716.130/r21-g1.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095716.130/r21-g2.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095716.130/r21-g3.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095726.320/r26-g1.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095726.320/r26-g2.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095726.320/r26-g3.backup
  systest/backup/filesystem/data/to_restore/3/manifest.json
  worker/backup.go
  worker/backup_ee.go
  worker/backup_manifest.go
  worker/online_restore.go
  worker/restore_map.go
  x/x.go
Labels: area/commercial

#7827 fix(drop): attach galaxy namespace to drop attr done on 20.11 backup
  systest/backup/filesystem/backup_test.go
  systest/backup/filesystem/data/to_restore/1/dgraph.20201125.173944.587/manifest.json
  systest/backup/filesystem/data/to_restore/1/dgraph.20201125.173944.587/r68-g1.backup
  systest/backup/filesystem/data/to_restore/1/dgraph.20201125.173944.587/r68-g2.backup
  systest/backup/filesystem/data/to_restore/1/dgraph.20201125.173944.587/r68-g3.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094442.220/manifest.json
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094442.220/r38-g1.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094442.220/r38-g2.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094442.220/r38-g3.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094634.533/manifest.json
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094634.533/r54-g1.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094634.533/r54-g2.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094634.533/r54-g3.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094648.003/manifest.json
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094648.003/r58-g1.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094648.003/r58-g2.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094648.003/r58-g3.backup
  worker/restore.go
Labels: area/testing

#7828 fix(updatemanifest): update the version of manifest after upgrade
  ee/updatemanifest/run.go
Labels: area/commercial

#7826 opt(snapshot): optimize snapshot by using sinceTs
  schema/schema.go
  worker/snapshot.go
Labels: area/schema

#7831 chore(contrib/systemd): Add file descriptors limit.
  contrib/systemd/centos/dgraph-alpha.service
  contrib/systemd/centos/dgraph-zero.service
Labels: area/integrations

#7838 fix(restore): update the schema and type from 2103
  ee/updatemanifest/run.go
  worker/backup_manifest.go
  worker/restore_map.go
  x/keys.go
Labels: area/commercial

#7834 cloud: fix(auth): preserve the status code while returning error (#7832)
  edgraph/access_ee.go
  edgraph/server.go
  ee/acl/acl_test.go
Labels: area/commercial

#7835 fix(admin): remove exportedFiles field
  graphql/admin/admin.go
  graphql/e2e/schema/schema_test.go
  worker/export_test.go
Labels: area/graphql

#7836 release/21.03-slash: fix(admin): remove exportedFiles field
  graphql/admin/admin.go
  graphql/e2e/schema/schema_test.go
  worker/export_test.go
Labels: area/graphql

#7840 feat(sroar): Bring sroar to Dgraph
  codec/codec.go
  dgraph/cmd/bulk/count_index.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/debug/run.go
  go.mod
  go.sum
  posting/list.go
  posting/list_test.go
  query/fastjson_test.go
  query/groupby.go
  query/mutation.go
  query/query.go
  query/shortest.go
  worker/match.go
  worker/restore_map.go
  worker/sort.go
  worker/task.go
  worker/trigram.go
Labels: area/bulk-loader

#7775 feat(GraphQL): Support auth with custom DQL
  graphql/dgraph/graphquery.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/resolve/auth_test.go
  graphql/resolve/custom_auth_query_test.yaml
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/query.go
  graphql/resolve/query_rewriter.go
  graphql/resolve/resolver.go
  graphql/schema/wrappers.go
Labels: area/graphql

#7852 feat(schema): do schema versioning and make backup non-blocking for indexing
  posting/index.go
  schema/schema.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio-large/backup_test.go
  systest/backup/minio/backup_test.go
  testutil/backup.go
  worker/backup_ee.go
  worker/draft.go
  worker/groups.go
  worker/mutation.go
  worker/predicate_move.go
  worker/snapshot.go
Labels: area/schema

#7856 cloud: feat(schema): do schema versioning and make backup non-blocking for i…
  posting/index.go
  protos/pb.proto
  protos/pb/pb.pb.go
  schema/schema.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio-large/backup_test.go
  systest/backup/minio/backup_test.go
  testutil/backup.go
  worker/backup_ee.go
  worker/draft.go
  worker/groups.go
  worker/mutation.go
  worker/predicate_move.go
  worker/snapshot.go
Labels: area/schema, area/testing

#7863 fix(Backup): use validReadTs from manifest for backward compatibility (#7601)
  ee/backup/run.go
  graphql/admin/list_backups.go
  worker/backup.go
  worker/backup_ee.go
  worker/backup_manifest.go
  worker/online_restore.go
  worker/restore_map.go
Labels: area/commercial, area/graphql

#7848 cherry: json marshal ns > 127 fix + updatemanifest tool + couple of others
  dgraph/cmd/alpha/http_test.go
  dgraph/cmd/alpha/upsert_test.go
  dgraph/cmd/root.go
  dgraph/cmd/root_ee.go
  dgraph/cmd/zero/oracle.go
  edgraph/server.go
  ee/updatemanifest/run.go
  posting/index.go
  posting/list_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/filesystem/data/to_restore/1/dgraph.20201125.173944.587/manifest.json
  systest/backup/filesystem/data/to_restore/1/dgraph.20201125.173944.587/r68-g1.backup
  systest/backup/filesystem/data/to_restore/1/dgraph.20201125.173944.587/r68-g2.backup
  systest/backup/filesystem/data/to_restore/1/dgraph.20201125.173944.587/r68-g3.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094442.220/manifest.json
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094442.220/r38-g1.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094442.220/r38-g2.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094442.220/r38-g3.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094634.533/manifest.json
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094634.533/r54-g1.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094634.533/r54-g2.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094634.533/r54-g3.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094648.003/manifest.json
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094648.003/r58-g1.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094648.003/r58-g2.backup
  systest/backup/filesystem/data/to_restore/2/dgraph.20210517.094648.003/r58-g3.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095641.969/r9-g1.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095641.969/r9-g2.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095641.969/r9-g3.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095716.130/r21-g1.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095716.130/r21-g2.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095716.130/r21-g3.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095726.320/r26-g1.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095726.320/r26-g2.backup
  systest/backup/filesystem/data/to_restore/3/dgraph.20210517.095726.320/r26-g3.backup
  systest/backup/filesystem/data/to_restore/3/manifest.json
  t/test-286-1491914842.log
  worker/backup.go
  worker/backup_ee.go
  worker/backup_manifest.go
  worker/groups.go
  worker/online_restore.go
  worker/restore_map.go
  x/keys.go
  x/keys_test.go
  x/x.go
Labels: area/commercial, area/testing

#7868 release/v21.03: Cherry-picks from the cloud branch
  dgraph/cmd/zero/assign.go
  dgraph/cmd/zero/run.go
  dgraph/cmd/zero/zero.go
  dgraph/cmd/zero/zero_test.go
  edgraph/access_ee.go
  edgraph/server.go
  ee/acl/acl_test.go
  graphql/admin/add_group.go
  graphql/admin/update_group.go
  graphql/e2e/common/mutation.go
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/auth_update_test.yaml
  graphql/resolve/extensions_test.go
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/mutation_test.go
  graphql/resolve/resolver_error_test.go
  graphql/resolve/update_mutation_test.yaml
  systest/export/export_test.go
  systest/online-restore/docker-compose.yml
  testutil/client.go
  worker/export.go
  worker/export_test.go
  xidmap/xidmap.go
Labels: area/commercial, area/graphql, area/testing

#7869 release/v21.03: cherry-picks
  dgraph/cmd/alpha/admin.go
  dgraph/cmd/alpha/admin_backup.go
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/mapper.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/bulk/run.go
  dgraph/cmd/debug/run.go
  dgraph/cmd/decrypt/decrypt.go
  dgraph/cmd/live/run.go
  dgraph/cmd/zero/oracle.go
  dgraph/cmd/zero/run.go
  edgraph/server.go
  ee/backup/run.go
  ee/flags.go
  ee/keys.go
  ee/keys_ee.go
  ee/utils_ee.go
  go.mod
  go.sum
  graphql/admin/admin.go
  graphql/admin/backup.go
  graphql/admin/endpoints_ee.go
  graphql/admin/export.go
  graphql/admin/task.go
  graphql/e2e/custom_logic/cmd/main.go
  graphql/e2e/custom_logic/custom_logic_test.go
  graphql/e2e/schema/schema_test.go
  protos/pb.proto
  protos/pb/pb.pb.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio-large/backup_test.go
  systest/backup/minio/backup_test.go
  systest/backup/multi-tenancy/backup_test.go
  systest/export/export_test.go
  systest/mutations_test.go
  systest/online-restore/online_restore_test.go
  testutil/backup.go
  testutil/client.go
  testutil/utils.go
  worker/backup.go
  worker/backup_ee.go
  worker/backup_processor.go
  worker/export.go
  worker/export_test.go
  worker/online_restore_ee.go
  worker/predicate_move.go
  worker/queue.go
  worker/snapshot.go
  worker/worker.go
  worker/worker_test.go
  xidmap/trie.go
  xidmap/xidmap.go
Labels: area/bulk-loader, area/graphql, area/testing
