Repository hypermodeinc/dgraph, pull requests merged in 2021-09, with the labels that each got.

#8006 fix(lambda): monitor lambda server, fix performance issue, remove lambda logs from extensions
  compose/compose.go
  contrib/bench-lambda/load-data.sh
  contrib/bench-lambda/main.go
  dgraph/cmd/alpha/dist/index.js
  dgraph/cmd/alpha/dist/index.js.LICENSE.txt
  dgraph/cmd/alpha/run.go
  dgraph/cmd/alpha/run_test.go
  edgraph/server.go
  go.mod
  go.sum
  graphql/e2e/directives/docker-compose.yml
  graphql/e2e/normal/docker-compose.yml
  graphql/resolve/mutation.go
  graphql/resolve/query.go
  graphql/resolve/resolver.go
  graphql/resolve/webhook.go
  graphql/schema/custom_http.go
  graphql/schema/response.go
  lambda/src/buildApp.ts
  lambda/src/evaluate-script.test.ts
  lambda/src/evaluate-script.ts
  query/fastjson_test.go
  query/outputnode.go
  query/outputnode_graphql.go
  worker/server_state.go
  x/config.go
Labels: area/graphql, area/integrations

#8014 fix(admin): make config changes to pass through gog middlewares
  graphql/admin/admin.go
Labels: area/graphql

#8018 fix(sbs): handle response error gracefully
  contrib/sbs/sbs.go
Labels: area/integrations

#8019 fix(bulk): quote the schema correctly in bulk loader
  dgraph/cmd/bulk/loader.go
  systest/bulk_live/common/bulk_live_cases.go
Labels: area/testing, area/bulk-loader

#8020 fix(bulk): quote the schema correctly in bulk loader
  dgraph/cmd/bulk/loader.go
  systest/bulk_live/common/bulk_live_cases.go
Labels: area/testing, area/bulk-loader

#8031 Merge master to release/v21.09
  codec/codec.go
  contrib/sbs/sbs.go
  dgraph/cmd/alpha/run.go
  go.mod
  go.sum
  graphql/admin/admin.go
  posting/list.go
  query/query.go
  worker/draft.go
  worker/task.go
Labels: area/graphql, area/integrations

#8035 fix(contrib): Quote strings in backup script.
  contrib/config/backups/client/backup_helper.sh
  contrib/config/backups/client/dgraph-backup.sh
Labels: area/integrations

#8037 fix(probe): do not contend for lock in lazy load
  graphql/admin/admin.go
Labels: area/graphql

#8046 fix(lambda-logs): extract namespace from body.namespace
  dgraph/cmd/alpha/dist/index.js
  graphql/schema/custom_http.go
  lambda/src/buildApp.ts
Labels: area/graphql

#8043 fix(lambda-logs): extract namespace from body.namespace
  dgraph/cmd/alpha/dist/index.js
  graphql/schema/custom_http.go
  lambda/src/buildApp.ts
Labels: area/graphql

#8050 chore(restore): Add more logs for restore request
  graphql/admin/restore.go
  worker/online_restore.go
  worker/restore_map.go
Labels: area/graphql

#8052 cherrypick-cloud: chore(restore): Add more logs for restore request (#8050)
  graphql/admin/restore.go
  worker/online_restore.go
  worker/restore_map.go
Labels: area/graphql

#8048 fix: fixing audit logs for websocket connections
  ee/audit/audit_ee.go
  ee/audit/interceptor.go
  ee/audit/interceptor_ee.go
  graphql/admin/http.go
  x/jwt_helper.go
Labels: area/commercial, area/graphql

#8053 fix: fixing audit logs for websocket connections (#8048)
  ee/audit/audit_ee.go
  ee/audit/interceptor.go
  ee/audit/interceptor_ee.go
  graphql/admin/http.go
  x/jwt_helper.go
Labels: area/commercial, area/graphql

#8041 fix(probe): do not contend for lock in lazy load (#8037)
  graphql/admin/admin.go
Labels: area/graphql
