Repository hypermodeinc/dgraph, pull requests merged in 2021-07, with the labels that each got.

#7938 opt(Alpha): Load schema and types using Stream framework
  schema/schema.go
  worker/groups.go
Labels: area/schema

#7940 opt(Alpha): Load schema and types using Stream framework (#7938)
  schema/schema.go
  worker/groups.go
Labels: area/schema

#7941 opt(Alpha): Load schema and types using Stream framework (#7938)
  schema/schema.go
  worker/groups.go
Labels: area/schema

#7955 feat(lambda): store lambda scripts within the dgraph, send it to JS s…
  dgraph/cmd/bulk/loader.go
  edgraph/server.go
  graphql/admin/admin.go
  graphql/admin/lambda.go
  graphql/e2e/common/admin.go
  graphql/e2e/common/common.go
  graphql/e2e/directives/dgraph_directives_test.go
  graphql/e2e/directives/docker-compose.yml
  graphql/e2e/normal/docker-compose.yml
  graphql/e2e/normal/normal_test.go
  graphql/e2e/schema/schema_test.go
  graphql/schema/custom_http.go
  protos/pb.proto
  protos/pb/pb.pb.go
  t/test-286-1491914842.log
  worker/export.go
  worker/graphql_schema.go
  worker/lambda_script.go
  worker/online_restore.go
  x/types.go
Labels: area/bulk-loader, area/graphql

#7964 cherry pick: release/v21.03: The Acl cache should be updated on restart and restore.
  dgraph/cmd/alpha/run.go
  edgraph/access.go
  edgraph/access_ee.go
  edgraph/server.go
  graphql/admin/restore.go
  systest/acl/restore/acl-secret
  systest/acl/restore/acl_restore_test.go
  systest/acl/restore/data/backups/dgraph.20210730.124449.146/r21-g1.backup
  systest/acl/restore/data/backups/manifest.json
  systest/acl/restore/docker-compose.yml
  systest/online-restore/online_restore_test.go
  worker/acl_cache.go
  worker/acl_cache_test.go
  worker/online_restore_ee.go
Labels: area/graphql, area/testing
