Repository hypermodeinc/dgraph, pull requests merged in 2021-04, with the labels that each got.

#7679 fix(flags): fix bulk loader flag and remove flag parsing from critical path
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/run.go
  worker/draft.go
  x/config.go
Labels: area/bulk-loader

#7680 Opt(Backup): Make backups faster
  codec/codec.go
  dgraph/cmd/increment/increment.go
  dgraph/main.go
  go.mod
  go.sum
  graphql/e2e/common/common.go
  posting/list.go
  posting/list_test.go
  worker/backup.go
  worker/backup_ee.go
  worker/draft.go
  worker/export.go
  worker/restore_map.go
Labels: area/graphql

#7681 [BREAKING] chore(flags): move encryption_key_file and 2 other flags under superflag
  compose/compose.go
  contrib/config/backups/client/compose-setup.sh
  contrib/manual_tests/test.sh
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/run.go
  dgraph/cmd/decrypt/decrypt.go
  dgraph/cmd/live/load-uids/load_test.go
  dgraph/cmd/zero/run.go
  dgraph/docker-compose.yml
  edgraph/server.go
  ee/enc/flags.go
  ee/utils.go
  ee/utils_ee.go
  systest/backup/encryption/backup_test.go
  systest/backup/encryption/docker-compose.yml
  systest/online-restore/docker-compose.yml
  testutil/backup.go
  worker/online_restore_ee.go
  worker/server_state.go
Labels: area/bulk-loader, area/commercial, area/integrations, area/live-loader, area/testing

#7684 Move UriHandler code out to x package
  ee/backup/run.go
  go.mod
  go.sum
  worker/backup_ee.go
  worker/backup_handler_test.go
  worker/backup_manifest.go
  worker/online_restore.go
  worker/restore_map.go
  x/handlers.go
Labels: area/commercial

#7663 feat(GRAPHQL): Add language tag support in GraphQL
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/common/query.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/query_test.yaml
  graphql/resolve/schema.graphql
  graphql/schema/dgraph_schemagen_test.yml
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
  graphql/schema/schemagen.go
  graphql/schema/testdata/schemagen/input/language-tags.graphql
  graphql/schema/testdata/schemagen/output/language-tags.graphql
Labels: area/graphql

#7692 chore(release): cherry-pick pending commits from master
  .github/workflows/golangci-lint.yml
  Makefile
  compose/compose.go
  compose/run.sh
  contrib/config/marketplace/aws/tests/requirements.txt
  contrib/config/vault/README.md
  contrib/config/vault/docker/.env
  contrib/config/vault/docker/.gitignore
  contrib/config/vault/docker/README.md
  contrib/config/vault/docker/dgraph_alpha_config.yaml
  contrib/config/vault/docker/docker-compose.yaml
  contrib/config/vault/docker/vault/.gitkeep
  contrib/config/vault/docker/vault/config.hcl
  contrib/config/vault/docker/vault/payload_alpha_secrets.json
  contrib/config/vault/docker/vault/policy_admin.hcl
  contrib/config/vault/docker/vault/policy_dgraph.hcl
  contrib/embargo/requirements.txt
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/mapper.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/increment/increment.go
  dgraph/cmd/zero/raft.go
  dgraph/cmd/zero/run.go
  edgraph/server.go
  worker/server_state.go
  x/x.go
Labels: area/bulk-loader, area/integrations

#7687 Fix(GraphQL): Fix __typename result along with aggregate fields
  graphql/e2e/common/query.go
  graphql/resolve/resolver.go
Labels: area/graphql

#7689 Fix(GraphQL): Fix Schema gen in case of GraphQL fields mapping to reverse Dgraph predicates
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
Labels: area/graphql

#7699 Remove LastBackupStatus
  edgraph/server.go
  protos/pb.proto
  protos/pb/pb.pb.go
  systest/backup/encryption/backup_test.go
  systest/backup/filesystem/backup_test.go
  systest/backup/minio-large/backup_test.go
  systest/backup/minio/backup_test.go
  systest/backup/multi-tenancy/backup_test.go
  systest/online-restore/online_restore_test.go
  testutil/backup.go
  testutil/client.go
  worker/backup_common.go
  worker/backup_ee.go
Labels: area/testing

#7701 fix(vault): Hide ACL flags when not required
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/run.go
  dgraph/cmd/debug/run.go
  dgraph/cmd/decrypt/decrypt.go
  dgraph/cmd/live/load-uids/load_test.go
  dgraph/cmd/live/run.go
  ee/backup/run.go
  ee/enc/flags.go
  ee/flags.go
  ee/utils_ee.go
  ee/vault/flags.go
  ee/vault/vault.go
  ee/vault_ee.go
  systest/backup/encryption/backup_test.go
  testutil/backup.go
  worker/online_restore_ee.go
  worker/server_state.go
Labels: area/bulk-loader, area/commercial, area/live-loader, area/testing

#7695 fix(GraphQL): fix @cascade with Pagination for @auth queries.
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/delete_mutation_test.go
  graphql/e2e/auth/schema.graphql
  graphql/e2e/auth/test_data.json
  graphql/e2e/auth/update_mutation_test.go
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#7707 chore(embargo) - update pyenv + python env to run embargo
  contrib/embargo/.python-version
  contrib/embargo/README.md
  contrib/embargo/requirements.txt
Labels: area/integrations

#7694 [BREAKING] perf(Transactions): Run transactions concurrently
  compose/compose.go
  dgraph/cmd/alpha/run.go
  dgraph/cmd/debug/run.go
  dgraph/cmd/live/batch.go
  dgraph/cmd/live/run.go
  edgraph/server.go
  go.mod
  go.sum
  posting/index.go
  posting/index_test.go
  posting/list.go
  posting/lists.go
  posting/mvcc.go
  posting/oracle.go
  protos/pb.proto
  protos/pb/pb.pb.go
  systest/21million/ludicrous/docker-compose.yml
  systest/21million/ludicrous/run_test.go
  systest/21million/test-21million.sh
  systest/ludicrous/1predicate-c.schema
  systest/ludicrous/1predicate.schema
  systest/ludicrous/docker-compose.yml
  systest/ludicrous/queries/query-001
  systest/ludicrous/run_test.go
  systest/ludicrous/test.sh
  systest/ludicrous/upsert_test.go
  t/t.go
  testutil/bulk.go
  worker/cdc_ee.go
  worker/docker-compose.yml
  worker/draft.go
  worker/executor.go
  worker/mutation.go
  worker/proposal.go
  worker/server_state.go
  worker/snapshot_test.go
  worker/task.go
  worker/worker_test.go
  x/config.go
  x/debug.go
  x/nodebug.go
Labels: area/testing

#7726 Fix(GraphQL): Fix GraphQL encoding in case of empty list
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  query/outputnode_graphql.go
Labels: area/graphql

#7713 fix(ee): GetKeys should return an error
  dgraph/cmd/alpha/run.go
  dgraph/cmd/bulk/run.go
  dgraph/cmd/debug/run.go
  dgraph/cmd/decrypt/decrypt.go
  dgraph/cmd/live/run.go
  ee/backup/run.go
  ee/flags.go
  ee/keys.go
  ee/keys_ee.go
  ee/utils_ee.go
  testutil/backup.go
  worker/restore_map.go
Labels: area/bulk-loader, area/commercial, area/live-loader

#7722 fix(bulk): throw the error instead of crashing
  dgraph/cmd/bulk/mapper.go
  dgraph/cmd/bulk/schema.go
  worker/mutation.go
Labels: area/bulk-loader

#7729 fix(lsBackup): Fix profiler conf in lsBackup
  ee/backup/run.go
Labels: area/commercial

#7730 Fix(GraphQL): Fix GraphQL encoding in case of empty list (#7726)
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  query/outputnode_graphql.go
Labels: area/graphql

#7728 Fix(GraphQL): Add filter in DQL query in case of reverse predicate
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/resolve/schema.graphql
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
Labels: area/graphql

#7734 Fix(GraphQL): Add filter in DQL query in case of reverse predicate (#…
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/resolve/schema.graphql
  graphql/schema/gqlschema_test.yml
Labels: area/graphql

#7733 Fix(GraphQL): Add filter in DQL query in case of reverse predicate (#…
  graphql/resolve/query_rewriter.go
  graphql/resolve/query_test.yaml
  graphql/resolve/schema.graphql
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
Labels: area/graphql

#7731 [BREAKING] fix(usability): make force-namespace flag compulsory in live loader for galaxy user
  dgraph/cmd/live/load-json/load_test.go
  dgraph/cmd/live/load-uids/load_test.go
  dgraph/cmd/live/run.go
  edgraph/access_ee.go
  systest/loader/loader_test.go
  testutil/bulk.go
Labels: area/live-loader, area/testing

#7740 fix(GraphQL): fix auth query rewriting with ID filter
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/schema.graphql
  graphql/e2e/auth/test_data.json
  graphql/resolve/auth_query_test.yaml
  graphql/resolve/query_rewriter.go
Labels: area/graphql

#7742 feat(GraphQL): Disallow DQL schema changes for predicates used in GraphQL schema (DGRAPH-3245)
  edgraph/server.go
  graphql/e2e/schema/schema_test.go
Labels: area/graphql

#7736 Feat(GRAPHQL): This PR allows updatable and nullable @id fields.
  graphql/e2e/auth/add_mutation_test.go
  graphql/e2e/auth/auth_test.go
  graphql/e2e/auth/debug_off/debugoff_test.go
  graphql/e2e/auth/schema.graphql
  graphql/e2e/common/common.go
  graphql/e2e/common/mutation.go
  graphql/e2e/directives/schema.graphql
  graphql/e2e/directives/schema_response.json
  graphql/e2e/normal/schema.graphql
  graphql/e2e/normal/schema_response.json
  graphql/e2e/subscription/subscription_test.go
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/schema.graphql
  graphql/resolve/update_mutation_test.yaml
  graphql/schema/gqlschema.go
  graphql/schema/gqlschema_test.yml
  graphql/schema/rules.go
  graphql/schema/testdata/apolloservice/output/auth-directive.graphql
  graphql/schema/testdata/apolloservice/output/extended-types.graphql
  graphql/schema/testdata/apolloservice/output/single-extended-type.graphql
  graphql/schema/testdata/schemagen/input/custom-dql-query-with-subscription.graphql
  graphql/schema/testdata/schemagen/output/apollo-federation.graphql
  graphql/schema/testdata/schemagen/output/authorization.graphql
  graphql/schema/testdata/schemagen/output/custom-dql-query-with-subscription.graphql
  graphql/schema/testdata/schemagen/output/field-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/field-with-multiple-@id-fields.graphql
  graphql/schema/testdata/schemagen/output/interface-with-id-directive.graphql
  graphql/schema/testdata/schemagen/output/language-tags.graphql
  graphql/schema/testdata/schemagen/output/password-type.graphql
Labels: area/graphql

#7545 feat: Neo4j CSV to RDF Converter
  contrib/neo4j-converter/Neo4jCSVToRDFConverter.go
  contrib/neo4j-converter/Neo4jConverter_test.go
  contrib/neo4j-converter/example.csv
  contrib/neo4j-converter/output.rdf
  go.mod
Labels: area/integrations

#7749 release/v21.03: fix(bulk): throw the error instead of crashing (#7722)
  dgraph/cmd/bulk/mapper.go
  dgraph/cmd/bulk/schema.go
  worker/mutation.go
Labels: area/bulk-loader

#7751 Fix(graphql): Fix error message of lambdaOnMutate directive
  graphql/schema/rules.go
Labels: area/graphql

#7754 cherry-pick release/v21.03: Fix(graphql): Fix error message of lambdaOnMutate directive (#7751)
  graphql/schema/rules.go
Labels: area/graphql

#7750 release/v21.03: fix(raftwal): take snapshot after restore (#7719)
  systest/online-restore/online_restore_test.go
  worker/draft.go
  worker/online_restore.go
  worker/online_restore_ee.go
Labels: area/testing

#7756 cherry-pick release/v21.03-slase: fix(export): Fix facet export of reference type postings to JSON form…
  systest/export/export_test.go
  worker/export.go
  worker/export_test.go
Labels: area/testing

#7757 opt(GraphQL): filter existence queries on GraphQL side instead of using @filter(type)
  graphql/admin/add_group.go
  graphql/admin/update_group.go
  graphql/e2e/common/mutation.go
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/auth_update_test.yaml
  graphql/resolve/extensions_test.go
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/mutation_test.go
  graphql/resolve/resolver_error_test.go
  graphql/resolve/update_mutation_test.yaml
Labels: area/graphql

#7747 Update Ristretto to bring in new Buffer and Tree API
  dgraph/cmd/bulk/mapper.go
  dgraph/cmd/bulk/reduce.go
  dgraph/cmd/zero/oracle.go
  dgraph/cmd/zero/run.go
  go.mod
  go.sum
  worker/backup_ee.go
  worker/predicate_move.go
  worker/restore_map.go
  worker/restore_reduce.go
  worker/snapshot.go
  xidmap/trie.go
  xidmap/xidmap.go
Labels: area/bulk-loader

#7760 release/slash: opt(GraphQL): filter existence queries on GraphQL side instead of using @filter(type) (#7757)
  graphql/admin/add_group.go
  graphql/admin/update_group.go
  graphql/e2e/common/mutation.go
  graphql/resolve/add_mutation_test.yaml
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_delete_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/auth_update_test.yaml
  graphql/resolve/extensions_test.go
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
  graphql/resolve/mutation_test.go
  graphql/resolve/resolver_error_test.go
  graphql/resolve/update_mutation_test.yaml
Labels: area/graphql

#7759 fix(bulk): upsert guardian/groot for all existing namespaces
  dgraph/cmd/bulk/run.go
  dgraph/cmd/bulk/schema.go
  edgraph/access_ee.go
  protos/pb.proto
  protos/pb/pb.pb.go
  schema/schema.go
  systest/bulk_live/bulk/alpha_acl.yml
  systest/bulk_live/bulk/bulk_test.go
  systest/bulk_live/common/bulk_live_cases.go
  systest/bulk_live/common/bulk_live_fixture.go
  testutil/bulk.go
  x/keys.go
Labels: area/bulk-loader, area/schema

#7768 Fix(GraphQL): Make mutation rewriting tests more robust
  graphql/resolve/auth_add_test.yaml
  graphql/resolve/auth_test.go
  graphql/resolve/auth_update_test.yaml
  graphql/resolve/mutation.go
  graphql/resolve/mutation_rewriter.go
Labels: area/graphql
