Repository hypermodeinc/dgraph, pull requests merged in 2025-06, with the labels that each got.

#9430 perf(core): Cache uids array in ristretto
  dgraph/cmd/debug/run.go
  dgraph/cmd/live/batch.go
  posting/index_test.go
  posting/list.go
  posting/list_test.go
  posting/lists.go
  posting/lmap_test.go
  posting/mvcc.go
  posting/mvcc_test.go
  worker/task.go
Labels: area/testing, area/live-loader, area/core, go

#9431 perf(core): Add sharded map for post query speedup
  dql/math.go
  edgraph/server.go
  query/groupby.go
  query/math.go
  query/math_test.go
  query/outputnode.go
  query/outputrdf.go
  query/query.go
  types/sharded_map.go
Labels: area/testing, area/querylang, area/live-loader, area/core, go

#9406 Add support for HA and multishard functionality in import APIs
  dgraph/cmd/dgraphimport/import_client.go
  dgraph/cmd/dgraphimport/import_test.go
  dgraphapi/cluster.go
  dgraphtest/local_cluster.go
  edgraph/server.go
  go.mod
  go.sum
  protos/pb.proto
  protos/pb/pb.pb.go
  protos/pb/pb_grpc.pb.go
  worker/draft.go
  worker/import.go
  x/health.go
Labels: area/testing, area/core, go

#9443 Add dgraph import command that imports data using bulk loader
  .trunk/trunk.yaml
  dgraph/cmd/bulk/loader.go
  dgraph/cmd/bulk/mapper.go
  dgraph/cmd/bulk/merge_shards.go
  dgraph/cmd/bulk/run.go
  dgraph/cmd/bulk/schema.go
  dgraph/cmd/dgraphimport/run.go
  dgraph/cmd/root.go
  edgraph/multi_tenancy.go
Labels: area/testing, area/bulk-loader, go
